.facility-banner {
  @include clearfix;
  background: rgba(0, 0, 0, 0.4);;
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  @media (max-width: $swich_sp) {
    height: auto;
  }

  li, ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    padding-bottom: (4.5 / 16) * 100%;
    position: relative;
    white-space: nowrap;
    @media (max-width: $swich_sp) {
      height: 250px;
    }
  }

  li {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    @media (max-width: $swich_sp) {
      width: 100%;
    }

    &:last-child {
      left: auto;
      right: 0;
      @media (max-width: $swich_sp) {
        display: none;
      }
    }

    figure {
      height: 100%;
      margin: 0;
      overflow: hidden;
      width: 100%;

      background: {
        position: center center;
        size: cover;
      }

      img { display: none; }
    }

  }

}
