$gutter: modular-scale(1, 0.13em, $golden);

.facility-cell {
  @include span-columns(12);
  background-color: #fff;
  box-sizing: border-box;
  font-size: $fsize14;
  letter-spacing: .025em;
  line-height: $lheightm;
  margin-bottom: $space-lg;
  padding: 0;
  position: relative;

  .facility-cell-experience {
    .facility-cell-tags {
      .tag-kind {
        display: none;
      }
    }
  }

  &:nth-child(2n+2) {
    @include omega;
  }

  @media (min-width: $swich_pc) {
    @include span-columns(6);
    margin-bottom: $space;
  }

  &-wrapper {
    position: relative;
  }

  &-link-block {
    display: block;
    text-decoration: none;
  }

  &-image-wrapper {
    background: {
      color: $c_gray_light;
      position: 50% 50%;
      size: cover;
    }

    height: 235px;

    @media (min-width: $swich_pc) {
      height: 360px;
    }

    img {
      display: none;
    }
  }

  &-thumbnails-wrapper {
    display: none;
    height: 75px;
    overflow: hidden;

    @media (min-width: $swich_pc) {
      height: 122px;
    }

    .thumbnail {
      float: left;
      width: 32%;
      margin-right: 2%;
      overflow: hidden;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .cover {
        height: 122px;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;

        @media (min-width: $swich_pc) {
          max-width: 164px;
        }
      }
    }
  }

  &-figure {
    > a {
      display: block;
      text-decoration: none;
    }
  }

  &-details {
    border-top: none;
    color: $fc_gray;
    padding: $space-md;

    @media (min-width: $swich_pc) {
      padding: $space-lg;
    }
  }

  &-tags {
    margin-bottom: $space-xs;
    @include clearfix();

    @media (min-width: $swich_pc) {
      margin-bottom: $space-sm;
    }

    .tag {
      background-color: $c_gray_light;
      border-radius: 4px;
      color: $c_gray_dark;
      float: left;
      font-size: 12px;
      line-height: 1;
      margin-bottom: $space-xs;
      margin-right: $space-sm;
      padding: 4px 6px;
      text-decoration: none;

      @media (min-width: $swich_pc) {
        margin-bottom: $space-sm;
      }

      &.tag-hash {
        background-color: $c_darkblue;
        color: #fff;
      }
    }
  }

  &-name {
    color: $c_gray_dark;
    font-size: 18px;
    letter-spacing: .075em;
    line-height: $lheightm;
    margin-bottom: $space-md;

    @media (min-width: $swich_pc) {
      font-size: 20px;
      margin-bottom: $space;
    }

    span {
      color: inherit;
      font-size: 14px;

      &:empty {
        display: none;
      }

      &:first-child {
        &:before {
          content: '(';
        }
      }

      &:last-child {
        &:after {
          content: ')';
        }
      }

      + span {
        &:before {
          content: ',';
          margin: 0 3px;
        }
      }
    }
  }

  &-headline {
    color: $fc_gray;
    font-family: $default-font-family;
    font-size: 12px;
    line-height: $lheightm;
    margin-bottom: $space;
  }

  &-lowest-base-price {
    font-family: $default-font-family;
    font-size: 14px;
    line-height: $lheightm;
    margin: 0;

    @media (min-width: $swich_pc) {
      font-size: 12px;
    }

    strong {
      color: $fc_gray;
      font-weight: 700;
    }
  }

  &-voice {
    font-family: $default-font-family;
    margin-top: $space;

    .heading {
      color: $c_gray_dark;
      font-size: 12px;
      letter-spacing: .025em;
      margin: 0 0 $space-xs;
    }

    p {
      color: $c_gray_dark;
      font-size: 12px;
      line-height: $lheightm;
    }
  }

  &-action {
    margin: $space auto 0;
    text-align: center;

    .btn-primary {
      display: inline-block;
      font-size: 12px;
      position: relative;
    }
  }

  &-experience {
    &::after {
      bottom: 0;
      content: '';
      height: 0;
      position: absolute;
      right: 0;
      width: 0;

      border: {
        color: transparent $c_darkblue $c_darkblue transparent;
        style: solid;
        width: (20px / 2);
      }
    }
  }
}

.facility-subtitle {
  color: #545454;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $swich_pc) {
    font-size: 12px;
    line-height: 18px;
  }
}
