.facilities-index {
  $margin-top: 20px;
  margin-bottom: 40px;

  .content {
    margin-top: $margin-top;

    h1 {
      line-height: $lheightm;
      margin-bottom: 0;

      font: {
        size: 20px;
        weight: normal;
      }
    }
  }

  .main {
    color: $c_white;
    text-align: center;

    background: {
      image: url('images/facilities/index-top.jpg');
      size: cover;
    }

    .in {
      display: flex;
      height: 390px;
      margin: 0 auto;
      opacity: 0.8;
      padding-bottom: 4px;
      position: relative;
      flex-flow: column nowrap;
      justify-content: center;

      h1 {
        letter-spacing: 0.12em;
        line-height: $lheightl;
        margin-bottom: 2px;
        position: static;
        top: auto;

        font: {
          size: 28px;
          weight: normal;
        }
      }

      p {
        position: static;
      }

      p.description {
        font-size: $fsize18;
        letter-spacing: 0;
        line-height: 1.72;
        top: auto;
      }
    }
  }

  .content-header {
    @include clearfix;
    margin-bottom: $margin-top;
    @media (max-width: $swich_sp) {
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      float: left;
      margin: 8px 0;
      font-size: 16px;
      color: $fc_gray;
      @media (max-width: $swich_sp) {
        float: none;
        margin: 10px 0 20px 0;
        font-size: 21px;
      }
    }

    nav {
      float: right;
      font-size: 16px;
    }
  }
}
