.facility-item { // for facility-meal & facility-room
  background: #fff;
  margin: $space-lg auto;
  position: relative;

  + .facility-item {
    border-top: 1px solid $c_gray_light;
    padding-top: $space-lg;
  }

  @media (min-width: $swich_pc) {
    margin: ($space-max * 1.4) auto;
    @include align-items(stretch);
    @include display(flex);

    + .facility-item {
      border-top: none;
      padding-top: 0;
    }
  }

  $image_width: 390px;
  &-images {
    width: 100%;

    @media (min-width: $swich_pc) {
      width: $image_width;
    }

    figure {
      background: {
        position: center;
        size: cover;
      }
      outline: none;
    }

    img {
      height: 235px;
      width: 100%;
      visibility: hidden;

      @media (min-width: $swich_pc) {
        height: 314px;
      }
    }

    &.empty {
      background-color: #e0e0e0;

      .d-tb {
        display: table;
        text-align: center;
        @include size(100%);

        @media (max-width: $swich_sp) {
          height: 185px;
        }

        @include display-context(table) {
          .d-tbc {
            color: $c_gray;
            font: {
              size: 18px;
              weight: 500;
            }
            vertical-align: middle;
            @include span-columns(12);
          }
        }
      }
    }
  }

  &-details {
    margin-top: $space;
    width: 100%;

    @media (min-width: $swich_pc) {
      margin-top: 0;
      padding-left: $space-xlg;
      width: calc(100% - #{$image_width});
    }
  }
}
