.facility-meal {
  #{&}-details {
    .facility-meal-kind {
      color: $c_gray;
      font-family: $default-font-family;
      font-size: $fsize14;
      line-height: 20px;
      margin: $space-lg 0 $space-sm;

      @media (min-width: $swich_pc) {
        margin: $space-md 0;
      }
    }

    .iconfont {
      color: $c_gray;
      font-size: 20px;
      line-height: 1;
      vertical-align: -1px;
    }

    h2 {
      font-size: 20px;
      line-height: $lheightm;
      margin-bottom: $space-sm;

      @media (min-width: $swich_pc) {
        line-height: 26px;
        margin-bottom: $space-md;
      }
    }

    .desc {
      color: #888;
      font-family: $default-font-family;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: $space-md;
    }

    .dl-horizontal {
      $dt-width: 85px;
      padding-left: $dt-width;

      dt {
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: $space-md;
        margin-left: -($dt-width);
        width: $dt-width - $space-md;
      }

      dd {
        color: #888;
        font-size: 12px;
        line-height: 20px;

        &.price {
          color: #791e1f;
          font-size: 16px;
          font-weight: bold;

          .taxes-included {
            color: #791e1f;
            font-size: 10px;
          }
        }
      }
    }
  }
}
