.facility-page {
  overflow: hidden;
  position: relative;
  width: 100%;

  .facility-date-available {
    color: #791e1f;
    font-family: $default-font-family;
    font-size: $fsize12;
    line-height: $lheights;
    margin: $space-md auto;
    text-align: center;

    span {
      color: inherit;
      font-weight: bold;

      + span {
        margin-left: $space-sm;
      }
    }

    @media (min-width: $swich_pc) {
      font-size: $fsize16;
      margin: $space-lg auto;

      span {
        + span {
          margin-left: $space-md;
        }
      }
    }
  }

  .facility-mini-header {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      font-family: sans-serif;
    }
    .meal-note {
      font-size: 11px;
      font-weight: 300;
    }
  }

  .facility-banner {
    margin-bottom: 40px;
  }

  .facility-reservation-sp {
    text-align: center;
    padding: 0 10px;
    @media (min-width: $swich_pc) {
      display: none;
    }
    .btn-primary {
      width: 70%;
      padding: 17px;
    }
  }

  .facility-columns {
    @include outer-container($container-width);

    .facility-columns-inner {
      padding: $space $space-md;
      text-align: center;

      @media (min-width: $swich_pc) {
        padding: $space-lg $space-md;
      }
    }

    .facility-main-column {
      width: 860px;
      margin-left: 130px;
      @media (max-width: $swich_sp) {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
      }
      h1 {
        font-size: 31px;
        letter-spacing: 0.02em;
        margin-bottom: 26px;
      }
    }

    .facility-column-section {
      margin-bottom: 20px;

      dl.dl-horizontal {
        margin: 0;
        padding: 30px;
        dt {
          margin: 0 0 15px 0;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          width: 132px;
          @media (max-width: $swich_sp) {
            float: left;
            margin-bottom: 5px;
            width: 100%;
          }
        }
        dd {
          float: none;
          padding-left: 132px;
          font-size: 12px;
          line-height: 19px;
          color: #666;
          ul {
            li {
              font-size: 12px;
              line-height: 19px;
              color: #666;
            }
          }
          @media (max-width: $swich_sp) {
            float: left;
            padding-left: 0;
            margin-bottom: 16px;
          }
          &.price {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            span.taxes-included {
              font-size: 10px;
              font-weight: 300;
              margin-left: $space-xs;
            }
          }
        }
      }
    }
  }

  .facility-kind, .facility-name {
    .content {
      $padding-lateral: 10px;

      padding: {
        left: $padding-lateral;
        right: $padding-lateral;
      }
    }
  }

  .facility-rooms {
    margin: 0 0 60px;
  }

  .tag-list {
    margin: 0 0 60px;
  }

  .facility-tags {
    margin-bottom: 40px;
  }

  .facilities-related {
    margin-left: auto;
    margin-right: auto;
    @include outer-container($facilities-container-width);

    h1 {
      line-height: $lheightm;
      margin-bottom: 20px;
      font: {
        size: 24px;
        weight: normal;
      }

      @media (max-width: $swich_sp) {
        font-size: $fsize16;
        margin-bottom: $space-md;
        margin-left: $space-sm;
      }
    }

    .facility-cell {
      @media (min-width: $swich_pc) {
        @include span-columns(3);
        height: 610px;
        margin-bottom: 20px;

        .facility-cell-image-wrapper {
          @media (min-width: $swich_pc) {
            height: 185px;
          }
        }
      }
    }

    .content {
      @media (max-width: $swich_sp) {
        padding-top: $space-lg;
      }
    }
  }
}
