.facility-relate-cell {
  background-color: #fff;
  box-sizing: border-box;
  font-size: $fsize14;
  line-height: $lheightm;
  margin-bottom: $space-sm;
  padding: 0 $space-sm;
  position: relative;

  @media (min-width: $swich_pc) {
    @include span-columns(3);
    margin-bottom: $space;
    padding: 0;
  }

  > a {
    background: #fff;
    display: block;
    text-decoration: none;
  }

  &-figure {
    position: relative;

    &::after {
      display: none;
    }

    @media (max-width: $swich_sp) {
      width: 100%;
      @include align-items(stretch);
      @include display(flex);
      @include flex-wrap(wrap);
    }
  }

  &-image-wrapper {
    background: {
      color: $c_gray_light;
      position: 50% 50%;
      size: cover;
    }
    width: 38%;

    @media (min-width: $swich_pc) {
      height: 180px;
      width: 100%;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      visibility: hidden;

      @media (min-width: $swich_pc) {
        display: none;
      }
    }
  }

  &-details {
    border-top: none;
    color: $fc_gray;
    padding: $space-sm;
    width: percentage(1 - 0.38);

    @media (min-width: $swich_pc) {
      min-height: 180px;
      padding: $space-md;
      width: 100%;
    }

    .facility-cell-tags {
      @include clearfix();

      .tag {
        background-color: $c_gray_light;
        border-radius: 3px;
        color: $c_gray_dark;
        float: left;
        font-family: $default-font-family;
        font-size: $fsize10;
        line-height: 1;
        margin-bottom: 10px;
        padding: 4px 6px;
        text-decoration: none;
      }
    }

    .facility-cell-name {
      color: $fc_gray;
      font-size: $fsize12;
      margin-bottom: $space-sm;

      @media (min-width: $swich_pc) {
        font-size: $fsize16;
        margin-bottom: $space-sm;
      }
    }
  }

  &-prefecture {
    color: $fc_gray;
    font-family: $default-font-family;
    font-size: $fsize10;
    line-height: $lheightm;

    @media (min-width: $swich_pc) {
      font-size: $fsize12;
    }
  }

  &-lowest-price {
    font-family: $default-font-family;
    font-size: $fsize14;
    margin: 10px 0 0;

    strong {
      color: $fc_gray;
      font-weight: bold;
    }
  }
}
