.facility-room {
  #{&}-description {
    h2 {
      font-size: 18px;
      margin-bottom: $space-md;

      @media (min-width: $swich_pc) {
        font-size: 20px;
      }
    }

    .desc {
      color: #888;
      font-family: sans-serif;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: $space-md;
    }

    .dl-horizontal {
      $dt-width: 95px;
      padding-left: $dt-width;

      dt {
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: $space-xs;
        margin-left: -($dt-width);
        width: $dt-width - $space-md;

        &.price-label {
          margin-top: $space-sm;
        }
      }

      dd {
        color: #888;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0;

        &.price {
          margin-top: $space-sm;

          .price-range,
          .taxes-included,
          .lodging {
            color: #791e1f;
            display: inline-block;
            font-weight: bold;
          }

          .price-range {
            font-size: 16px;
          }

          .taxes-included {
            font-size: 10px;
          }

          .lodging {
            font-size: 10px;

            &:before {
              content: '/';
              display: inline-block;
              margin: 0 2px;
            }
          }
        }
      }
    }
  }

  #{&}-footer {
    margin-top: $space;

    @media (min-width: $swich_pc) {
      padding-left: $space;
    }

    i {
      background: url('images/facilities/icon-calendar.svg') no-repeat top center;
      display: inline-block;
      height: 18px;
      line-height: 18px;
      vertical-align: middle;
      width: 15px;
    }

    .btn {
      display: block;
    }

    .btn-secondary {
      color: #284890;
      line-height: 18px;
      margin-top: $space-sm;

      i {
        background: url('images/facilities/icon-calendar.svg') no-repeat top center;
        display: inline-block;
        height: 18px;
        line-height: 18px;
        margin-right: $space-xs;
        vertical-align: -3px;
        width: 15px;
      }
    }
  }

  &-people {
    float: left;
    font-size: 20px;
    letter-spacing: 0.3em;
    margin-top: 6px;
  }

  &-pricing {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-reserve {
    clear: both;
    margin-top: 17px;
    a {
      &.btn {
        width: 100%;
      }
    }
  }

  &-reservation-button-label {
    display: block;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }
}
