.facility-breadcrumb {
  display: none;

  @media (min-width: $swich_pc) {
    background-color: #fff;
    margin-top: $header-height;
    display: block;
  }

  @import '../container';

  .breadcrumb {
    @include clearfix();

    li {
      color: $c_gray;
      float: left;
      font-family: $default-font-family;
      font-size: $fsize12;
      line-height: 20px;
      margin-right: $space-sm;
      padding: $space-xs 0;

      &:last-child {
        margin-right: 0;
      }

      .fa {
        color: $c_gray;
        margin-left: $space-sm;
      }
    }
  }
}

.facilities-show {
  margin-bottom: $space-lg;
  margin-top: $header-height-sp;

  @media (min-width: $swich_pc) {
    margin-top: 0;
  }

  .facility-header {
    position: relative;

    .facility-kind { // 施設種類
      color: #999;
      font-family: sans-serif;
      font-size: 12px;
      letter-spacing: .05em;
      margin-bottom: $space-sm;
    }

    .facility-name {  // 施設名
      font-size: 21px;
      font-weight: 500;
      letter-spacing: .05em;
      line-height: 1.35;

      @media (min-width: $swich_pc) {
        font-size: 28px;
      }
    }

    .facility-room-size { // 部屋の広さ
      color: #999;
      font-size: 12px;
      margin-top: $space-sm;

      span {
        color: inherit;
        display: inline-block;
        font-size: 12px;
        vertical-align: top;

        + span {
          &:before {
            content: ',';
            display: inline-block;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .facility-tab {
    background-color: #fff;
    box-sizing: border-box;
    border: solid #ddd;
    border-width: 1px 0;
    position: relative;

    @media (min-width: $swich_pc) {
      border-width: 1px;
    }

    &-container {
      margin-left: auto;
      margin-right: auto;
      @include outer-container($facilities-container-width);
    }

    &-header {
      @include align-items(stretch);
      @include display(flex);
      @include flex-flow(row nowrap);
      @include justify-content(stretch);
      font-family: $default-font-family;
      width: 100%;

      &.upper {
        .tab-link {
          border-bottom: 1px solid #ddd;

          &.active {
            border-bottom-color: transparent;
          }

          &.tab-rooms {
            border-bottom-color: $facilities-tab-link-color;
          }
        }
      }

      &.lower {
        .tab-link {
          border-top: 1px solid #ddd;

          &.active {
            border-top-color: transparent;
          }

          &.btn {
            border-top-color: $facilities-tab-link-color;
          }

          &.tab-rooms {
            border-top-color: $facilities-tab-link-color;
          }
        }
      }

      .tab-link {
        @include flex-grow(1);
        @include flex-shrink(0);
        background-color: #fff;
        border-radius: 0;
        color: $facilities-tab-link-color;
        display: table-cell;
        font-size: $fsize10;
        font-weight: 500;
        line-height: 1.25;
        padding: $space-sm;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;

        @media (min-width: $swich_pc) {
          display: block;
          font-size: $fsize14;
          line-height: 20px;
          padding: $space-md;
        }

        + .tab-link {
          border-left: 1px solid #ddd;
        }

        .fa {
          color: $facilities-tab-link-color;
          display: none;
          font-size: 16px;
          margin-right: 5px;

          @media (min-width: $swich_pc) {
            display: inline-block;
          }

          &:before {
            display: block;
          }
        }

        &.tab-rooms {
          background-color: $facilities-tab-link-color;
          border-left-color: $facilities-tab-link-color;
          color: #fff;
          outline: 0;

          .fa {
            color: #fff;
          }
        }
      }
    }

    &-content {
      padding: 0 $space-sm;

      @media (min-width: $swich_pc) {
        padding: 0 ($space-max * 2);
      }

      .heading,
      > h2 {
        font-size: $fsize18;
        font-weight: normal;
        line-height: 26px;
        margin-top: $space-lg;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: 24px;
          line-height: 38px;
          margin-top: $space-max;
        }

        &.has-no-meals { // 食事がない時
          margin-bottom: $space-lg;

          @media (min-width: $swich_pc) {
            margin-bottom: $space-max;
          }
        }
      }

      .meal-note {
        color: #791e1f;
        font-family: $default-font-family;
        font-size: $fsize12;
        line-height: $lheightm;
        margin-top: $space-sm;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: $fsize14;
          line-height: 20px;
          margin-top: $space;
        }
      }
    }
  }

  .facility-description {
    margin-top: $space-lg;

    @media (min-width: $swich_pc) {
      margin-top: $space-max;
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: normal;
      margin: $space-lg 0;
    }

    p {
      line-height: $lheightl;
      margin-bottom: $space;

      > img {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
      }
    }
  }

  .facility-details {
    margin: $space-lg auto;
    font-family: $default-font-family;

    @media (min-width: $swich_pc) {
      margin: ($space-xlg * 1.5) auto;
    }

    > h2 {
      background-color: #f1f1f1;
      font-size: $fsize14;
      font-weight: bold;
      letter-spacing: .0725em;
      margin-bottom: $space-lg;
      padding: 12px 0;
      text-align: center;

      @media (min-width: $swich_pc) {
        line-height: 20px;
      }
    }

    .dl-horizontal {
      padding-left: 0;

      $dt-width: 140px;
      @media (min-width: $swich_pc) {
        padding-left: $dt-width;
      }

      dt {
        font-size: $fsize12;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: $space-xs;

        @media (max-width: $swich_sp) {
          float: none;
          margin-left: 0;
        }

        @media (min-width: $swich_pc) {
          margin-bottom: $space;
          margin-left: -($dt-width);
          width: $dt-width - $space-md;
        }
      }

      dd,
      dd p {
        color: #333;
        font-size: 12px;
        line-height: 20px;
      }

      dd {
        ul {
          list-style: disc;
          margin: 0 0 0 $space;

          li {
            color: #333;
            font-size: 12px;
            line-height: 20px;
          }
        }

        p + p {
          margin-top: $space-md;
        }
      }
    }
  }

  .facility-location-detail { //for facilities/location
    $name-width: 228px;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $space;
      width: 100%;

      @media (min-width: $swich_pc) {
        border-bottom: 1px solid $c_gray_light;
        margin-bottom: 0;
        padding: $space-md;
        @include align-items(center);
        @include display(flex);

        &:first-child {
          border-top: 1px solid $c_gray_light;
        }
      }
    }

    .item-name {
      font-size: $fsize14;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: $space-sm;

      @media (min-width: $swich_pc) {
        line-height: 28px;
        margin-bottom: 0;
        width: $name-width;

        + .item {
          width: calc(100% - #{$name-width});
        }
      }
    }

    .item,
    .item p {
      color: $fc_gray;
      font-size: $fsize14;
      line-height: 20px;

      @media (min-width: $swich_pc) {
        line-height: 28px;
      }

      ul {
        list-style: disc;
        margin: 0 0 0 $space;

        li {
          color: $c_gray;
          font-size: $fsize14;
          line-height: 20px;

          @media (min-width: $swich_pc) {
            line-height: 28px;
          }
        }
      }
    }
  }

  .location-note {
    color: #791e1f;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: $space-lg auto;
    padding: 0;

    @media (min-width: $swich_pc) {
      margin: $space-max auto $space;
      padding: 0 $space-md;
    }
  }
}

.slider-nav { // for slick slider
  $slider-nav-height-sp: 72px;
  $slider-nav-height: 54px;
  background-color: $c_gray_dark;
  height: $slider-nav-height-sp;
  padding: 2px 42px;

  @media (min-width: $swich_pc) {
    height: $slider-nav-height;
  }

  .slick-list {
    height: 100%;

    .slick-track {

      .slick-slide {
        opacity: .24;

        &.slick-current {
          opacity: 1;
        }
      }

      .image-wrapper {
        background: {
          position: center;
          size: cover;
        }
        cursor: pointer;
        height: $slider-nav-height-sp - 4px;
        @include transition(opacity .2s ease-in-out);

        @media (min-width: $swich_pc) {
          height: $slider-nav-height - 4px;
        }
      }

      img {
        height: auto;
      }
    }
  }
}

.slick-slide {
  background-size: cover;
  background-position: center;
  outline: none;
}

.slick-prev,
.slick-next {
  z-index: 100;

  &:before {
    font-family: $default-font-family;
    display: block;
    line-height: 20px;
    top: -1px;
  }
}

.slick-prev {
  left: 11px;

  &:before {
    content: '<';
  }
}

.slick-next {
  right: 11px;

  &:before {
    content: '>';
  }
}

.g-map {
  .g-map-canvas {
    height: 0;
    padding-top: 100%;
    width: 100%;

    > div {
      left: 0;
      top: 0;
    }

    @media (min-width: $swich_pc) {
      padding-top: percentage(.5897359);
    }
  }
}

.g-map-help {
  list-style: none;
  margin: $space-sm auto $space;
  padding: 0;
  @include display(flex);
  @include justify-content(center);

  @media (min-width: $swich_pc) {
    margin: $space auto $space-lg;
    @include justify-content(flex-end);
  }

  li {
    font-size: $fsize10;
    line-height: 14px;
    margin: 0 0 0 $space-sm;
    padding-left: 12px;
    position: relative;

    &:first-child {
      margin: 0;
    }

    .hide-sp {
      display: none;

      @media (min-width: $swich_pc) {
        display: inline;
      }
    }

    @media (min-width: $swich_pc) {
      font-size: $fsize14;
      line-height: 20px;
      padding-left: 18px;
      width: auto;
    }
  }

  i {
    background-size: cover;
    background-position: top center;
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;

    @media (min-width: $swich_pc) {
      height: 20px;
      width: 13px;
    }

    &.marker-default {
      background-image: url('../assets/images/facilities/location/marker_default.png');
    }

    &.marker-check-in {
      background-image: url('../assets/images/facilities/location/marker_check_in.png');
    }
  }

  #{&}-link {
    color: $c_darkblue;
    text-decoration: none;
  }
}

.facility-concierge {
  background-color: $c_gray_lighter;
  border-radius: 4px;
  color: $c_gray_dark;
  font-family: $default-font-family;
  margin: $space-lg auto 0;
  padding: $space-md;

  @media (min-width: $swich_pc) {
    padding: $space;
    text-align: center;
  }

  #{&}-desc {
    font-size: $fsize14;
    font-weight: bold;
    line-height: $lheightm;
    margin: 0 auto;

    @media (min-width: $swich_pc) {
      font-size: $fsize14;
      margin-top: 0;

      span {
        display: block;
        line-height: $lheightm;
      }
    }
  }

  #{&}-help-txt {
    font-size: $fsize12;
    display: inline-block;
    line-height: $lheightm;
    margin-right: 10px;
    text-align: left;

    a {
      @media (min-width: $swich_pc) {
        pointer-events: none;
        text-decoration: none;
        @include transition(none);

        &:hover {
          opacity: 1;
        }
      }
    }

    @media (min-width: $swich_pc) {
      font-size: $fsize14;
    }
  }

  #{&}-action {
    @media (max-width: $swich_sp) {
      margin: $space auto;
      text-align: center;
    }

    @media (min-width: $swich_pc) {
      margin: $space-lg auto;
    }

    .btn-primary {
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      margin: 0 auto;
      outline: none;
      text-align: center;
      text-decoration: none;

      i {
        display: inline-block;
        vertical-align: top;

        &:before {
          display: block;
        }
      }

      @media (max-width: $swich_sp) {
        border-radius: 4px;
        color: $c_white;
        font-size: $fsize16;
        padding: 14px 24px;

        i {
          color: $c_white;
          margin-right: 5px;
        }
      }

      @media (min-width: $swich_pc) {
        background-color: transparent;
        color: $c_darkblue;
        font-size: 28px;

        i {
          color: $c_darkblue;
          font-size: 28px;
          line-height: 1;
          margin-right: 8px;
        }
      }
    }
  }
}
