.breadcrumbs {
  &-beginner {
    @import '../container';

    @media (min-width: $swich_pc) {
      background-color: #fff;
      margin-top: $header-height;
      display: block;
    }

    .breadcrumbs {
      &-list {
        @include clearfix();

        li {
          color: #999;
          float: left;
          font: {
            family: $default-font-family;
            size: 12px;
            weight: normal;
          }
          line-height: 20px;
          padding: 5px 0;

          .fa {
            color: #999;
            display: inline-block;
            font-size: 16px;
            line-height: 19px;
            margin: 0 15px;
            vertical-align: top;

            &:before {
              display: block;
            }
          }
        }
      }
    }
  }
}
