// beginner => beg
$pc-space: 100px;
$sp-space: $pc-space / 2;
.beg {
  margin-top: 58px;

  .d-tb {
    display: table;
    @include size(100%, 100%);

    .d-tbc {
      display: table-cell;

      &.va-m {
        vertical-align: middle;
      }

      &.va-t {
        vertical-align: top;
      }
    }
  }

  .vertical-txt {
    letter-spacing: .25em;

    @media (min-width: $swich_pc) {
      writing-mode: tb-rl;
      writing-mode: vertical-rl;
      -moz-writing-mode: vertical-rl;
      -o-writing-mode: vertical-rl;
      -webkit-writing-mode: vertical-rl;
    }
  }

  &-visual {
    background: {
      image: url('../assets/images/beginner/shukubou/bg_main.jpg');
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
    height: 175px;
    z-index: 1;
    width: 100%;

    @media (min-width: $swich_pc) {
      height: 420px;
    }

    .d-tb {
      background-color: rgba(#000, .12);

      .d-tbc {
      }
    }

    .headline {
      text-align: center;

      h1, h2 {
        color: #fff;
        font-weight: 500;
        letter-spacing: .075em;
      }

      h1 {
        font-size: 28px;
        margin: 0 auto 12px;

        @media (min-width: $swich_pc) {
          font-size: 36px;
        }
      }

      h2 {
        font-size: 21px;
        margin: 0 auto;

        @media (min-width: $swich_pc) {
          font-size: 28px;
        }
      }
    }
  }

  &-intro {
    background-color: #fff;
    padding: 40px 0;

    @media (min-width: $swich_pc) {
      padding: 80px 0;
    }

    .in {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
    }

    &-in {
      position: relative;

      &.vertical {
        letter-spacing: .25em;
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -o-writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
      }

      h1 {
        color: #333;
        font: {
          size: 32px;
          weight: 500;
        }

        small {
          display: block;
          font: {
            size: 10px;
            weight: 500;
          }
          margin-left: 5px;

          span {
            display: inline-block;
            vertical-align: top;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 48px;

          small {
            font-size: 12px;
            margin-left: 8px;

            span {
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    &-txt {
      display: block;
      min-height: 205px;
      position: relative;

      @media (min-width: $swich_pc) {
        min-height: 245px;
      }

      p {
        color: #333;
        font-size: 14px;
        line-height: 1;
        margin-right: 20px;

        @media (min-width: $swich_pc) {
          font-size: 18px;
          margin-right: 42px;
        }
      }
    }
  }

  &-about {
    position: relative;

    @media (max-width: $swich_sp) {
      padding: 0 0 $sp-space;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
      @include clearfix();
    }

    &-in {
      position: relative;

      @media (min-width: $swich_pc) {
        float: left;
        width: percentage(1/2);
      }

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }

        @media (max-width: $swich_sp) {
          font-size: 24px;
          margin-bottom: 40px;
          position: relative;
          text-align: center;
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;
          left: 20px;
          padding-top: 6px;
          position: absolute;
          top: 0;
        }

        &.vertical-txt {
          letter-spacing: .075em;
        }

        span {
          color: #b91010;
          display: block;
          font-weight: 600;
          letter-spacing: .075em;

          @media (max-width: $swich_sp) {
            bottom: -20px;
            font-size: 12px;
            left: 0;
            position: absolute;
            right: 0;
          }

          @media (min-width: $swich_pc) {
            font-size: 14px;
            margin-left: 10px;
            padding-top: 4px;
            position: relative;
          }
        }
      }
    }

    &-bg {
      @media (max-width: $swich_sp) {
        height: 250px;
        margin-bottom: 30px;
        position: relative;
      }

      @media (min-width: $swich_pc) {
        bottom: $pc-space;
        left: 50%;
        position: absolute;
        right: 0;
        top: $pc-space;
      }

      &-image {
        background: {
          image: url('../assets/images/beginner/shukubou/bg_about.jpg');
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;
        @include size(100%, 100%);
      }
    }

    &-txt {
      display: block;
      position: relative;

      @media (min-width: $swich_pc) {
        margin-left: 140px;
        padding-right: 60px;
        top: -6px;
      }

      p {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
          weight: 500;
        }
        letter-spacing: .025em;
        line-height: 32px;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-enjoy {
    background-color: #fff;
    position: relative;

    @media (max-width: $swich_sp) {
      padding: 0 0 $sp-space;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
    }

    .in {
      @media (max-width: $swich_sp) {
        padding: 0;
      }
    }

    &-in {
      position: relative;

      @media (max-width: $swich_sp) {
        margin-bottom: $sp-space;
      }

      @media (min-width: $swich_pc) {
        margin-bottom: $pc-space;
        @include display(flex);
        @include flex-wrap(wrap);
      }
    }

    &-bg {
      position: relative;

      @media (max-width: $swich_sp) {
        height: 200px;
        margin-bottom: 30px;
      }

      @media (min-width: $swich_pc) {
        padding-right: 40px;
        width: percentage(1/2);
      }

      &-image {
        background: {
          image: url('../assets/images/beginner/shukubou/bg_enjoy.jpg');
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;
        @include size(100%, 100%);

        @media (min-width: $swich_pc) {
          min-height: 320px;
        }
      }
    }

    &-headline {
      position: relative;

      @media (max-width: $swich_sp) {
      }

      @media (min-width: $swich_pc) {
        width: percentage(1/2);
      }

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        position: relative;

        &.vertical-txt {
          letter-spacing: .075em;
        }

        span {
          color: #b91010;
          display: block;
          font: {
            family: Roboto, sans-serif;
            size: 14px;
            weight: 600;
          }
          letter-spacing: .075em;
        }

        @media (max-width: $swich_sp) {
          font-size: 24px;
          margin-bottom: 40px;
          text-align: center;

          br {
            display: none;
          }

          span {
            bottom: -20px;
            left: 0;
            position: absolute;
            right: 0;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;
          line-height: 48px;
          position: absolute;
          right: 15px;
          top: 0;

          span {
            margin-left: 10px;
            padding-top: 4px;
            position: relative;
          }
        }
      }
    }

    &-txt {
      display: block;
      position: relative;

      @media (max-width: $swich_sp) {
        padding: 0 10px;
      }

      @media (min-width: $swich_pc) {
        margin-right: 170px;
        top: -6px;
      }

      p {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
          weight: 500;
        }
        letter-spacing: .075em;
        line-height: 32px;

        @media (max-width: $swich_sp) {
          line-height: 24px;
        }

        @media (min-width: $swich_pc) {
          line-height: 32px;
        }
      }
    }

    &-eg {
      h1 {
        color: #333;
        font-weight: 500;
        letter-spacing: .075em;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &:before {
          background-color: #a30f0f;
          bottom: -20px;
          content: "";
          display: block;
          left: 50%;
          margin: 0 0 0 -9px;
          position: absolute;
          width: 18px;
        }

        @media (max-width: $swich_sp) {
          font-size: 21px;

          &:before {
            height: 2px;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 28px;

          &:before {
            height: 3px;
          }
        }
      }

      &-list {
        margin-top: 50px;
        @include align-items(stretch);
        @include display(flex);
        @include flex-wrap(wrap);

        @media (max-width: $swich_sp) {
          padding: 0 10px;
          @include justify-content(center);
        }

        @media (min-width: $swich_pc) {
          padding: 0 40px;
        }

        li {
          @media (max-width: $swich_sp) {
            margin-bottom: 30px;
            padding: 0 10px;
            width: percentage(1/2);
          }

          @media (min-width: $swich_pc) {
            margin-bottom: 50px;
            padding: 0 20px;
            width: percentage(1/3);
          }

          h2 {
            color: #222;
            font: {
              family: $default-font-family;
              weight: 600;
            }
            line-height: 1;
            margin-bottom: 10px;
            text-align: center;

            small {
              color: #a30f0f;
              display: block;
              font: {
                family: Roboto, sans-serif;
                weight: bold;
              }
              letter-spacing: .275em;
            }

            @media (max-width: $swich_sp) {
              font-size: 16px;

              small {
                font-size: 12px;
                margin: 5px auto 0;
              }
            }

            @media (min-width: $swich_pc) {
              font-size: 24px;

              small {
                font-size: 13px;
                margin: 10px auto 0;
              }
            }
          }

          p {
            color: #333;
            font: {
              family: $default-font-family;
              size: 12px;
            }
            line-height: 1.65;
            text-align: center;

            @media (max-width: $swich_sp) {
              margin: 10px auto 0;
            }

            @media (min-width: $swich_pc) {
              font-size: 14px;
              line-height: 1.85;
              margin: 20px auto 0;
            }
          }
        }
      }

      &-image {
        margin: 0 auto 10px;

        img {
          display: block;
          height: auto;
          max-width: 100%;
        }
      }
    }

    &-sec {
      margin-top: 30px;
      position: relative;
      width: 100%;

      @media (min-width: $swich_pc) {
        margin-top: 70px;
        @include align-items(stretch);
        @include display(flex);
        @include flex-wrap(wrap);
      }

      &-item {
        @media (max-width: $swich_sp) {
          padding: 0 10px;

          + .beg-enjoy-sec-item {
            margin-top: 40px;
          }
        }

        @media (min-width: $swich_pc) {
          width: percentage(1/2);
        }
      }

      &-bg {
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;

        @media (max-width: $swich_sp) {
          height: 175px;
          margin-bottom: 30px;
        }

        @media (min-width: $swich_pc) {
          margin-bottom: 40px;
          @include size(100%, 320px);
        }
      }

      &-txt {
        margin: 0 auto;
        max-width: 450px;

        h2 {
          color: #333;
          font-weight: 500;
          letter-spacing: .075em;
          position: relative;
          text-align: center;

          &:before {
            background-color: #a30f0f;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            margin: 0 0 0 -9px;
            position: absolute;
            width: 18px;
          }

          @media (max-width: $swich_sp) {
            font-size: 16px;
            margin-bottom: 20px;

            &:before {
              bottom: -20px;
            }
          }

          @media (min-width: $swich_pc) {
            font-size: 22px;
            margin-bottom: 25px;

            &:before {
              bottom: -25px;
            }
          }
        }

        p {
          color: #333;
          font: {
            family: $default-font-family;
            size: 14px;
          }
          letter-spacing: .075em;
          margin: 50px auto 0;

          @media (max-width: $swich_sp) {
            line-height: 1.6;
          }

          @media (min-width: $swich_pc) {
            line-height: 1.85;
          }
        }
      }
    }
  }

  &-sche {
    $image-width: 224px;
    position: relative;

    @media (max-width: $swich_sp) {
      padding: $sp-space 0;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
    }

    &-in {
      position: relative;
      @include clearfix();

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          size: 42px;
          weight: bold;
        }
        position: relative;

        span {
          color: #b91010;
          display: block;
          font: {
            family: Roboto, sans-serif;
            weight: 600;
          }
          letter-spacing: .075em;
        }

        @media (max-width: $swich_sp) {
          font-size: 24px;
          margin-bottom: 40px;
          text-align: center;

          span {
            bottom: -20px;
            font-size: 12px;
            left: 0;
            position: absolute;
            right: 0;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;

          span {
            font-size: 14px;
            margin-left: 10px;
            padding-top: 5px;
            position: relative;
          }
        }
      }

      h2 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        letter-spacing: .05em;

        @media (max-width: $swich_sp) {
          font-size: 14px;
          margin: 15px auto;
        }

        @media (min-width: $swich_pc) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      p {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
        }
        line-height: 24px;
        position: relative;
      }

      > .vertical-txt {
        @media (min-width: $swich_pc) {
          left: 0;
          letter-spacing: .075em;
          min-height: 400px;
          overflow: hidden;
          position: absolute;
          top: 0;
        }

        p {
          margin-right: 25px;
          left: -5px;

          @media (max-width: $swich_sp) {
            display: none;
          }
        }
      }
    }

    &-items {
      margin: 0 auto;
      position: relative;

      @media (max-width: $swich_sp) {
        padding-top: 75px;

        + .beg-sche-items {
          margin-top: 30px;
        }
      }

      @media (min-width: $swich_pc) {
        padding: {
          left: 245px;
          right: $image-width + 30px;
        }

        + .beg-sche-items {
          margin-top: 100px;
        }
      }
    }

    &-item {
      position: relative;

      @media (max-width: $swich_sp) {
        margin: 30px auto 0;
        text-align: center;
      }

      @media (min-width: $swich_pc) {
        margin: 0 auto 30px;
        padding-left: 100px;

        &:last-child {
          margin: 0 auto;
        }
      }

      .item {
        &-date {
          background-color: #fff;
          border-radius: 3px;
          color: #a30f0f;
          display: inline-block;
          font: {
            family: $default-font-family;
            weight: 600;
          }
          text-align: center;

          @media (max-width: $swich_sp) {
            font-size: 12px;
            line-height: 20px;
            padding: 0 20px;
          }

          @media (min-width: $swich_pc) {
            float: left;
            font-size: 14px;
            line-height: 24px;
            margin-left: -100px;
            width: 100px;
          }
        }

        &-label {
          display: block;
          font: {
            family: $default-font-family;
            weight: bold;
          }
          position: absolute;
          text-align: center;
          top: 0;

          &:before {
            background-color: #ccc;
            bottom: 0;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            right: -8px;
            width: 2px;
          }

          @media (max-width: $swich_sp) {
            font-size: 18px;
            left: 50%;
            margin-left: -9px;
            top: -225px;
            width: 18px;
          }

          @media (min-width: $swich_pc) {
            font-size: 26px;
            left: -54px;
            width: 26px;
          }
        }

        &-content {
          display: block;
          position: relative;

          @media (max-width: $swich_sp) {
            p {
              text-align: left;
            }
          }

          @media (min-width: $swich_pc) {
            padding-left: 10px;
          }

          p {
            font-weight: 500;
            letter-spacing: .05em;
          }
        }
      }
    }

    &-list {
      position: relative;

      li {
        font-family: $default-font-family;
      }

      @media (max-width: $swich_sp) {
        margin: 20px auto 0;

        li {
          color: #787878;
          font-size: 12px;
          line-height: 1.6;
        }
      }

      @media (min-width: $swich_pc) {
        margin: 40px auto 0;
        padding-left: 245px;

        li {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &-images {
      @media (max-width: $swich_sp) {
        position: relative;
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
      }

      @media (min-width: $swich_pc) {
        position: absolute;
        right: 0;
        top: 0;
        width: $image-width;
      }

      &-bg {
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;

        @media (max-width: $swich_sp) {
          @include size(50%, 125px);
        }

        @media (min-width: $swich_pc) {
          margin-bottom: 2px;
          @include size(100%, 187px);
        }
      }
    }
  }

  &-point {
    background-color: #fff;
    position: relative;
    @include clearfix();

    @media (max-width: $swich_sp) {
      padding: $sp-space 0;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
    }

    &-in {
      position: relative;

      @media (min-width: $swich_pc) {
        padding-right: 210px;
      }
    }

    &-headline {
      @media (max-width: $swich_sp) {
        position: relative;
        text-align: center;
      }

      @media (min-width: $swich_pc) {
        position: absolute;
        right: 0;
        top: 0;
      }

      .ruby {
        color: #b91010;
        display: block;
        font: {
          family: Roboto, sans-serif;
          weight: 600;
        }
        letter-spacing: .075em;
        position: absolute;

        @media (max-width: $swich_sp) {
          font-size: 12px;
          left: 0;
          right: 0;
          top: 35px;
        }

        @media (min-width: $swich_pc) {
          font-size: 14px;
          height: 120px;
          right: 0;
          top: 0;
        }
      }

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        text-align: center;

        @media (max-width: $swich_sp) {
          font-size: 24px;
          letter-spacing: .025em;
          margin-bottom: 40px;
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;
          letter-spacing: .075em;
          position: absolute;
          top: 0;
          right: 24px;
          width: 42px;
        }
      }

      p.vertical-txt {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
          weight: 500;
        }
        letter-spacing: .075em;


        @media (max-width: $swich_sp) {
          line-height: 1.6;
          position: relative;
          text-align: left;
        }

        @media (min-width: $swich_pc) {
          line-height: 28px;
          min-height: 520px;
          position: absolute;
          right: 100px;
          top: 0;
        }
      }
    }

    &-grid {
      position: relative;

      @media (max-width: $swich_sp) {
        margin-top: 40px;

        .cell-col {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media (min-width: $swich_pc) {
        margin: 0 -5px;
        @include align-items(stretch);
        @include display(flex);
        @include flex-wrap(wrap);

        .cell-col {
          padding: 0 5px;
          width: percentage(1/3);
        }
      }
    }

    &-item {
      background-color: #f1f1f1;
      position: relative;

      @media (max-width: $swich_sp) {
        padding: 25px 15px 15px;
      }

      @media (min-width: $swich_pc) {
        padding-top: 50px;
      }

      h2 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        letter-spacing: .05em;
        position: relative;
        text-align: center;

        span {
          color: #a30f0f;
          display: block;
          font: {
            family: Roboto, sans-serif;
            weight: 500;
          }
          letter-spacing: .05em;
        }

        @media (max-width: $swich_sp) {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 20px;

          span {
            font-size: 14px;
            margin-bottom: 10px;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 22px;
          line-height: 34px;
          margin-bottom: 50px;

          span {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
          }
        }
      }

      p {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
        }
        letter-spacing: .075em;
        overflow: hidden;

        @media (max-width: $swich_sp) {
          line-height: 1.6;
          margin-bottom: 20px;
        }

        @media (min-width: $swich_pc) {
          height: 285px;
          line-height: 24px;
          padding: 0 15px;
        }
      }

      &-bg {
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;
        @include size(100%, 220px);
      }
    }
  }

  &-enp {
    background-color: #f1f1f1;
    position: relative;
    @include clearfix();

    @media (max-width: $swich_sp) {
      padding: $sp-space 0;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
    }

    &-in {
      position: relative;

      @media (min-width: $swich_pc) {
        padding-left: 220px;
      }
    }

    &-headline {
      @media (max-width: $swich_sp) {
        position: relative;
        text-align: center;
      }

      @media (min-width: $swich_pc) {
        left: 0;
        position: absolute;
        top: 0;
        width: 170px;
      }

      .ruby {
        color: #b91010;
        display: block;
        font: {
          family: Roboto, sans-serif;
          weight: 600;
        }
        letter-spacing: .075em;
        position: absolute;

        @media (max-width: $swich_sp) {
          font-size: 12px;
          left: 0;
          right: 0;
          top: 35px;
        }

        @media (min-width: $swich_pc) {
          font-size: 14px;
          height: 120px;
          right: 0;
          top: 0;
        }
      }

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        text-align: center;

        @media (max-width: $swich_sp) {
          font-size: 24px;
          letter-spacing: .025em;
          margin-bottom: 40px;
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;
          letter-spacing: .075em;
          position: absolute;
          top: 0;
          right: 24px;
          width: 42px;
        }
      }

      p.vertical-txt {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
          weight: 500;
        }
        letter-spacing: .075em;
        position: relative;

        @media (max-width: $swich_sp) {
          line-height: 1.6;
          text-align: left;
        }

        @media (min-width: $swich_pc) {
          line-height: 28px;
          min-height: 420px;
          padding-right: 90px;
        }
      }
    }

    &-grid {
      margin: 0 -5px;
      position: relative;
      @include align-items(stretch);
      @include display(flex);
      @include flex-wrap(wrap);

      .cell-col {
        margin-bottom: 10px;
        padding: 0 5px;
        position: relative;
      }

      @media (max-width: $swich_sp) {
        margin-top: 40px;

        .cell-col {
          width: percentage(1/2);
        }
      }

      @media (min-width: $swich_pc) {
        .cell-col {
          width: percentage(1/3);
        }
      }
    }

    &-item {
      background-color: #fff;
      padding: 0 0 30px;
      position: relative;
      @include size(100%, 100%);

      @media (max-width: $swich_sp) {
        padding: 0 0 20px;
      }

      @media (min-width: $swich_pc) {
        padding: 0 0 30px;
      }

      &-bg {
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        position: relative;

        @media (max-width: $swich_sp) {
          margin-bottom: 15px;
          @include size(100%, 100px);
        }

        @media (min-width: $swich_pc) {
          margin-bottom: 50px;
          @include size(100%, 200px);
        }
      }

      h2 {
        color: #333;
        font-weight: 500;
        position: relative;
        text-align: center;

        @media (max-width: $swich_sp) {
          font-size: 16px;
          letter-spacing: .025em;
          line-height: 24px;
          margin-bottom: 15px;
        }

        @media (min-width: $swich_pc) {
          font-size: 20px;
          letter-spacing: .05em;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      p {
        color: #333;
        font-family: $default-font-family;
        margin: 0 auto;

        @media (max-width: $swich_sp) {
          font-size: 12px;
          letter-spacing: .025em;
          line-height: 1.6;
          padding: 0 10px;
        }

        @media (min-width: $swich_pc) {
          font-size: 14px;
          letter-spacing: .075em;
          line-height: 24px;
          max-width: 235px;
          word-break: break-all;
        }
      }
    }
  }
}
