.beg.kominka01 {
  .beg-visual {
    background-image: url('../assets/images/beginner/kominka01/bg_main.jpg');
  }
  .beg-intro-in h1 small {
    @media (min-width: $swich_pc) {
      margin-top: 40px;
    }
  }
  .beg-about {
    &-in {
      h1 {
        .idt-01 {
          @media (min-width: $swich_pc) {
            text-indent: -0.55em;
          }
        }
      }
    }
    &-bg {
      &-image {
        background-image: url('../assets/images/beginner/kominka01/bg_enjoy.jpg');
      }
    }
  }

  .beg-enjoy {
    &-bg {
      &-image {
        background-image: url('../assets/images/beginner/kominka01/bg_simulation.jpg');
      }
    }
    &-3d {
      h1 {
        color: #333;
        font-weight: 500;
        letter-spacing: .075em;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &:before {
          background-color: #a30f0f;
          bottom: -20px;
          content: "";
          display: block;
          left: 50%;
          margin: 0 0 0 -9px;
          position: absolute;
          width: 18px;
        }

        @media (max-width: $swich_sp) {
          font-size: 21px;

          &:before {
            height: 2px;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 28px;
          &:before {
            height: 3px;
          }
        }
      }

      &-list {
        margin: 50px auto 0;
        width: 100%;
        max-width: 800px;

        li {
          @media (max-width: $swich_sp) {
            margin: 0 10px 40px;
            // width: percentage(1/2);
          }
          @media (min-width: $swich_pc) {
            margin-bottom: 90px;
          }
          &:last-child {
            margin-bottom: 0;
          }

          h2 {
            color: #222;
            font: {
              family: $default-font-family;
              weight: 600;
            }
            letter-spacing: .2em;
            line-height: 1;
            margin-bottom: 10px;
            text-align: center;

            small {
              color: #a30f0f;
              display: block;
              font: {
                family: Roboto, sans-serif;
                weight: bold;
              }
              letter-spacing: .275em;
            }

            @media (max-width: $swich_sp) {
              font-size: 16px;

              small {
                font-size: 12px;
                margin: 15px auto 10px;
              }
            }

            @media (min-width: $swich_pc) {
              font-size: 24px;
              small {
                font-size: 13px;
                margin: 30px auto 10px;
              }
            }
          }

          p {
            color: #333;
            font: {
              family: $default-font-family;
              size: 12px;
            }
            line-height: 1.65;
            letter-spacing: .1em;
            text-align: center;

            @media (max-width: $swich_sp) {
              margin: 10px auto 0;
            }

            @media (min-width: $swich_pc) {
              font-size: 14px;
              line-height: 1.85;
              margin: 15px auto 0;
            }
          }
        }
      }

      &-image {
        margin: 0 auto;
        width: 100%;
        max-width: 820px;
        padding: 0 10px;
        figure {
          position: relative;
          width: 100%;
          padding: 75% 0 0 0;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .beg-example {
    $image-width: 224px;
    position: relative;

    @media (max-width: $swich_sp) {
      padding: $sp-space 0;
    }

    @media (min-width: $swich_pc) {
      padding: $pc-space 0;
    }

    &-in {
      position: relative;
      @include clearfix();

      h1 {
        color: #333;
        font: {
          family: $default-font-family;
          size: 42px;
          weight: bold;
        }
        position: relative;

        span {
          color: #b91010;
          display: block;
          font: {
            family: Roboto, sans-serif;
            weight: 600;
          }
          letter-spacing: .075em;
        }

        @media (max-width: $swich_sp) {
          font-size: 24px;
          margin-bottom: 40px;
          text-align: center;

          span {
            bottom: -20px;
            font-size: 12px;
            left: 0;
            position: absolute;
            right: 0;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 42px;

          span {
            font-size: 14px;
            margin-left: 10px;
            padding-top: 5px;
            position: relative;
          }
        }
      }

      h2 {
        color: #333;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        letter-spacing: .05em;

        @media (max-width: $swich_sp) {
          font-size: 14px;
          margin: 15px auto;
        }

        @media (min-width: $swich_pc) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      p {
        color: #333;
        font: {
          family: $default-font-family;
          size: 14px;
        }
        line-height: 24px;
        position: relative;
      }

      > .vertical-txt {
        @media (min-width: $swich_pc) {
          left: 0;
          letter-spacing: .075em;
          min-height: 400px;
          overflow: hidden;
          position: absolute;
          top: 0;
        }

        p {
          margin-right: 20px;
          left: -5px;

          @media (max-width: $swich_sp) {
            // display: none;
            margin-left: 0;
            left: 0;
          }
        }
      }
    }

    &-items {
      margin: 0 auto;
      position: relative;

      @media (max-width: $swich_sp) {
        // padding-top: 75px;

        + .beg-sche-items {
          margin-top: 30px;
        }
      }

      @media (min-width: $swich_pc) {
        padding: {
          left: 190px;
          right: 0;
        }

        + .beg-sche-items {
          margin-top: 100px;
        }
      }
    }

    &-item {
      position: relative;
      background: #fff;

      @media (max-width: $swich_sp) {
        margin: 30px auto 20px;
        padding: 30px 20px;
        text-align: center;
      }

      @media (min-width: $swich_pc) {
        margin: 0 auto 60px;
        padding: 60px 52px 50px;
      }

      &-kind {
        display: block;
        margin-bottom: 5px;
        text-align: center;
        color: #a30f0f;
        letter-spacing: .1em;
        font: {
          family: $default-font-family;
          weight: 600;
        }
      }
      h2 {
        color: #333;
        text-align: center;
        line-height: 1.6;
        font: {
          family: $default-font-family;
          weight: bold;
        }
        letter-spacing: .05em;
        @media (max-width: $swich_sp) {
          font-size: 16px;
          margin-bottom: 10px;
        }
        @media (min-width: $swich_pc) {
          font-size: 22px;
          margin-bottom: 20px;
        }
      }
      p {
        
        letter-spacing: .05em;
        @media (max-width: $swich_sp) {
          margin-bottom: 20px;
          text-align: left;
        }
        @media (min-width: $swich_pc) {
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
    
    &-images {
      @media (max-width: $swich_sp) {
      }

      @media (min-width: $swich_pc) {
        position: relative;
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
      }

      &-bg {
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        }
        border: 1px solid #fff;
        position: relative;
        @media (max-width: $swich_sp) {
          // @include size(50%, 125px);
          margin: 0 0px 0px;
          height: 240px;
        }

        @media (min-width: $swich_pc) {
          width: percentage(1/3);
          margin-bottom: 50px;
          height: 220px;
          // @include size(100%, 187px);
        }
      }
    }
    &-point {
      font: {
        family: $default-font-family;
      }
      @media (max-width: $swich_sp) {
        padding-top: 20px;
      }
      h3 {
        margin-bottom: 14px;
        font: {
          weight: bold;
          size: 13px;
        }
      }
      ul {
        margin-left: 1.7em;
        li {
          margin-bottom: 9px;
          list-style-type: disc;
          line-height: 1.3;
          @media (max-width: $swich_sp) {
            text-align: left;
          }
        }
      }
    }
    &-link {
      text-align: center;
      font: {
        family: $default-font-family;
        weight: bold;
      }
      @media (max-width: $swich_sp) {
        // margin-top: 20px;
      }
      @media (min-width: $swich_pc) {
        // margin-top: 40px;
        padding-left: 190px;
      }
      p {
        letter-spacing: .1em;
        margin-bottom: 9px;
      }
    }
  }

  .beg-point {
    &-in {
      .facility-relate-cell {
        border: 1px solid #f1f1f1;
        @media (min-width: $swich_pc) {
          margin-right: 2%;
          width: 30%;
        }
      }
      @media (min-width: $swich_pc) {
        padding-right: 210px;
      }
    }
    &-grid {
      position: relative;

      @media (max-width: $swich_sp) {
        margin-top: 40px;

        .cell-col {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}
