.navigation-btns {
  display: block;
  margin: 60px auto;
  text-align: center;
  .agree {
    font-family: sans-serif;
    font-size: 16px;
  }
}

.btn {
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  $letter-spacing: 0.1em;
  $padding-lateral: 1.4375em;
  $padding-vertical: 1em;
  padding: {
    bottom: $padding-vertical;
    left: $padding-lateral;
    right: $padding-lateral - $letter-spacing;
    top: $padding-vertical;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  * {
    color: inherit;
  }
}

.btn-block {
  display: block;
}

.btn-narrow[class] {
  min-width: 0;
}

.btn-primary {
  background: #284890;
}

.btn-normal {
  background: #acacac;
}

.btn-next {
  background: #284890;
  color: $c_white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 16px 68px;
  @include hoverOpacity;
  @media (max-width: $swich_sp) {
    padding: 16px 40px;
  }

  &:disabled {
    background: #acacac;
  }
}

.btn-back {
  background: #acacac;
  color: $c_white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 16px 68px;
  margin-right: 30px;
  @media (max-width: $swich_sp) {
    padding: 16px 30px;
  }
}

.btn-secondary {
  background: #eceff1;
  color: #284890;
}

.btn-tertiary {
  background: #791e1f;
}
