$card-border-radius: 3px;

.card {
  background: #fff;
}

.card-body {
  letter-spacing: 0.035em;
  padding: 15px 20px;

  &:last-child {
    border: {
      bottom: none;
      bottom-left-radius: $card-border-radius;
      bottom-right-radius: $card-border-radius;
    }
  }

  h3 {
    letter-spacing: 0;
    line-height: $lheights;
    margin-bottom: 11px;
    font-size: 12px;
    font-family: sans-serif;
  }

  p {
    line-height: 1.7;
    margin-bottom: 23px;
    font-size: 12px;
    font-family: sans-serif;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card-header {
  background: rgba(0, 0, 0, 0.2);
  padding: 14px 0;
  color: $c_gray_dark;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: $lheightl;
  text-align: center;
  font-family: sans-serif;

  border: {
    top-left-radius: $card-border-radius;
    top-right-radius: $card-border-radius;
  }

}
