.collapsible {
  &.collapsed {
    .details {
      display: none;
    }

    .summary {
      display: block;
    }
  }

  &.expanded {
    .details {
      display: block;
    }

    .summary {
      display: none;
    }
  }
}
