
/* ==========================================================================
   set
   ========================================================================== */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #f1f1f1;
  color: $color;
  font-size: $fsize14;
  font-family: YuMincho, "游明朝", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
   "Open Sans", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  // opacity: 0;
  // @include transition(opacity 1s);

  &.ready {
    opacity: 1;
  }

  // 背景に画像を仕込む
  &.root-index { // only toppage
    background-image: url('../assets/images/top/bg_main_pc.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 850px;

    footer.global {
      background-color: rgba(#000, .7);
    }
  }
}

// hotfix: disabled Zendesk in ambassador
body.ambassador {
  .zEWidget {
    &-launcher, &-ipm, &-nps, &-ticketSubmissionForm,  {
      display: none;
    }
  }
}
