/* ==========================================================================
   Common Parts
   ========================================================================== */

/* Clearfix *****************************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

/* sp / pc *****************************************/
.visible-sp {
  @media (min-width: $swich_pc) {
    display: none;
  }
}

/* Title *****************************************/
h1.page_title {
  font-size: 26px;
}

/* Paragraph *****************************************/
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
p.txt {
  margin-bottom: 1em;
  line-height: $lheightm;
  &:last-child {
    margin-bottom: 0;
  }
}
p.chain {
  margin-top: 0.3em;
}
.caution {
  font-weight: bold;
  color: $fc_red;
}
.note {
  font-size: $fsize12;
  color: $fc_gray;
}
.center {
  text-align: center;
}
@media (min-width: $swich_pc) {
  span.line {
    display: block;
  }
}
@media (max-width: $swich_sp) {
  span.spline {
    display: block;
  }
}
.flash_overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}
.flash_message {
  position: relative;
  top: 50%;
  margin: -100px auto 0;
  padding: 86px 20px;
  text-align: center;
  background: #fff;
  z-index: 10;
  h6 {
    font-size: $fsize16;
    line-height: $fsize16 + 2;
  }
  .btn_flash {
    margin-top: 28px;
  }
  @media (min-width: $swich_pc) {
    width: 580px;
  }
  @media (max-width: $swich_sp) {
    width: 80%;
  }
}

/* Flash Messages *****************************************/

ul.mes_err {
  margin-top: 14px;
  li {
    color: $c_hihada;
  }
}

/* List *****************************************/
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.lst_inline {
  li {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
  }
}
ul.lst_ico {
  li {
    padding: 4px 6px;
    background: $color;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
  }
}

/* Link *****************************************/
a {
  color: #000;
  text-decoration: underline;
  @media (min-width: $swich_pc) {
    @include hoverOpacity;
  }
}

/* Table ****************************************/
.tbl label {
  color: #fff;
}
.tbl {
  border-top: 1px solid $bc_black;
  border-bottom: 1px solid $bc_black;
  dl {
    margin: 0;
    padding: 0;
    // border-bottom: 1px solid $bc_gray;
    width: 100%;
    display: table;
    font-size: $fsize16;
    dt, dd {
      display: table-cell;
    }
    dt {
      padding: 15px 16px;
      width: 20%;
      line-height: $lheights;
      vertical-align: middle;
    }
    dd {
      padding: 15px 16px 15px 24px;
      line-height: $lheights;
      .mes {
        margin: 4px 0 0 38px;
        font-size: $fsize12;
      }
      .sub {
        font-size: $fsize12;
      }
    }
    &:first-child {
      dt, dd { padding-top: 30px; }
    }
    &:last-child {
      dt, dd { padding-bottom: 30px; }
    }
  }
  &.tbl1 {
    dl dt {
      background: #000;
      color: #fff;
      label {
        color: #fff;
      }
    }
  }
  &.tbl2 {
    dl dd {
      border-left: 1px solid $bc_gray;
    }
    dl dt {
      label {
        color: $c_gray_dark;
      }
    }
  }
  &.tbl3 {
    border-top: 1px solid $bc_gray;
    border-bottom: none;
    dl {
      dt {
        height: 4.5em;
        width: 15%;
        padding-left: 0px;
      }
      dt, dd {
        border-bottom: 1px solid $bc_gray;
        vertical-align: middle;
      }
      &:first-child {
        dt, dd { padding-top: 15px; }
      }
      &:last-child {
        dt, dd { padding-bottom: 15px; }
      }
    }
  }
  @media (max-width: $swich_sp) {
    dl {
      display: block;
      dt {
        display: block;
        padding: 15px 0 8px;
        width: 100%;
        background: none !important;
        color: #000 !important;
      }
      dd {
        display: block;
        margin: 0 0 0 5px;
        padding: 0 0 20px;
        width: 100%;
      }
      &:first-child {
        dt { padding-top: 25px; }
        dd { padding-top: 0px; }
      }
      &:last-child {
        dt { padding-bottom: 10px; }
        dd { padding-bottom: 25px; }
      }
    }
    &.tbl2 dl dd {
      @include clearfix;
      border-left: none;
    }
    &.tbl3 {
      dl {
        border-bottom: 1px solid $bc_gray;
        dt, dd {
          border: none;
        }
        dt {
          width: 100%;
          height: auto;
        }
        dd {
          margin-left: 10px;
        }
        &:first-child {
          dd { padding-top: 0; }
        }
        &:last-child {
          dt { padding-bottom: 8px; }
        }
      }
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  tr {
    th,td {
      text-align: left;
      vertical-align: middle;
    }
    th {
      font-weight: normal;
    }
    &.highlight th,
    &.highlight td {
      background-color: #dff2fc;
    }
  }
}
nav.btns {
  margin: 30px 0;
  text-align: center;
}

nav.page {
  margin-top: 20px;
  text-align: center;
  font-size: $tsizem;
  a {
    display: inline-block;
    border: 1px solid $bc_gray;
    line-height: 1;
    vertical-align: middle;
    padding: 0.2em 0.4em;
    text-decoration: none;
    &:hover, &.on {
      background: $color;
      color: #fff;
    }
  }
}
div.memo {
  border: 1px solid $bc_gray;
  padding: 10px;
}

/* Inline Element ******************************************/

.f_smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.big {
  font-size: 1.5em;
}
.min {
  font-size: 0.6em;
  margin: 0 2px;
}
.nospace {
  margin: 0;
  padding: 0;
}
.btn_line {
  padding: 6px 12px;
  border: 2px solid #fff;
}
a.btn_line {
  padding: 7px 12px;
  border: 1px solid #fff;
  border-radius: 5px;
}
@media (min-width: $swich_pc) {
  .pc_line {
    display: inline-block;
    margin-right: 1.5em;
  }
  .spShow { display: none; }
  .pcShow { display: block; }
}
@media (max-width: $swich_sp) {
  .sp_line {
    display: inline-block;
  }
  .spShow { display: block; }
  .pcShow { display: none; }
}
.em,
strong {
  font-weight: bold;
}

/* icon */
.ico {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-left: $space-sm;
  padding: 4px 6px;

  &.ico_must {
    background: $state-error-label-color;
    color: #fff;
    vertical-align: top;
  }

  &.ico_any {
    margin-right: 1em;
  }
}
a.tw, a.fb {
  text-indent: -9999em;
  opacity: 0.9;
}
a.tw {
  background: url(/assets/images/common/icon_tw.svg) left top no-repeat;
}
a.fb {
  background: url(/assets/images/common/icon_fb.svg) left top no-repeat;
}

/* add style */
.left {
  float: left;
}
.right {
  float: right;
}
.aLeft {
  text-align: left;
}
.aRight {
  text-align: right;
}
.aCenter {
  text-align: center;
}

/* Form Parts   *******************************************/
#{$all-text-inputs} {
  border: 2px solid transparent;
  border-radius: 6px;
  display: inline-block;
  font-size: $fsize16;
  line-height: 20px;
  padding: 12px 16px;
  width: 80%;

  @media (max-width: $swich_sp) {
    padding: 12px 10px 14px;
    width: 80%;
    padding: 12px;
  }

  &.input-small {
    width: 60px;
  }

  &.input-medium {
    width: 120px;
  }
}

.with-error {
  #{$all-text-inputs} {
    background-color: #f1dfdf;
    border: 2px solid $state-error-border-color;
  }
}

@media (max-width: $swich_sp) {
  input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }
}

label {
  cursor: pointer;
}

/* radio */
label.radio_txt {
  position: relative;
  margin-right: 30px;
  padding-left: 30px;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  span {
    padding: 9px 7px;
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid $bc_gray;
    background: #fff;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    content: '';
    z-index: 3;
    overflow: hidden;
  }
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    left: 8px;
    top: 8px;
    background-color: $color;
    z-index: 5;
  }
  input[type="radio"] {
    @include appearance(none);
    position: absolute;
    width: 20px;
    height: 20px;
    left: -16px;
    top: 3px;
    margin: 0px;
    border-radius: 50%;
    box-shadow: 18px -1px #FFF;
    z-index: 10;
    border: none;
    &:checked {
      box-shadow: none;
    }
    &:focus {
      opacity: 0;
      box-shadow: 20px -1px #FFF;
    }
  }
}

/* checkbox */
label.ck_txt {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  span {
    padding: 9px 7px;
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0;
    border: 1px solid $bc_gray;
    border-radius: 3px;
    z-index: 3;
  }
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    display: block;
    width: 10px;
    height: 15px;
    border-right: 4px solid $color;
    border-bottom: 4px solid $color;
    @include transform(rotate(45deg));
    z-index: 1;
  }
  input[type="checkbox"] {
    @include user-select(none);
    position: absolute;
    left: -30px;
    width: 28px;
    height: 28px;
    display: block;
    box-shadow: 30px 0px #fff;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    &:checked {
      box-shadow : none;
    }
    &:focus {
      // box-shadow: 41px 0px #EE0;
    }
  }
}


// NOTE Consider making .btn selectors more generic
// and moving the styles to _buttons.scss.
a.btn, input.btn, span.btn, button.btn {
  position: relative;
  display: inline-block;
  min-width: 165px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  @include appearance(none);

  &.btn_lin {
    border: 1px solid $color;
    background: none;
    color: $color;
  }
  &.btn_nml {
    background: $color;
  }
  &.btn_enter {
    background: $bc_red;
  }
  &.btn_flash {
    padding: 8px 56px;
    letter-spacing: 0.2em;
    border: 1px solid $color;
    background: #2b2b2b;
    color: #fff;
    font-size: $fsize14;
  }
  &.btn_disabled {
    background: #E9E9E9;
    color: #000;
    cursor: not-allowed;

    &:lang(ja) {
      letter-spacing: 1.5em;
      padding-left: 1.5em + 1.4375em;
    }

    &:focus, &:hover {
      opacity: 1;
    }
  }
  @media (min-width: $swich_pc) {
    @include hoverOpacity;
  }
  @media (max-width: $swich_sp) {
    @include clearfix;
    background-position: right 15px center;
    &.black_btn {
      padding: 17px 0;
      width: calc(100% - 40px);
    }
  }
}

/* ==========================================================================
   Common Block
   ========================================================================== */
div.in {
  @include clearfix;
}
section.block {
  margin: 0 0 40px;
}
section.box {
  margin: 0 0 20px;
  padding: 0 10px;
}


/* ==========================================================================
   Error
   ========================================================================== */

.error_message {
  margin: 80px 0 50px 0;
  font-size: 26px;
  line-height: 42px;
}

.back_to_home {
  margin-bottom: 80px;
}

// Reservation Box
.reservation_box {
  background-color: #fff;
  margin-bottom: $space-sm;
  padding-bottom: $space;
  position: relative;
  @include clearfix;

  @media (min-width: $swich_pc) {
    margin-bottom: $space-sm;
    padding: $space $space $space ($facility-image-size + $space);
  }

  @at-root { // box layout
    #{&}_image {
      padding: $space-md;
      width: 100%;

      @media (min-width: $swich_pc) {
        float: left;
        margin-left: -($facility-image-size);
        padding: 0;
        width: $facility-image-size;
      }
    }

    #{&}_details {
      padding: 0 $space-md;
      width: 100%;

      @media (min-width: $swich_pc) {
        float: left;
        padding: 0 0 0 $space;
      }
    }
  }

  .facility_image {
    height: auto;
    max-width: 100%;

    @media (max-width: $swich_sp) {
      display: block;
      width: 100%;
    }
  }

  .date_of_stay {
    color: #666;
    font-family: $reservation-font-family;
    font-size: 14px;
    margin-bottom: $space-md;
  }

  .facility_name,
  .room_name {
    font-size: 24px;
    line-height: 1.33;
  }

  .subtitle {
    margin-top: $space;

    p {
      line-height: 20px;
    }
  }

  .conditions {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: $space-md 0;
    @include clearfix;

    @media (min-width: $swich_pc) {
      font-size: 16px;
    }

    .length_of_stay_and_persons {
      float: left;
      line-height: 1;
      margin-right: $space-md;
      padding-top: 6px;

      @media (min-width: $swich_pc) {
        padding-top: 4px;
      }
    }

    .final_price_taxed {
      color: #791e1f;
      float: right;

      @media (min-width: $swich_pc) {
        float: left;
        margin-right: 20px;
      }

      > span {
        color: inherit;
        display: inline-block;
        line-height: 1;
      }

      .price {
        font-family: $reservation-price-font-family;
        font-size: 20px;
        letter-spacing: 0.075em;
      }

      .with_tax {
        font-size: 10px;
      }
    }

    .final_price {
      float: left;
      padding-top: 3px;
      @media (max-width: $swich_sp) {
        float: right;
        display: block;
        width: 100%;
      }
      .sum {
        font-size: 14px;
      }
      .price {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.1em;
      }
    }
  }

  .btn-primary {
    display: block;
    position: relative;

    @media (min-width: $swich_pc) {
      float: right;
    }
  }

  .btn-cancelled {
    position: absolute;
    bottom: 33px;
    right: 33px;
    display: block;
    display: inline-block;
    min-width: 165px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1;
    color: #fff;
    border-radius: 3px;
    border: none;
    @include appearance(none);

    @media (max-width: $swich_sp) {
      left: 20px;
      right: 20px;
      bottom: 10px;
    }
  }

  .reservation-bar.checkout-start + .liquid-container & {
    .facility_image {
      max-width: 100%;
      width: 100%;
    }
  }
}

.reservation_details { // add new style for issue#422
  font-family: $reservation-font-family;
  margin-top: $space;

  dl {
    width: 100%;

    @media (min-width: $swich_pc) {
      padding-left: $reservation-dt-width;
      @include clearfix();
    }

    + dl {
      border-top: 1px solid rgba(#000, .2);
      margin-top: $space;
      padding-top: $space;

      @media (min-width: $swich_pc) {
        margin-top: $space-sm;
        padding-top: $space-lg;
      }
    }

    dt,
    dd {
      display: block;
      line-height: 1.45;

      > p { // for simple format
        font-size: inherit;
        line-height: inherit;
      }
    }

    dt {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: $space-xs;

      @media (min-width: $swich_pc) {
        float: left;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: -($reservation-dt-width);
        width: $reservation-dt-width;
      }
    }

    dd {
      margin-bottom: $space-md;
      width: 100%;

      @media (min-width: $swich_pc) {
        padding-left: $space;
      }
    }
  }

  .note_on_checkin_time {
    font-size: 14px;
    line-height: 1.45;
    margin-bottom: $space-md;
  }
}

.reservation_pricing {
  font-family: $reservation-font-family;
  margin-bottom: $space-sm;

  &.grid { // for 2columns layout
    dl {
      margin-bottom: $space-sm;
    }

    @media (min-width: $swich_pc) { // only PC
      margin-left: -($space-xs);
      margin-right: -($space-xs);
      @include clearfix();

      > .col-6 {
        float: left;
        padding: 0 $space-xs;
        width: 50%;
      }

      dl {
        margin-bottom: 0;
      }
    }
  }

  dl {
    background-color: #dcdcdc;
    padding: $space $space-md;
    width: 100%;

    @media (min-width: $swich_pc) {
      padding: $space-lg $space-lg $space-lg ($reservation-dt-width + $space-lg);
      @include clearfix();
    }

    dt,
    dd {
      display: block;
      font-weight: 700;
      line-height: 1.45;
    }

    dt {
      font-size: 14px;
      margin-bottom: $space-xs;

      @media (min-width: $swich_pc) {
        font-size: 16px;
        float: left;
        margin-bottom: 0;
        margin-left: -($reservation-dt-width);
        width: $reservation-dt-width;
      }
    }

    dd {
      text-align: right;

      @media (min-width: $swich_pc) {
        padding-left: $space;
        width: 100%;
      }

      .sum {
        font-size: 12px;
        margin-right: $space-sm;

        @media (min-width: $swich_pc) {
          font-size: 16px;
        }
      }

      .price {
        font-family: $reservation-price-font-family;
        font-size: 18px;

        @media (min-width: $swich_pc) {
          font-size: 21px;
        }
      }

      .price_without_tax {
        margin-right: 1em;
      }

      .with_tax {
        font-size: 10px;
        margin-left: $space-xs;

        @media (min-width: $swich_pc) {
          font-size: 12px;
        }
      }
    }
  }
}

.reservation_info { // add new style for issue#422
  font-family: $reservation-font-family;
  margin-top: $space;
  padding: 0 $space-md;

  @media (min-width: $swich_pc) {
    margin-top: $space-lg;
    padding: 0 $space-lg;
  }

  dl {
    @media (min-width: $swich_pc) {
      padding-left: $reservation-dt-width;
      width: 100%;
      @include clearfix();
    }

    dt,
    dd {
      display: block;
      line-height: 1.45;
    }

    dt {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: $space-xs;

      @media (min-width: $swich_pc) {
        float: left;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: -($reservation-dt-width);
        width: $reservation-dt-width;
      }
    }

    dd {
      margin-bottom: $space-md;

      @media (min-width: $swich_pc) {
        font-size: 14px;
        padding-left: $space;
        width: 100%;
      }
    }
  }
}

.box { // for user: issue#422
  + .box {
    margin-top: $space-max;
  }
}
