/* ==========================================================================
   containar
   ========================================================================== */
.content, .in {
  @include outer-container($container-width);
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $swich_pc) {
    .cont_main {
      @include span-columns(8);
    }
    .cont_menu {
      @include span-columns(4);
    }
  }
  @media (max-width: $swich_sp) {
  }
}
.content {
  @media (min-width: $swich_pc) {
    padding-top: $header-height;
  }
  @media (max-width: $swich_sp) {
    padding-top: $header-height-sp;
  }
}
.in {
  @media (min-width: $swich_pc) {
    padding: 0px;
  }
  @media (max-width: $swich_sp) {
    padding: 0 10px;
  }
}
