.facility-slider { // for jQuery.plugin additional styles
  $dragger-bar: 10px;
  $image-size: 400px;
  $sp-image-size: 220px;

  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &-in {
    overflow: hidden;

    @media (max-width: $swich_sp) {
      height: $sp-image-size;
    }

    @media (min-width: $swich_pc) {
      height: $image-size;
    }

    .item {
      float: left;
      overflow: hidden;
      position: relative;

      img {
        display: block;
        width: auto;

        @media (max-width: $swich_sp) {
          height: $sp-image-size;
        }

        @media (min-width: $swich_pc) {
          height: $image-size;
        }
      }
    }
  }

  .mCSB_horizontal {
    margin-bottom: 0;

    @media (min-width: $swich_pc) {
      margin-bottom: $space-max;
    }

    &.mCSB_inside {
      > .mCSB_container {
        margin-bottom: $space-xlg;
      }
    }
  }

  &.mCustomScrollbar {
    .mCSB_dragger {
      .mCSB_dragger_bar {
        background-color: rgba($c_black, .54);
        border-radius: $dragger-bar;
        height: $dragger-bar;
        margin: 0 auto;
      }
    }

    .mCSB_scrollTools {
      margin-left: $space-md;
      margin-right: $space-md;

      .mCSB_draggerContainer {
        height: 10px;
        top: 0;

        @media (min-width: $swich_pc) {
          display: block;
        }
      }

      &.mCSB_scrollTools_horizontal {
        bottom: $space;
        height: $dragger-bar;

        a + .mCSB_draggerContainer {
          margin: 0;
        }

        .mCSB_draggerRail {
          opacity: 0;
          visibility: hidden;
        }

        &.mCSB_scrollTools_onDrag_expand {
          .mCSB_draggerContainer:hover {
            .mCSB_dragger {
              .mCSB_dragger_bar {
                height: $dragger-bar;
                margin: 0 auto;
              }
            }
          }
        }
      }

      $slider-icon: 36px;
      .mCSB_buttonLeft,
      .mCSB_buttonRight {
        cursor: pointer;
        display: none !important;
        height: $slider-icon;
        margin-top: -($slider-icon / 2);
        opacity: .85;
        overflow: hidden;
        position: absolute;
        float: none;
        top: -($image-size / 2);
        width: $slider-icon;

        &:hover {
          opacity: .54;
        }

        @media (min-width: $swich_pc) {
          display: block !important;
        }
      }

      .mCSB_buttonLeft {
        background-image: url('images/slider/slide_arrow_left.png'); // override path
        background-position: top center;
        left: $space-md;
      }

      .mCSB_buttonRight {
        background-image: url('images/slider/slide_arrow_right.png'); // override path
        background-position: top center;
        right: $space-md;
      }
    }
  }
}

// for modal: jquery.nyroModal
.nyroModalBg {
  z-index: 100;
}

.nyroModalImg {
  z-index: 105;

  @media (max-width: $swich_sp) {
    margin: 30px 20px;
  }

  @media (min-width: $swich_pc) {
    margin: 50px 30px;
  }
}

.nyroModalCloseButton { // change modal button image
  background-image: url('images/common/icon_close.png');
  background-size: contain;
  top: -24px;
  right: -24px;
  height: 24px;
  width: 24px;
  z-index: 110;
}

.nyroModalLoad {
  background-image: url('images/jquery.nyroModal/img/ajaxLoader.gif');
  z-index: 110;
}

.nyroModalPrev:hover {
  background-image: url('images/jquery.nyroModal/img/prev.gif');
  z-index: 110;
}

.nyroModalNext:hover {
  background-image: url('images/jquery.nyroModal/img/next.gif');
  z-index: 110;
}
