@mixin daterangepicker-mobile {
  .input_checkin_checkout, .form_checkin {
    input.daterangepicker-input {
      display: none;

      & + .hide {
        display: block;

        input[type=date] {
          @include appearance(none);
          display: inline-block;
          float: left;
          letter-spacing: 0px;
          position: relative;
          width: 50%;

          &::before {
            content: attr(placeholder) !important;
            color: #444;
            margin-right: 0.5em;
            white-space: nowrap;
            display: block;
            position: absolute;
          }

          &.filled::before {
            display: none;
          }
        }
      }
    }
  }

  .date-range-picker-single {
    input.daterangepicker-input + .hide {
      input[type=date] {
        &:first-child {
          text-align: left;
          width: 100%;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

.daterangepicker {
  display: none;
}

.enysi-main {
  .daterangepicker {
    .input-mini {
      border-radius: 4px;
      border: 1px solid #ccc;
      color: #555;
      display: block;
      height: 30px;
      line-height: 30px;
      margin: 0 0 5px 0;
      padding: 0 6px 0 28px;
      vertical-align: middle;
      width: 100%;
    }
  }

  @include screen-narrow {
    @include daterangepicker-mobile;
  }
}
