.dl-horizontal {
  $dd-margin: 20px;
  $dt-width: 150px;

  @include clearfix;
  padding-left: $dt-width + $dd-margin;

  dd, dt {
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: .05em;
  }

  dt {
    clear: both;
    float: left;
    font-weight: 300;
    margin-left: 0 - $dt-width - $dd-margin;
    width: $dt-width;
    vertical-align: top;
  }

  dd {
    float: left;
    width: 100%;

    address {
      font-style: normal;
      line-height: 24px;
    }
  }
}
