$fxcal-date-bg: #fff;
$fxcal-date-border-radius: 4px;
$fxcal-date-border: #ddd;
$fxcal-date-color: #000;
$fxcal-date-height: 38px;
$fxcal-date-width: 39px;

$fxcal-sat: #284890;
$fxcal-sun: #791e1f;

$fxcal-disabled-color: #ddd;
$fxcal-gap-color: #e6e6e6;
$fxcal-selected-bg: #284890;
$fxcal-selected-color: #fff;
$fxcal-weekday-height: 29px;

$fxcal-lateral-padding: 1.5em;
$fxcal-item-lateral-padding: $fxcal-lateral-padding / 2;

@mixin fxcal-disable {
  cursor: not-allowed;
  pointer-events: none;
}

@mixin fxcal-enable {
  cursor: pointer;
  pointer-events: auto;
}

@mixin fxcal-selected {
  background: $fxcal-selected-bg;
  color: $fxcal-selected-color;
}

.flex-calendar {
  @include align-items(center);
  @include display(flex);
  @include flex-flow(row nowrap);
  @include justify-content(space-around);
  @include user-select(none);

  background: #F3F3F3;
  border-radius: $fxcal-date-border-radius;
  font-family: sans-serif;
  padding: 2em $fxcal-item-lateral-padding;
  position: relative;

  > * {
    margin: {
      left: $fxcal-item-lateral-padding;
      right: $fxcal-item-lateral-padding;
    }
  }

  &.fxcal {
    &-loading {
      table {
        @include fxcal-disable;
        opacity: 0.2;
      }
    }

    &-modal {
      @include align-items(center);
      @include display(flex);
      @include flex-flow(row nowrap);
      @include justify-content(center);

      background: rgba(#000, 0.25);
      height: 100%;
      left: 0;
      opacity: 0;
      padding: 0;
      position: fixed;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 300;

      .flex-calendar {
        margin: 0;
        padding: 0;

        table {
          margin: 1em 0 2em;
        }
      }

      table {
        border-collapse: collapse;

        padding: {
          bottom: 2em;
          top: 2em;
        }

        caption {
          font-weight: bold;
        }

        td, th {
          width: 34px;
        }

        th {
          text-align: center;
        }

        td {
          height: 34px;
          line-height: 34px;
        }

        td.fxcal-gap {
          // $color: #e6e6e6;
          // background: $color;
          // color: $color;
          // opacity: 1;
        }

        @include screen-narrow {
          margin: 0;
          padding-top: 1em;
        }
      }
    }

    &-visible {
      opacity: 1;
      visibility: visible;

      &.fxcal-modal-narrow {
        opacity: 0;
        visibility: hidden;

        @include screen-narrow {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-unavailable {
      &.fxcal-select {
        &-end {
          td {
            &.fxcal {
              &-avail, &-edge {
                &:not(.fxcal-range-avail, .fxcal-adj) {
                  @include fxcal-disable;
                  background: $fxcal-date-bg;
                  color: $fxcal-disabled-color;
                }
              }
            }
          }
        }

        &-start {
          td.fxcal-edge:not(.fxcal-range-end) {
            @include fxcal-disable;
            background: mix($fxcal-gap-color, $fxcal-date-bg, 50%);
            color: $fxcal-gap-color;
          }
        }
      }
    }
  }

  button {
    $bg: #e6e6e6;
    @include align-items(stretch);
    @include display(flex);
    @include flex-flow(row nowrap);
    @include flex-shrink(0);
    @include fxcal-enable;
    @include justify-content(space-around);
    @include size(36px);
    background: $bg;
    border: none;
    border-radius: $fxcal-date-border-radius;
    font-size: 1.25em;
    padding: 0;

    &, .fa {
      color: #284890;
      font-weight: bold;
      text-align: center;
    }

    &[disabled] {
      @include fxcal-disable;
      opacity: 0.25;
    }

    &:active, &:hover:active {
      background: darken($bg, 20%);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background: darken($bg, 10%);
    }

    .fa {
      width: 100%;
    }

    @include screen-narrow {
      @include align-self(stretch);
      background: rgba($bg, 0);
      height: auto;
      margin: 0;
    }
  }

  caption {
    font-weight: bold;
    line-height: 1.15em;
    padding: 0 1em 0.6em;
  }

  table {
    @include align-self(flex-start);
    @include transition(opacity 0.5s linear);
    border-collapse: collapse;
    opacity: 1;
    width: auto;

    @include screen-narrow {
      margin: 0;
      padding-top: 1em;
    }
  }

  td, th {
    @include transition(all 0.05s linear);
    background: $fxcal-date-bg;
    border: solid 1px $fxcal-date-border;
    color: $fxcal-date-color;
    cursor: text;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: $fxcal-date-width;

    text: {
      align: center;
      decoration: none;
    }

    &:first-child {
      color: $fxcal-sun;
    }

    &:last-child {
      color: $fxcal-sat;
    }
  }

  td {
    @include transition(all 0.05s linear);
    cursor: pointer;
    height: $fxcal-date-height;
    line-height: $fxcal-date-height;

    &:focus, &:hover {
      @include fxcal-selected;
      outline: none;
    }

    &[data-fxcal-title] {
      &:hover {
        &::after, &::before {
          display: block;
          line-height: 1.2;
        }
      }

      &:focus {
        outline: none;
      }

      &::after {
        $border-size: 1px;
        $size: 0.8em;
        @include absolute(0 - 0.75em, 50%);
        @include size($size);
        @include transform(rotate(45deg));
        background: $fxcal-date-bg;
        border: solid $border-size $fxcal-date-border;
        border-left: 0;
        border-top: 0;
        content: '';
        display: none;
        margin-left: 0 - $size / 2;
        margin-top: $border-size;
      }

      &::before {
        $width: 12em;
        @include absolute(-3em, 50%);
        background: $fxcal-date-bg;
        border: solid 1px $fxcal-date-border;
        color: $fxcal-date-color;
        content: attr(data-fxcal-title);
        display: none;
        margin-left: 0 - $width / 2;
        padding: 0.75em 0.5em;
        text-align: center;
        width: $width;
      }
    }

    &[disabled] {
      @include fxcal-disable;
      opacity: 0.1;
    }

    &.fxcal {
      // Using source order. Do not rearrange selectors in alphabetical order.

      &-adj, &-past, &-unavail {
        @include fxcal-disable;
      }

      &-before-min {
        opacity: 0.5;

        &:hover {
          &::after, &::before {
            display: none;
          }
        }
      }

      &-range {
        &-end,
        &-start,
        &-within {
          @include fxcal-selected;
        }
      }

      &-unavail {
        background: $fxcal-date-bg;
        color: $fxcal-disabled-color;
      }

      &-gap {
        background: $fxcal-gap-color;
        color: $fxcal-gap-color;
      }

      &-past {
        background: $fxcal-date-bg;
        color: $fxcal-disabled-color;
      }

      &-adj {
        background: $fxcal-date-bg;
        color: rgba(0, 0, 0, 0);
      }
    }
  }

  th {
    cursor: text;
    font-size: 1em;
    height: $fxcal-weekday-height;
    line-height: $fxcal-weekday-height;
    text-align: center;
  }

  .fxcal {
    $nav-adjust: 0.1em;

    &-hide {
      display: none;
    }

    &-next {
      @include order(9999);
      padding-left: $nav-adjust;

      @include screen-narrow {
        border: {
          bottom-left-radius: 0;
          top-left-radius: 0;
        }
      }
    }

    &-prev {
      @include order(0);
      padding-right: $nav-adjust;

      @include screen-narrow {
        border: {
          bottom-right-radius: 0;
          top-right-radius: 0;
        }
      }
    }
  }
}
