.enysi-brand,
.enysi-main {
  header.global,
  footer.global {
    @import 'container';
  }
}

header.global {
  background-color: rgba(5, 5, 5, .6);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 95;

  // if has banner on header
  // &.is-campaigns-on {
  //   @media (min-width: $swich_pc) {
  //     padding: 0;
  //   }

  //   .logo {
  //     @media (max-width: $swich_sp) {
  //       padding: 14px 0;
  //     }

  //     @media (min-width: $swich_pc) {
  //       padding: 12px 0;
  //     }
  //   }

  //   a.gbtn {
  //     @media (max-width: $swich_sp) {
  //       margin-top: 20px;
  //     }
  //   }

  //   nav {
  //     @media (min-width: $swich_pc) {
  //       padding: 12px 0;
  //     }
  //   }

  //   + .wrap { // bannerあるときは余白量を増やす
  //     .container {
  //       .content {
  //         @media (max-width: $swich_sp) {
  //           padding-top: $header-height-sp;
  //         }

  //         @media (min-width: $swich_pc) {
  //           padding-top: $header-height;
  //         }
  //       }

  //       .facilities-related {
  //         .content {
  //           @media (max-width: $swich_sp) {
  //             padding-top: 30px;
  //           }

  //           @media (min-width: $swich_pc) {
  //             padding-top: 62px;
  //           }
  //         }
  //       }
  //     }
  //   }

  //   @media (max-width: $swich_sp) {
  //     height: auto;
  //     padding: 0;
  //   }
  // }
  &.is-beginner {

  }

  &.is-ambassador {
    background-color: #333;

    @media (min-width: $swich_pc) {
      padding: 0;
    }

    @media (max-width: $swich_sp) {
      height: auto;
      padding: 0;
    }

    .logo {
      @media (max-width: $swich_sp) {
        padding: 5px 0;
      }

      @media (min-width: $swich_pc) {
        padding: 5px 0;
      }
    }
  }

  &.is-toujiba, &.is-en-toujiba {
    .brand_language_switcher {
      select {
        option {
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  a {
    color: #fff;
    font-size: 14px;
    outline: 0;
    text-decoration: none;
    letter-spacing: .05em;
  }

  .logo {
    float: left;

    a {
      display: block;
      padding: 9px 0;
    }

    .enysi-logo {
      display: block;
      @include size(91px, 16px);
    }
  }

  nav {
    float: right;
  }

  select {
    background: transparent url('../assets/images/brand/common/arr_select.png') no-repeat right 5px center;
    border-radius: 0;
    border: none;
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    letter-spacing: .075em;
    padding: 6px 8px;
    width: 60px;
    @include appearance(none);

    > option {
      color: #2b2b2b;

      &:hover {
        color: #fff;
      }
    }
  }

  @media (min-width: $swich_pc) {
    padding: 12px 0;

    a.gbtn {
      display: none;
    }

    nav {
      ul {
        li {
          display: inline-block;
          margin: 0 32px 0 0;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: block;
            line-height: 34px;

            &.link-reserve {
              background-color: rgba(#fff, .12);
              border-radius: 3px;
              padding: 0 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $swich_sp) {
    height: $menu-height;
    padding: 14px 0;

    nav {
      background: rgba(0, 0, 0, .54);
      clear: both;
      opacity: 0;
      position: relative;
      top: 5px;
      transition: all .5s;
      @include size(100%, 0);
      @include transform(scaleY(0));

      &.active {
        height: auto;
        opacity: 1;
        @include transform(scaleY(1));
      }

      ul {
        li {
          a {
            background: url(/assets/images/common/arr_btn.png) no-repeat right 10px center;
            background-size: auto 6px;
            border: none;
            border-bottom: 1px solid #888;
            padding: 15px 14px;
            width: 100%;
          }

          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }

    a.gbtn,
    a.gbtn span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    a.gbtn {
      position: relative;
      width: 27px;
      height: 20px;
      float: right;
      margin: 6px 4px 0 0;

      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;

        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 9px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }

      &.active span:nth-of-type(1) {
        @include transform(translateY(9px) rotate(-45deg));
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      &.active span:nth-of-type(3) {
        @include transform(translateY(-9px) rotate(45deg));
      }
    }
  }

  // LP banner
  .campaigns {
    background-color: #284890;
    display: block;
    padding: 10px 0;
    position: relative;

    #{&}-ambassador {
      background: url('../assets/images/ambassador/banner_sp.png') center top no-repeat;
      background-size: contain;
      margin: 0 auto;
      text-indent: -9999em;
      @include size(auto, 18px);

      @media (min-width: $swich_pc) {
        background: url('../assets/images/ambassador/banner_pc.png') center top no-repeat;
        background-size: contain;
        @include size(516px, 24px);
      }
    }
  }
}

footer.global {
  background-color: rgba(25,25,25, 1);
  padding: 32px 0 24px;
  position: relative;
  z-index: 90;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $swich_pc) {
    padding: 70px 0 24px;
  }

  &.is-ambassador {
    padding: 24px 0;
  }
  .fwrap {
    margin: 0 auto 24px;
    max-width: 980px;
    padding: 0 0 24px;

    @media (min-width: $swich_pc) {
      margin: 0 auto 32px;
      padding: 0 0 32px 100px;
      @include clearfix;
    }

    .logo {
      display: none;

      @media (min-width: $swich_pc) {
        display: block;
        float: left;
        margin-left: -100px;
        position: relative;
        @include size(100px, 128px);

        a {
          background: url(/assets/images/top/logo_pc_new.png) no-repeat center top;
          background-size: contain;
          display: block;
          text-indent: -999em;
          opacity: 0.65;
          @include size(100%, 100%);
        }
      }
    }

    .f-nav {
      @include display(flex);
      @include flex-wrap(wrap);

      @media (min-width: $swich_pc) {
        padding-left: 120px;
        @include justify-content(space-between);
      }
    }

    .f-link {
      list-style: none;
      margin: 0 0 0;
      padding: 0;

      @media (max-width: $swich_sp) {
        &.link01 {
          width: percentage(1/2);
        }

        &.link02 {
          width: percentage(1/2);
        }

        &.link03 {
          padding-top: 24px;
          width: 100%;
        }
      }

      > li {
        font-size: 1em;
        margin-top: 16px;

        @media (min-width: $swich_pc) {
          font-size: 1.2em;
        }

        &:first-child {
          margin-top: 0;
        }

        a {
          color: #fff;
          display: inline-block;
          letter-spacing: .05em;
          line-height: $lheightl;
          outline: 0;
          text-decoration: none;
        }

        ul {
          margin: 5px 0 12px;

          li {
            font-size: 12px;
            margin-bottom: 5px;

            @media (min-width: $swich_pc) {
              font-size: 14px;
            }
          }
        }

        label.select_grp {
          background-color: transparet;
          box-shadow: inset 0 0 0 1px rgba(#fff, .87);
          border-radius: 3px;
          position: relative;

          @media (min-width: $swich_pc) {
            background-color: rgba(#fff, .12);
            box-shadow: none;
          }

          select {
            background: none;
            color: #fff;
            display: block;
            font-size: 16px;
            outline: none;
            padding: 10px 36px 10px 12px;
            text-indent: 0;
            width: 100%;
            @include appearance(none);
          }

          .caret {
            border-color: transparent;
            border-style: solid;
            border-top-color: rgba(#fff, .54);
            border-width: 6px 4px 0;
            content: '';
            position: absolute;
            top: 15px;
            right: 15px;
          }
        }

        &.social {
          @media (max-width: $swich_sp) {
            @include align-items(center);
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
          }

          @media (min-width: $swich_pc) {
          }

          span,
          a {
            color: #fff;

            @media (max-width: $swich_sp) {
              display: block;
            }

            @media (min-width: $swich_pc) {
              display: inline-block;
              vertical-align: top;
            }
          }

          span {
            line-height: 24px;

            @media (max-width: $swich_sp) {
              margin-right: 24px;
            }

            @media (min-width: $swich_pc) {
              margin-right: 60px;
            }
          }

          a {
            margin-right: 16px;
            text-align: center;
            @include size(24px);

            &:last-child {
              margin-right: 0;
            }

            i {
              color: #fff;
              display: block;
              font-size: 24px;
              opacity: 0.65;
              cursor: pointer;
              margin: 0 auto;
              @include size(100%);

              &:before {
                display: block;
              }
            }

            > span {
              clip: rect(1px, 1px, 1px, 1px);
              margin: 0;
              overflow: hidden;
              padding: 0;
              position: absolute;
              @include size(1px);
              @include user-select(none);
            }
          }
        }
      }
    }
  }

  .link-list {
    border-bottom: 1px solid #323232;
    margin: 0 auto 24px;
    max-width: 980px;
    padding: 0 0 12px;

    @media (min-width: $swich_pc) {
      margin: 0 auto 32px;
      padding: 0 0 32px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);

      li {
        margin: 0 24px 12px 0;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        color: #fff;
        display: block;
        letter-spacing: .05em;
        line-height: $lheights;
        outline: 0;
        text-decoration: none;
      }
    }
  }

  .copyright {
    text-align: center;

    small {
      color: #fff;
      font-family: $default-font-family;
      font-size: 10px;
      letter-spacing: .1em;
    }
  }
}
