
/* top  ********************************/

// body.index {
.page-index {
  background: #414141;

  /* main */
  section.main {
    background-image: url('../assets/images/top/sp_top.png');
    background-position: center middle;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    @include size(100%, 100%);

    @media (min-width: $swich_pc) {
      background-image: url('../assets/images/top/top.png');
      background-position: center top;
    }

    div.in {
      padding: 0;
      position: relative;
      @include size(100%, 100%);

      .headline {
        opacity: 0;
        padding: 16px;
        text-align: center;
        @include transform(translate3d(0, 7%, 0));
        @include transition(all 1.2s);

        h1,
        p {
          color: #fff;
          letter-spacing: .2em;
        }
      }

      h1 {
        text-indent: -9999em;
        margin: 0 auto 32px;
        @media (max-width: $swich_pc) {
          margin: 20vh auto 32px;
        }
      }

      .copy {
        margin: 0 auto;
      }

      .credit {
        color: rgba(#fff, .8);
        font-size: 12px;
        position: absolute;
        right: 16px;
      }

      .vertical-txt {
        color: #fff;
        letter-spacing: .25em;
        position: absolute;
        writing-mode: tb-rl;
        /* IE独自仕様 */
        writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -o-writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;

        @media (max-width: $swich_sp) {
          letter-spacing: .2em;
        }

        span {
          color: inherit;
          display: inline-block;
          position: relative;
        }

        &.main-txt {
          span {
            border-left: 1px solid rgba(#fff, .7);
          }
        }

        &.description-txt {
          line-height: $lheightm;
        }
      }
    }

    &.ready {
      div.in {
        .headline {
          opacity: 1;
          @include transform(translate3d(0, 0, 0))
        }
      }
    }

    @media (min-width: $swich_pc) {
      div.in {
        h1 {
          background: url('../assets/images/top/logo_pc_new.png') center top no-repeat;
          background-size: contain;
          opacity: .7;
          @include size(85px, 105px);
        }

        .copy {
          font-size: 18px;
        }

        .credit {
          bottom: 24px;
        }

        .vertical-txt {
          &.date-txt {
            font-size: 16px;
            right: 24px;
            top: $header-height + 60px;
          }

          &.main-txt {
            font-size: 21px;
            right: 62px;
            top: $header-height + 60px;

            span {
              margin-bottom: 10px;
              padding-left: 10px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &.description-txt {
            bottom: 15px;
            font-size: 16px;
            left: 24px;
          }
        }
      }
    }

    @media (max-width: $swich_sp) {
      div.in {
        h1 {
          background: url('../assets/images/top/logo_sp.png') center top no-repeat;
          background-size: contain;
          @include size(88px, 109px);
        }

        .copy {
          font-size: 14px;
        }

        .credit {
          bottom: 16px;
        }

        .vertical-txt {
          font-size: 18px;

          &.date-txt {
            font-size: 12px;
            right: 16px;
            top: $header-height-sp + 32px;
          }

          &.main-txt {
            font-size: 18px;
            right: 46px;
            top: $header-height-sp + 32px;

            span {
              margin-bottom: 10px;
              padding-left: 8px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &.description-txt {
            bottom: 10px;
            font-size: 14px;
            font-size: .875rem;
            left: 15px;
          }
        }
      }
    }
  }

  .stay .search_block {
    font-size: 14px;
  }

  .stay-dates-guests-form {
    zoom: 0.8;
  }

  /* content */
  section.content {
    padding-top: 0;
    div.in {
      padding: 0;
    }
    /* search_column */
    section.search_column {
      position: relative;
      background-size: cover;
      h1 {
        color: #fff;
        text-align: center;
        @extend .f_smooth;
      }
      p.coming_soon {
        width: 100%;
        text-align: center;
        letter-spacing: 0.1em;
        color: #fff;
      }
      p.link {
        text-align: center;
        a {
          color: #fff;
          font-weight: 700;
          padding-bottom: 3px;
          border-bottom: solid 1px #f7f7f7;
          text-decoration: none;
        }
      }
    }

    @media (min-width: $swich_pc) {
      padding: 80px 0;
      section.search_column {
        width: 540px;
        height: 490px;
        h1 {
          padding: 324px 0 13px;
          font-size: 25px;
          opacity: 0.75;
        }
        p.link {
          margin: 18px 0 0;
        }
        p.coming_soon {
          margin-top: -5px;
          font-size: 13px;
          opacity: 0.75;
        }
      }
      section.stay {
        float: left;
        background-image: url('../assets/images/top/bg_shukubo_pc.jpg');
      }
      section.experience {
        float: right;
        background-image: url('../assets/images/top/bg_experience_pc.jpg');
      }
    }

    @media (max-width: $swich_sp) {
      section.search_column {
        height: 400px;
        h1 {
          padding: 250px 0 12px;
          font-size: 20px;
        }
        p.link {
          margin-top: 12px;
          font-size: 15px;
        }
      }

      section.stay {
        background-image: url('../assets/images/top/bg_shukubo_pc.jpg');
      }
      section.experience {
        background-image: url('../assets/images/top/bg_experience_pc.jpg');
      }
    }
  }

  .d-tb { // table layout class
    display: table;
    @include size(100%, 100%);

    .d-tbc {
      display: table-cell;
      vertical-align: middle;
    }
  }

//-end top
}

section.sec-content {
  background-color: $c_gray_lighter;
  padding: 50px 0 0;

  &.is-area-search {
    padding: 50px 0 12px;
  }

  @media (min-width: $swich_pc) {
    padding: 80px 0 0;

    &.is-area-search {
      padding: 80px 0;
    }
  }

  .sec-header {
    margin: 0 0 32px;
    text-align: center;

    @media (min-width: $swich_pc) {
      margin: 0 0 60px;
    }

    h1 {
      border-bottom: 1px solid rgba($c_black, .2);
      display: inline-block;
      font-size: 21px;
      line-height: $lheightl;
      margin: 0 0 20px;
      padding: 0 12px 8px;

      @media (min-width: $swich_pc) {
        font-size: 24px;
      }
    }

    p {
      color: $c_gray_dark;
      display: block;
      font-size: 14px;
    }
  }

  .flex-grid-container {
    overflow: hidden;
    padding: 0;

    .flex-grid {
      margin: 0 -1px;

      [class^="col-"],
      [class*=" col-"] {
        padding: 0 1px 1px;
      }
    }
  }

  &.is-feature {
    .flex-grid {
      @media (min-width: $swich_pc) {
        @include make-flex-grid();
        @include align-items(stretch);
        @include flex-direction(row);
        @include justify-content(center);
      }
    }

    .feature-item {
      background-position: center;
      background-size: cover;
      height: 320px;
      min-height: 320px;
      position: relative;
      width: 100%;

      a {
        display: block;
        outline: none;
        opacity: 1;
        overflow: hidden;
        @include size(100%, 100%);

        @media (min-width: $swich_pc) {
          transition-delay: .5s;

          &:hover {
            opacity: 1;
            transition-delay: 0;
            @include transition(none);

            p {
              &.desc {
                height: auto;
                max-height: 100%;
                margin-bottom: 12px;
                transition-delay: 0;
                visibility: visible;
              }
            }
          }
        }
      }

      .headline {
        background-color: rgba(#000, .6);
        bottom: 0;
        left: 0;
        padding: 12px 16px 0;
        position: absolute;
        right: 0;
        text-align: center;

        p,
        h1 {
          color: #fff;
          position: relative;
        }

        h1 {
          font-size: 18px;
          line-height: $lheights;
          margin: 0 0 12px;

          @media (min-width: $swich_pc) {
            font-size: 21px;
            margin: 0 0 16px;
          }
        }

        p {
          font-size: 14px;
          line-height: $lheightm;
          margin: 0 0 12px;

          &.desc {
            @media (min-width: $swich_pc) {
              height: 0;
              max-height: 0;
              margin-bottom: 0;
              transition-delay: .25s;
              visibility: hidden;
              @include transition(all .5s);
            }
          }
        }
      }
    }
  }

  &.is-reservation {
    .flex-grid {
      @media (min-width: $swich_pc) {
        @include make-flex-grid();
        @include align-items(stretch);
        @include flex-direction(row);
      }
    }
  }

  // search_column
  section.search_column {
    position: relative;
    background-size: cover;

    &.experience {
      background-position: center center;
    }

    @media (max-width: $swich_sp) {
      @include size(100%, 375px);

      &.stay { // left column
        background-image: url('../assets/images/top/bg_shukubo_pc.jpg');
      }

      &.experience { // right column
        background-image: url('../assets/images/top/bg_experience_pc.jpg');
      }
    }

    @media (min-width: $swich_pc) {
      @include size(100%, 490px);

      &.stay { // left column
        background-image: url('../assets/images/top/bg_shukubo_pc.jpg');
      }

      &.experience { // right column
        background-image: url('../assets/images/top/bg_experience_pc.jpg');

        .search_column_inner {
          bottom: 69px;
        }
      }
    }

    .search_column_inner {
      bottom: 32px;
      left: 0;
      padding: 0 12px;
      position: absolute;
      right: 0;
      width: 100%;
    }

    h1 {
      color: #fff;
      font-size: 20px;
      margin: 0 0 12px;
      text-align: center;
      @extend .f_smooth;

      @media (min-width: $swich_pc) {
        font-size: 28px;
        margin: 0 0 24px;
      }
    }

    p.desc {
      color: #fff;
      font-family: $default-font-family;
      font-size: 13px;
      margin: 0 0 20px;
      text-align: center;

      @media (max-width: $swich_sp) {
        display: none;
      }
    }

    p.coming_soon { // not using
      color: #fff;
      letter-spacing: .1em;
      text-align: center;
      width: 100%;

      @media (min-width: $swich_pc) {
        font-size: 13px;
      }
    }

    p.link {
      text-align: center;

      @media (max-width: $swich_sp) {
        font-size: 15px;
        margin: 12px 0 0;
      }

      @media (min-width: $swich_pc) {
        margin: 18px 0 0;
      }

      a {
        color: #fff;
        font-weight: 700;
        padding-bottom: 3px;
        border-bottom: solid 1px #f7f7f7;
        text-decoration: none;
      }
    }
  }

  &.is-area-search {
    .flex-grid {
      @media (min-width: $swich_pc) {
        @include make-flex-grid();
        @include align-items(stretch);
        @include flex-direction(row);
        @include flex-wrap(wrap);
      }
    }

    .area-item {
      background-color: #fff;
      display: block;
      outline: none;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      width: 100%;
      margin-bottom: 1px;

      &-image {
        background-position: 50% 50%;
        background-size: cover;
        height: 280px;
      }

      &-name {
        color: #fff;
        font-family: $default-font-family;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .2em;
        padding: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: $swich_pc) {
          font-size: 21px;
        }
      }

      &-headline {
        padding: 24px 16px;
        position: relative;

        @media (min-width: $swich_pc) {
          padding: 32px 24px;
        }

        &::after {
          $corner-color: #284890;
          $corner-size: 20px;
          bottom: 0;
          content: '';
          height: 0;
          position: absolute;
          right: 0;
          width: 0;

          border: {
            color: transparent $corner-color $corner-color transparent;
            style: solid;
            width: $corner-size / 2;
          }
        }

        h2 {
          font-size: 21px;
          margin: 0;
          text-align: center;

          + p {
            margin-top: 16px;
          }

          @media (min-width: $swich_pc) {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
          line-height: $lheightm;
          margin: 0;

          @media (min-width: $swich_pc) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

// about top
.sec-about {
  background-color: rgba(#000, .26);
  padding: 60px 0 40px;

  @media (min-width: $swich_pc) {
    padding: 100px 0 80px;
  }

  &-headline {
    padding: 0 12px;
    text-align: center;

    h1,
    p {
      color: #fff;
    }

    h1 {
      font-size: 21px;
      line-height: $lheights;
      margin: 0 0 32px;

      @media (min-width: $swich_pc) {
        font-size: 24px;
      }
    }

    p {
      font-size: 14px;
      line-height: $lheightl;
      margin: 0 0 24px;

      @media (min-width: $swich_pc) {
        font-size: 16px;
      }
    }

    .btn {
      background-color: rgba(#fff, .26);
      border-radius: 3px;
      display: inline-block;
      font-size: 14px;
      padding: 12px 24px;
    }
  }
}


/* stay top   ********************************/
body.stay {

  div.in {
    padding: 0;
  }

  /* main */
  section.main {
    background-image: url('http://dummyimage.com/600x600/666/fff&text=+');
    background-size: cover;
    div.in {
      position: relative;
      padding: 0 0;
      h1, p {
        position: absolute;
        color: #fff;
      }
      h1, p.copy {
        width: 100%;
        text-align: center;
      }
    }
    section.search_block {
      position: absolute;
      padding: 0;
      margin: 0 auto;
    }

    @media (min-width: $swich_pc) {
      margin-bottom: 120px;
      div.in {
        height: 490px;
        h1 {
          top: 194px;
          font-size: 65px;
        }
        p.copy {
          top: 280px;
          font-size: 20px;
        }
      }
      section.search_block {
        top: 405px;
        left: 32px;
        @include calc(width, '100% - 66px');
      }
    }
    @media (max-width: $swich_sp) {
      margin-bottom: 40px;
      div.in {
        height: 400px;
        h1 {
          top: 110px;
          font-size: 42px;
          span {
            display: block;
            margin-bottom: 4px;
          }
        }
        p.copy {
          top: 170px;
          font-size: 15px;
          letter-spacing: 0.1em;
        }
        section.search_block {
          top: 242px;
          left: 15px;
          @include calc(width, '100% - 30px');
        }
      }
    }
  }


  /* campaign */
  section.content section.campaign {
    ul.bnr {
      position: relative;
      li a {
        display: block;
        background: #f1f1f1;
        color: #000;
        text-align: left;
        figure {
          display: block;
        }
      }
      li:first-child {
        display: none;
      }
    }
    @media (min-width: $swich_pc) {
      margin: 0 0 116px;
      ul.bnr {
        li a {
          @include clearfix;
          figure {
            position: relative;
            float: left;
            width: 50%;
            height: 280px;
            overflow: hidden;
            img {
              position: absolute;
              left: 50%;
              margin-left: -245px;
              height: 280px;
            }
          }
          div.txt {
            float: right;
            padding: 40px 0 10px;
            width: 50%;
            p {
              padding: 0 17% 0 10%;
              line-height: 1.5;
            }
            p.tit {
              margin-bottom: 15px;
              font-size: 31px;
              span {
                line-height: 1.3;
                display: block;
              }
            }
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      padding: 0 10px;
      margin: 0 0 80px;
      ul.bnr {
        li a {
          @include clearfix;
          figure {
            img {
              width: 100%;
              height: auto;
            }
          }
          div.txt {
            padding: 20px 15px;
            p {
              line-height: 1.5;
            }
            p.tit {
              margin-bottom: 10px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }


  section.content {
    h1, p.lead {
      text-align: center;
    }
    ul.bnr {
      li a {
        display: block;
        width: 100%;
        color: #fff;
        text-align: center;
        text-decoration: none;
        p {
          text-decoration: none;
        }
      }
    }
    @media (min-width: $swich_pc) {
      h1 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p.lead {
        margin-bottom: 40px;
        font-size: 18px;
      }
    }
    @media (max-width: $swich_sp) {
      h1 {
        font-size: 26px;
        margin-bottom: 20px;
      }
      p.lead {
        margin-bottom: 20px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }


  /* stay_search */
  section.stay_search {
    padding-bottom: 70px;
    ul.bnr {
      li {
        margin-bottom: 45px;
        a {
          padding: 138px 0;
          font-size: 33px;
        }
        &.shukubo {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
          background-size: cover;
        }
        &.kominka {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
          background-size: cover;
        }
      }
    }
    @media (max-width: $swich_sp) {
      padding: 0 10px 40px;
    }
  }

  /* area_search */
  section.area_search {
    ul.bnr {
      @include outer-container;
      li {
        a { background-size: cover !important; }
        &.area1 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.area2 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.area3 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.area4 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.area5 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.area6 a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
      }
    }
    @media (min-width: $swich_pc) {
      padding-bottom: 100px;
      ul.bnr {
        li {
          @include span-columns(4);
          @include omega(3n);
          margin-bottom: 2.35765%;
          a {
            padding: 136px 0;
            font-size: 30px;
            background-size: cover !important;
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      padding: 0 10px 60px;
      ul.bnr {
        li {
          @include span-columns(6);
          @include omega(2n);
          margin-bottom: 2.35765%;
          a {
            padding: 64px 0;
            font-size: 24px;
            background-size: cover !important;
          }
        }
      }
    }
  }


  /* area_search */
  section.bnr_brand {
    ul.bnr {
      @include outer-container;
      li {
        a {
        }
        &.photos a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.shukubo a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.kominka a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
        &.experience a {
          background: url('http://dummyimage.com/600x600/666/fff&text=+') center top no-repeat;
        }
      }
    }
    @media (min-width: $swich_pc) {
      margin-bottom: 120px;
      h1 { margin-bottom: 50px; }
      ul.bnr {
        li {
          @include span-columns(3);
          a {
            p.tit {
              padding: 60px 10% 184px;
              height: 6em;
              line-height: 1.5;
              font-size: 24px;
              span {
                display: block;
                line-height: 1.5;
              }
            }
            p.txt {
              margin-bottom: 0;
              padding: 0 16% 24px;
              line-height: 2;
            }
            p.link {
              padding-bottom: 30px;
              text-decoration: underline;
            }
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      margin-bottom: 60px;
      padding: 0 10px;
      h1 { margin-bottom: 30px; }
      ul.bnr {
        li {
          @include span-columns(6);
          @include omega(2n);
          margin-bottom: 2.35765%;
          a {
            p.tit {
              padding: 30px 3% 140px;
              height: 5em;
              line-height: 1.5;
              font-size: 18px;
              span {
                display: block;
                line-height: 1.5;
              }
            }
            p.txt {
              margin-bottom: 0;
              padding: 0 6% 16px;
              line-height: 1.7;
            }
            p.link {
              padding-bottom: 20px;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

//-end stay top
}


/* common parts ? */
.search_block {
  &--top {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0 25px;
    padding: 0;

    .search_box {
      border: none;
      overflow: hidden;
      float: left;

      input {
        box-sizing: border-box;
        background: rgba(255,255,255,0.8);
        border: none;
        border-right: 1px solid #c3c3c3;
        color: #2d2d2d;
        border-radius: 2px 0 0 2px;
        letter-spacing: 0.1em;
        &:last-child {
          border-left: solid 1px #000;
          border-radius: 0 2px 2px 0;
        }
        &::-webkit-input-placeholder {
          color: #2d2d2d;
        }
      }
    }

    .btn_link {
      background: rgba(255,255,255,0.8);
      border-radius: 2px;
      border: none;
      color: #000 !important;
      color: #2d2d2d;
      display: inline-block;
      font-size: 15px;
      font-weight: normal !important;
      letter-spacing: 0.1em;
      margin-left: 10px;
      padding: 9px 1.5em !important;
      text-decoration: none;
    }

    .btn_submit {
      float: right;
      background: rgba(255,255,255,0.8);
      border: none;
      border-radius: 2px;
      letter-spacing: 0.3em;
      margin-left: 10px;
      color: #2d2d2d;
      font-size: 16px;
    }

    .search_box {
      input {
        border-right: 0;
        width: 100%;
      }

      .search_box_cell {
        display: table-cell;
        vertical-align: middle;
        width: 25%;

        &_dates {
          width: 75%;
        }
      }

      .search_box_fields {
        display: table;
        width: 100%;
      }

      .search_box_row {
        display: table-row;
      }
    }

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  @media (min-width: $swich_pc) {
    section.search_box {
      input { padding: 7px 10px; }
    }
    .btn_submit {
      width: 73px;
      height: 33px;
      @include hoverOpacity;
    }
  }

  @media (max-width: $swich_sp) {
    $input-height: 32px;

    margin: 0 auto;
    section.search_box {
      input {
        box-sizing: border-box;
        height: $input-height;
        line-height: $input-height + 2px;
        padding: 0px 5px;

        &[type=date] {
          border-right: 0;
          font-size: 0.7em;
          letter-spacing: 0;

          &:last-child {
            border-radius: 0;
          }

          &::before {
            letter-spacing: -0.2em;
          }
        }

        &[type=number] {
          @include placeholder {
            color: #aaa;
            font-size: 0.7em;
            letter-spacing: 0em;
          }
        }
      }
    }

    .btn_submit {
      height: $input-height;
      padding: 0 0 0 0.3em;
      text-align: center;
      width: 62px;
    }
  }
}

.daterangepicker {
  border: solid 1px #f1f1f1;
  box-shadow: 1px 1px 4px 0 #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  tr {
    &:nth-child(2) {
      th {
        background: #f1f1f1;
        border-radius: 0;
        font-weight: 700;
        padding: 10px;
        border: solid 1px #fff;
      }
    }
    td {
      padding: 10px;
      border: solid 1px #f1f1f1;
      &.active {
        background-color: #9e9e9e;
        &:hover {
          background-color: #6e6e6e;
        }
      }
      &.in-range {
        background-color: #c6c6c6;
        &:hover {
          background-color: #c3c3c3;
        }
      }
      &.end-date {
        background-color: #9e9e9e;
        &:hover {
          background-color: #6e6e6e;
        }
      }
    }
  }

  .applyBtn, .cancelBtn {
    padding: 4px;
    letter-spacing: 0.06em;
    min-width: 80px;
    font-size: 12px;
    font-weight: 700;
  }
}
