/* top  ********************************/
#page_top {
  /* common */
  .block {
    h1 {
      padding: 48px 0;
      font-family : "Open Sans";
      letter-spacing: 6px;
      font-size: 20px;
      span.jp {
        display: inline-block;
        margin: -1px 0 0 37px;
        font-size: 10px;
        color: #f14f00;
        vertical-align: middle;
        letter-spacing: 2px;
      }
    }
    @media (max-width: $swich_sp) {
      h1 {
        padding: 30px 15px;
      }
    }
  }
  #main {
    position: relative;
    color: #fff;
    a { color: #fff; }
    ul.slide {
      position: relative;
      @include clearfix;
      li {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
        figure span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .txt {
      position: absolute;
      text-align: center;
      width: 100%;
      vertical-align: middle;
      z-index: 99;
    }
    @media (min-width: $swich_pc) {
      ul.slide {
        li {
          figure span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            display: block;
            background: url("../img/top/fig_parasol.png") no-repeat center center;
            background-size: contain;
            @include easing-bounce(0.4);
            @include opacity(0);
            @include scale(0);
            &.p1{
              @include delay(0.2);
            }
            &.p2{
              @include delay(0.4);
            }
            &.p3{
              @include delay(0.6);
            }
            &.show{
              @include opacity(100);
              @include scale(1);
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          >img {
            width: 100%;
            height: auto;
            display: block;
            @include scale(1.0);
            @include easing(6);
            position: relative;
            &.move{
              @include scale(1.05);
            }
          }
          /* slide parasol */
          &.slide1 {
            span.p1 {
              top: -145px;
              left: 3%;
              width: 405px; height: 405px;
            }
            span.p2 {
              top: 224px;
              left: 80%;
              width: 225px; height: 225px;
            }
            span.p3 {
              top: 455px;
              left: 15%;
              width: 300px; height: 300px;
            }
          }
          &.slide2 {
            span.p1 {
              top: -10px;
              left: 80%;
              width: 220px; height: 220px;
            }
            span.p2 {
              top: 190px;
              left: 0%;
              width: 320px; height: 320px;
            }
            span.p3 {
              top: 440px;
              left: 60%;
              width: 410px; height: 410px;
            }
          }
          &.slide3 {
            span.p1 {
              top: -40px;
              left: -1%;
              width: 310px; height: 310px;
            }
            span.p2 {
              top: 50px;
              left: 50%;
              width: 210px; height: 210px;
            }
            span.p3 {
              top: 455px;
              left: 15%;
              width: 320px; height: 320px;
            }
            span.p4 {
              top: 520px;
              left: 80%;
              width: 260px; height: 260px;
            }
          }
        }
      }
      .txt {
        top: 22%; /* 仮 */
        h1 { margin-bottom: 42px; }
        p.copy { margin-bottom: 60px; }
      }
    }
    @media (min-width: 751px) and (max-width: 899px) {
      .txt {
        top: 15%;
        h1 { margin-bottom: 30px; }
        p.copy { margin-bottom: 40px; }
      }
    }
    @media (max-width: $swich_sp) {
      ul.slide {
        li {
          /* slide parasol */
          &.slide1 {
            span.p1 {
              top: 3%;
              left: 3%;
              width: 280px;
            }
            span.p2 {
              top: 45%;
              left: 80%;
              width: 160px;
            }
            span.p3 {
              top: 90%;
              left: 15%;
              width: 230px;
            }
          }
          &.slide2 {
            span.p1 {
              top: -10px;
              left: 80%;
              width: 220px;
            }
            span.p2 {
              top: 190px;
              left: 0%;
              width: 320px;
            }
            span.p3 {
              top: 440px;
              left: 60%;
              width: 410px;
            }
          }
          &.slide3 {
            span.p1 {
              top: -40px;
              left: -1%;
              width: 310px;
            }
            span.p2 {
              top: 50px;
              left: 50%;
              width: 210px;
            }
            span.p3 {
              top: 455px;
              left: 15%;
              width: 320px;
            }
            span.p4 {
              top: 520px;
              left: 80%;
              width: 260px;
            }
          }
        }
      }
      .txt {
        top: 25%; /* 仮 */
        h1 {
          margin-bottom: 30px;
          text-align: center;
          img {
            width: 90%;
            height: auto;
          }
        }
        p.copy {
          margin-bottom: 45px;
          line-height: 1.8;
        }
        a.normal_btn {
          padding: 15px 30px;
        }
      }
    }
  }

  #service {
    .body {
      color: #fff;
      text-align: center;
      background: url(../img/top/bg_service.png) no-repeat center top;
    }
    @media (min-width: $swich_pc) {
      .body {
        padding: 80px 0;
        background-size: cover;
        figure {
          margin-bottom: 26px;
          img {
            width: 77px;
            height: auto;
          }
        }
        h2 {
          margin-bottom: 36px;
          font-weight: normal;
        }
        p.txt {
          margin-bottom: 40px;
          span.line {
            line-height: 1.8;
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      .body {
        padding: 85px 0 68px;
        // background: url(../img/top/sp_bg_service.png) no-repeat center top;
        background-size: 100% auto;
        background-size: cover;
        figure {
          margin-bottom: 38px;
          img {
            width: 55px;
            height: auto;
          }
        }
        h2 {
          margin-bottom: 20px;
          font-weight: normal;
        }
        p.txt {
          margin-bottom: 30px;
          padding: 0 25px;
          text-align: left;
        }
      }
    }
  }

  #company {
    .column {
      .info {
        background: url(../img/top/bg_company.png) no-repeat center center;
        background-size: 100% auto;
        background-size: cover;
        color: #fff;
        .tbl_wrap dl {
          width: 100%;
          dt, dd {
            line-height: 1.8;
            padding-bottom: 16px;
          }
          dt {
            width: 100px;
          }
        }
      }
    }
    @media (min-width: $swich_pc) {
      .column {
        width: 100%;
        display: table;
        .info, .map {
          width: 50%;
          display: table-cell;
        }
        .info {
          padding: 55px 0 70px 100px; /* 仮 */
          .tbl_wrap dl {
            width: 100%;
            dt, dd {
              line-height: 1.8;
              padding-bottom: 16px;
            }
            dt {
              width: 100px;
            }
          }
        }
        .map {
          background: #e2e2e2;
        }
      }
    }
    @media (max-width: $swich_sp) {
      .info {
        padding: 25px 15px 30px 15px;
        a {
          color: #fff;
        }
      }
      .map {
        height: 330px;
        background: #e2e2e2;
      }
    }
  }
  #contact {
    .body {
      border-top: 1px solid $bdcolor1;
      border-bottom: 1px solid $bdcolor1;
      background: $bgcolor1;
    }
    @media (min-width: $swich_pc) {
      .body {
        padding: 60px 0 65px;
      }
    }
    @media (max-width: $swich_sp) {
      .body {
        padding: 25px 0 50px;
      }
    }
  }
}
/* form parts   ********************************/
.form_state {
  @include clearfix;
  text-align: center;
  li {
    display: inline-block;
    width: 176px;
    padding: 0 0 26px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    span {
      margin-right: 8px;
      font-size: 10px;
      vertical-align: text-bottom;
      letter-spacing: 2px;
    }
    &.on {
      background: url(../img/top/line_balloon.svg) no-repeat center bottom;
      background-size: 100% auto;
    }
  }
  @media (min-width: $swich_pc) {
    margin-bottom: 65px;
    li {
      margin: 0 70px;
    }
  }
  @media (max-width: $swich_sp) {
    margin-bottom: 25px;
    li {
      margin: 0 auto;
      display: none;
      &.on {
        display: block;
      }
    }
  }
}
.form_step {
  display: none;
  &.form_step1 {
    display: block;
    dl {
      dt {
        vertical-align: top;
        font-weight: bold;
      }
      dd {
        position: relative;
        vertical-align: middle;
      }
    }
    input::-webkit-input-placeholder,
    input:-ms-input-placeholder,
    input::-moz-placeholder,
    textarea::-webkit-input-placeholder,
    textarea:-ms-input-placeholder,
    textarea::-moz-placeholder {
      font-size: 16px;
      letter-spacing: 2px;
    }
    input[type="text"], input[type="email"], input[type="tel"] {
      padding: 15px;
      width: 98%;
      width: calc(100% - 30px);
      display: block;
      border: 1px solid #e0e4e8;
      background: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    label.radio_txt {
      cursor: pointer;
      position: relative;
      margin-right: 40px;
      padding-left: 40px;
      overflow: hidden;
      display: inline-block;
      height: 40px;
      vertical-align: middle;
    }
    label.radio_txt:before {
      position: absolute;
      width: 38px;
      height: 38px;
      border: 1px solid #e0e4e8;
      background: #fff;
      border-radius: 50%;
      left: 0px;
      top: 0px;
      content: '';
      z-index: 3;
      overflow: hidden;
    }
    label.radio_txt:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      left: 12px;
      top: 12px;
      background-color: #D65;
      z-index: 5;
    }
    label.radio_txt input[type="radio"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
      width: 34px;
      height: 34px;
      left: -35px;
      top: 2px;
      margin: 0px;
      border-radius: 50%;
      box-shadow: 38px -1px #FFF;
      z-index: 10;
    }
    label.radio_txt input[type="radio"]:checked {
      box-shadow: none;
    }
    label.radio_txt input[type="radio"]:focus {
      opacity: 0;
      box-shadow: 20px -1px #FFF;
    }
    textarea {
      padding: 15px;
      width: 98%;
      width: calc(100% - 30px);
      height: 128px;
      border: 1px solid #e0e4e8;
      background: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    p.input_line {
      display: block;
      padding: 16px 0 0;
      @include clearfix;
    }
    p.input_line span {
      display: inline-block;
      padding: 12px 0 0 10px;
    }
    /* error message */
    input[type="text"].err_state,input[type="tel"].err_state, input[type="email"].err_state, textarea.err_state {
      background: #ffebeb;
    }
    p.err_msg {
      position: absolute;
      bottom: -0.4em;
      color: #ff0000;
      font-weight: bold;
    }
  }
  &.form_step2 {
    .tbl_wrap {
      padding: 47px 88px 30px;
      border-top: 1px solid #ced1d5;
      border-bottom: 1px solid #ced1d5;
    }
    dl {
      dt, dd {
        line-height: 1.8;
      }
      dt {
        width: 150px;
        padding: 0 0 18px 0;
        vertical-align: top;
        font-weight: bold;
      }
      dd {
        position: relative;
        width: 574px;
        padding: 0 0 18px 0;
        vertical-align: middle;
      }
    }
  }
  &.form_step3 {
    .tbl_wrap {
      padding: 54px 20px 20px;
      border-top: 1px solid #ced1d5;
      border-bottom: 1px solid #ced1d5;
      text-align: center;
    }
    p.message {
      margin-bottom: 28px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  @media (min-width: $swich_pc) {
    margin: 0 auto;
    width: 906px;
    .btn.black_btn {
      padding: 22px 68px;
      font-size: 16px;
    }
    .form_wrap {
      margin-bottom: 30px;
    }
    &.form_step1 {
      dl {
        dt {
          width: 160px;
          padding: 40px 0 15px 82px;
        }
        dd {
          width: 562px;
          padding: 20px 0 20px 80px;
        }
      }
    }
    &.form_step2 {
      .gray_btn {
        margin: 0 27px 0 -130px;
      }
    }
  }
  @media (max-width: $swich_sp) {
    p.lead {
      margin: 0 15px 25px;
    }
    .form_wrap {
      padding: 0 15px;
    }
    &.form_step1 {
      dl {
        display: block;
        dt, dd {
          display: block;
        }
        dt {
          margin-bottom: 7px;
        }
        dd {
          margin-bottom: 23px;
        }
      }
      p.err_msg {
        padding-top: 5px;
        position: static;
      }
      label.radio_txt {
        margin-right: 10px;
      }
      p.input_line span {
        padding-left: 5px;
      }
    }
    &.form_step2 {
      .tbl_wrap {
        margin: 0 15px 30px;
        padding: 20px 0 0;
        dl {
          width: 100%;
          dt {
            width: 35%;
          }
          dd {
            width: 65%;
          }
        }
      }
      .aCenter {
        padding: 0 15px;
        text-align: left;
        .btn.black_btn {
          width: 100%;
        }
        .gray_btn {
          margin: 0 20px 15px 0;
        }
      }
    }
    &.form_step3 {
      .lead {
        text-align: left;
      }
    }
  }
}

/* common   ********************************/
#news {
  .body {
    border-top: 1px solid $bdcolor1;
    border-bottom: 1px solid $bdcolor1;
    background: $bgcolor1;
    ul.list {
      margin-bottom: 30px;
      li a {
        width: 100%;
        display: block;
        @include clearfix;
        border-bottom: 1px solid $bdcolor2;
        background-image: url(../img/common/ico_arr2.svg);
        background-repeat: no-repeat;
        background-position: right 30px center;
        background-size: 10px auto;
      }
    }
  }
  @media (min-width: $swich_pc) {
    .body {
      padding: 30px 0 50px;
      border-top: 1px solid $bdcolor1;
      border-bottom: 1px solid $bdcolor1;
      background: $bgcolor1;
      ul {
        margin-bottom: 50px;
        li a {
          padding: 20px 0;
          span {
            display: block;
            line-height: 1.8;
          }
          span.date {
            width: 106px;
            float: left;
            font-weight: bold;
          }
          span.subject {
            width: 910px;
            float: left;
          }
        }
      }
      .btn {
        text-align: center;
      }
    }
  }
  @media (max-width: $swich_sp) {
    .body {
      padding: 5px 0 38px;
      ul {
        margin-bottom: 30px;
        li {
          margin: 0 15px;
          a {
            padding: 17px 0;
            background-position: right center;
            span.date {
              display: block;
              margin-bottom: 10px;
              font-weight: bold;
            }
            span.subject {
              display: block;
              padding-right: 60px;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
#pages {
  .bread {
    background: $bgcolor1;
    padding: 12px 0 10px;
    ul {
      @include clearfix;
      li {
        margin-right: 12px;
        display: inline-block;
        float: left;
        line-height: 1.8;
        a {
          margin-right: 12px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        &:after { content: "＞"; }
        &:last-child:after {
          content: "";
        }
      }
    }
    @media (min-width: $swich_pc) {
      ul {
        margin: 0 auto;
        width: 1080px;
      }
    }
    @media (max-width: $swich_sp) {
      ul {
        padding: 0 15px;
      }
    }
  }
  h1 {
    background: #fff;
    border-top: 1px solid $bdcolor1;
    // border-bottom: 1px solid $bdcolor1;
    text-align: center;
    padding: 54px 0;
    text-align: center;
    font-size: 32px;
    letter-spacing: 8px;
    font-family : "Open Sans";
    span.jp {
      display: block;
      padding-top: 16px;
      text-align: center;
      color: #f14f00;
      font-size: 14px;
      letter-spacing: 1px;
    }
    @media (max-width: $swich_sp) {
      padding: 33px 0 28px;
      font-size: 23px;
      span.jp {
        padding-top: 9px;
        font-size: 10px;
      }
    }
  }
}

/* news   ********************************/
#page_news {
  #news .body {

    /* top page */
    ul.list {
      margin-top: 30px;
      border-top: 1px solid $bdcolor2;
    }
    ul.page_nav {
      text-align: center;
      li {
        display: inline-block;
        margin: 0 8px;
        a {
          padding: 18px 15px;
          background: #fff;
          border: 1px solid #fff;
          &.on, &:hover {
            border: 1px solid $tc_orange;
            color: $tc_orange;
          }
        }
        &.back { margin-right: 24px; }
        &.next { margin-left: 24px; }
      }
    }
    @media (max-width: $swich_sp) {
      ul.list {
        margin-top: 0px;
        border-top: none;
      }
      ul.page_nav li {
        margin: 0 4px;
        &.back { margin-right: 14px; }
        &.next { margin-left: 14px; }
      }
    }

    /* detail page */
    article {
      padding: 30px 0 0;
      header {
        padding: 22px 0 19px;
        border-top: 1px solid $bdcolor2;
        border-bottom: 1px solid $bdcolor2;
        background: none;
        @include clearfix;
        span.date {
          float: left;
          font-weight: bold;
          display: block;
          line-height: 1;
          width: 96px;
          padding-top: 1px;
          vertical-align: middle;
        }
        .subject {
          float: left;
          font-weight: normal;
          font-size: 16px;
          vertical-align: middle;
        }
        .sns {
          float: right;
          ul {
            margin: -3px 0 0;
            li {
              margin-left: 12px;
              display: inline-block;
              vertical-align: middle;
            }
          }
          @media (max-width: $swich_sp) {
            float: none;
            ul li {
              margin-left: 0;
            }
          }
        }
      }
      .contents {
        padding: 24px 0 26px;
        border-bottom: 1px solid $bdcolor2;
        p {
          margin-bottom: 0.5em;
          line-height: 1.8;
        }
      }
    }
    ul.article_nav {
      text-align: center;
      padding: 20px 0 0;
      position: relative;
      li {
        display: inline-block;
        margin: 0 20px;
        a {
          padding: 10px;
        }
        &.top {
          position: absolute;
          margin: 0;
          left: 0;
        }
        &.back { margin-right: 24px; }
        &.next { margin-left: 24px; }
      }
    }
    @media (max-width: $swich_sp) {
      article {
        padding: 20px 15px 0;
        header {
          position: relative;
          padding: 16px 0 18px;
          z-index: 1;
          span.date {
            float: none;
            margin-bottom: 12px;
          }
          .subject {
            float: none;
            margin-bottom: 15px;
          }
        }
      }
      ul.article_nav {
        padding: 15px;
        text-align: right;
        li {
          margin: 0 5px;

          &.back { margin-right: 5px; }
          &.next {
            margin: 0 0 0 5px;
            a { padding-right: 0; }
          }
        }
      }
    }
  }
}

/* infomation   ********************************/
#page_info {
  #pages {
    h1 {
      padding: 45px 0 48px;
      font-size: 24px;
      text-align: left;
      span.in {
        display: block;
        margin: 0 auto;
        width: 1080px;
      }
      span.jp {
        display: inline-block;
        padding: 16px 0 0 35px;
        font-size: 13px;
      }
      @media (max-width: $swich_sp) {
        padding: 28px 15px;
        font-size: 20px;
        span.jp {
          vertical-align: middle;
          padding: 0 0 0 16px;
          font-size: 10px;
        }
      }
    }
  }
  #infomation {
    background: $bgcolor1;
    border-top: 1px solid $bdcolor1;
    p, dt, dd {
      line-height: 1.8;
    }
    p.lead {
      margin: 55px 0 40px;
    }
    p.sign {
      margin-bottom: 60px;
    }
    dl {
      margin-bottom: 30px;
      dt {
        font-weight: bold;
      }
    }
    @media (max-width: $swich_sp) {
      padding: 0 15px;
      p.lead {
        margin: 30px 0 15px;
      }
      dl {
        margin-bottom: 25px;
      }
      p.aRight.sign {
        text-align: left;
        margin-bottom: 45px;
      }
    }
  }
}

/* about  ********************************/
#page_about {
  #main {
    background: url(../img/about/bg_main.png) no-repeat center top;
    padding: 148px 0;
    p {
      text-align: center;
    }
    @media (max-width: $swich_sp) {
      background: url(../img/about/sp_bg_main.png) no-repeat center top;
      padding: 64px 0;
      p {
        text-indent: -9999em;
        overflow: hidden;
        background: url(../img/about/sp_txt_main.png) no-repeat center top;
        background-size: 85% auto;
      }
    }
  }
  #about {
    padding: 62px 0 90px;
    text-align: center;
    background: $bgcolor1;
    @media (max-width: $swich_sp) {
      padding: 22px 15px 0;
    }
    h1 {
      margin-bottom: 33px;
      font-weight: bold;
      font-size: 22px;
      @media (max-width: $swich_sp) {
        margin-bottom: 20px;
        font-size: 17px;
        span.spline {
          line-height: 1.8;
        }
      }
    }
    p {
      margin-bottom: 60px;
      span.line {
        line-height: 1.8;
      }
      @media (max-width: $swich_sp) {
        margin-bottom: 30px;
        text-align: left;
      }
    }
    figure {
      display: block;
      @media (max-width: $swich_sp) {
        padding-bottom: 40px;
        height: 310px;
        text-indent: -9999em;
        overflow: hidden;
        background: url(../img/about/sp_img_outline.png) no-repeat center top;
        background-size: auto 306px;
      }
    }
  }
  #plan {
    h1 {
      padding: 48px 0;
      font-family : "Open Sans";
      letter-spacing: 6px;
      font-size: 24px;
      span.jp {
        display: inline-block;
        margin: -1px 0 0 37px;
        font-size: 13px;
        color: #f14f00;
        vertical-align: middle;
        letter-spacing: 2px;
      }
    }
    @media (max-width: $swich_sp) {
      h1 {
        padding: 30px 15px;
      }
    }
    .column {
      @include clearfix;
      .body {
        position: relative;
        background-size: 100% auto;
        background-size: cover;
        color: #fff;
        h2 {
          display: block;
          background-position: center top;
          background-repeat: no-repeat;
          text-align: center;
          font-weight: 500;
        }
        p {
          line-height: 1.8;
        }
        &.plan1 h2 {
          background-image: url(../img/about/ico_plan01.svg);
        }
        &.plan2 h2 {
          background-image: url(../img/about/ico_plan02.svg);
        }
        &.plan3 h2 {
          background-image: url(../img/about/ico_plan03.svg);
        }
      }
    }
    @media (min-width: $swich_pc) {
      .column {
        display: table;
        .body {
          display: table-cell;
          padding: 78px 0 70px;
          width: calc(100% / 3);
          box-sizing: border-box;
          background-repeat: no-repeat;
          background-position: center top;
          h2 {
            padding-top: 92px;
            letter-spacing: 2px;
            margin-bottom: 26px;
            background-size: auto 62px;
          }
          p {
            padding: 0 56px;
          }
          &.plan1 {
            background-image: url(../img/about/img_plan01.png);
            h2 {
              background-position: center 4px;
              background-size: auto 52px;
            }
          }
          &.plan2 {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            background-image: url(../img/about/img_plan02.png);
          }
          &.plan3 {
            background-image: url(../img/about/img_plan03.png);
            h2 {
              background-size: auto 64px;
            }
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      .column {
        .body {
          padding: 40px 30px 50px;
          h2 {
            padding-top: 70px;
            letter-spacing: 2px;
            margin-bottom: 22px;
            background-size: auto 46px;
          }
          &.plan1 {
            background-size: auto 38px;
            background: url(../img/about/sp_img_plan01.png);
          }
          &.plan2 {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            background: url(../img/about/sp_img_plan02.png);
          }
          &.plan3 {
            background: url(../img/about/sp_img_plan03.png);
          }
        }
      }
    }
  }
}
