/* ==========================================================================
   Individual Plan
   ========================================================================== */
.page_plan {


#mainvisual {
  margin-bottom: 20px;
  @media (max-width: $swich_sp) {
    height: 300px;
    img {
      height: auto;
    }
  }
}
#outline {
  h1 {
    margin: 0 0 0.2em;
    font-size: 2.7em;
    line-height: $lheights;
  }
  .lst_ico {
    margin-bottom: 1em;
  }
  .price {
    font-size: $tsizel;
  }
}
#photo {
  ul {
    @include clearfix;
    li {
      float: left;
      width: 32.5%;
      margin: 0 3px 3px 0;
      &:nth-child(1),&:nth-child(2) {
        width: 49%;
      }
    }
    @media (max-width: $swich_sp) {
      li {
        width: 32%;
      }
    }
  }
}
#plan_receipt {
  .check_inout {
    @include clearfix;
    margin: 0 0 15px;
    border-bottom: 1px solid $bc_gray;
    dl {
      margin-right: 2%;
      width: 45%;
      float: left;
    }
    dt {
    }
    dd {
      margin: 0;
    }
  }
  .tbl_receipt {
    border-bottom: 1px solid $bc_gray;
    padding-bottom: 5px;
    dl {
      border: none;
      dt {
        padding: 12px 0 0;
        width: 50%;
      }
      dd {
        padding: 12px 0 0;
        width: 50%;
        text-align: right;
      }
      &.total {
        padding-bottom: 15px;
        font-size: 1.2em;
      }
    }
    @media (max-width: $swich_sp) {
      dl {
        dt, dd {
          // width: 100%;
          display: table-cell;
        }
      }
    }
  }
}

#plan_reaction {
  margin-bottom: 0;
  .list_btn {
    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      a {
        padding: 10px 0;
        display: block;
      }
    }
  }
}


#plan_pay {
  padding-top: 20px;
  .price {
    font-size: $tsizem;
  }
}

#plan_enter {
  border-top: 1px solid $bc_gray;
  h3 {
    margin-bottom: 0.2em;
  }
}
.cont_menu {
  background: $bgcolor2;
}

}

/* ==========================================================================
   Plan Parts
   ========================================================================== */
.tbl {
  &.tbl_review {
    dl {
      dt {
        padding: 20px;
        width: 64px;
        text-align: center;
      }
      dd {
        @include clearfix;
        vertical-align: top;
        padding: 20px 10px;
        .date, .action {
          width: 50%;
        }
        .date {
          float: left;
        }
        .action {
          float: right;
          text-align: right;
        }
      }
    }
  }
  &.tbl_plan_outline {
    dl {
      dd {
        vertical-align: top;
        .date {
          font-weight: bold;
          font-size: $tsizes;
        }
      }
    }
  }
  &.tbl_plan_price {
    margin-bottom: 1em;
    dl {
      dt {
        padding: 5px 10px;
        width: 30%;
      }
      dd {
        text-align: right;
        vertical-align: top;
        padding: 5px 10px;
        width: 70%;
      }
    }
  }
  @media (max-width: $swich_sp) {
    &.tbl_review {
      dl {
        dt {
          width: 100%;
          text-align: center;
          padding-bottom: 0;
          line-height: 2em;
        }
        dd {
        }
      }
    }
  }
}

.plan_record {
  padding-bottom: 40px;
  border-top: 3px solid $color;
}

#plan_recommend {
  padding: 40px 0;
  background: $bgcolor2;
  h2 {
    @include outer-container;
    text-align: center;
  }
  .list_plan {
    @include outer-container;
    @media (min-width: $swich_pc) {
      li {
        @include span-columns(4);
      }
    }
    @media (max-width: $swich_sp) {
      li {
        width: 310px;
        margin: 0 auto 20px;
      }
    }
  }
}
