/* base colors *******************************************/

/* palette */
$c_black: #000;
$c_gray: #868686;
$c_gray_dark: #2b2b2b;
$c_gray_light: #dadada;
$c_gray_lighter: #f1f1f1;
$c_hihada: #751717; // dark red
$c_hiwa: #b0a451; // yellow-green
$c_hiwa_light: #f7f6ed;
$c_ikkonzome: #f065a0; // pink
$c_kincha: #c66033; // brown
$c_kincha_light: #faf3f0;
$c_white: #fff;
$c_darkblue: #284890;

$color: $c_black;

/* block,bg color,line color */
$bgcolor1: #f7f8fa;
$bgcolor2: #e3e3e3;

$bc_black: $c_black;
$bc_gray: #dedede;
$bc_red: $c_hihada;

$bdcolor2: #e1e3e6;

/* font color */
$fc_gray: #545454;
$fc_red:  #c34732;
$fc_orange: #ff5400;

/* font size *******************************************/
$tsizel: 2em;
$tsizem: 1.5em;
$tsizes: 1.25em;

$fsize20: 20px;
$fsize18: 18px;
$fsize16: 16px;
$fsize14: 14px;
$fsize12: 12px;
$fsize10: 10px;

/* line height *******************************************/
$lheightl: 1.8;
$lheightm: 1.5;
$lheights: 1.3;

/* page width *******************************************/
$swich_pc: 751px;
$swich_sp: 750px;

$grid-columns: 12;
$container-width: 1120px;

/* menu ********************************************/
$menu-height: 60px;

/* hover ********************************************/
$hover-delay: 0.4s;
$hover-opacity: 0.6;

/* space *******************************************/
@for $i from 0 through 20 {
  .mt#{$i * 5} { margin-top: 5px * $i !important; }
  .mb#{$i * 5} { margin-bottom: 5px * $i !important; }
  .ml#{$i * 5} { margin-left: 5px * $i !important; }
  .mr#{$i * 5} { margin-right: 5px * $i !important; }
  .pt#{$i * 5} { padding-top: 5px * $i !important; }
  .pb#{$i * 5} { padding-bottom: 5px * $i !important; }
  .pl#{$i * 5} { padding-left: 5px * $i !important; }
  .pr#{$i * 5} { padding-right: 5px * $i !important; }
  .mg#{$i * 5} { margin: 5px * $i !important; }
  .pd#{$i * 5} { padding: 5px * $i !important; }
}

// variables of spaces: default name is `$space`
$space-xs: 5px !default;
$space-sm: $space-xs * 2 !default;
$space-md: $space-xs * 3 !default;
$space: $space-xs * 4 !default;
$space-lg: $space-xs * 6 !default;
$space-xlg: $space-xs * 8 !default;
$space-max: $space-xs * 10 !default;

// font-family
$default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;

// for reservation
$facility-image-size: 229px !default;
$reservation-font-family: sans-serif !default;
$reservation-price-font-family: Roboto, sans-serif;
$reservation-dt-width: 175px;

// header-height
$campaigns-banner:    44px !default;
$campaigns-banner-sp: 38px !default;
$header-height:       58px !default;
$header-height-sp:    60px !default;

// LP
$amb-header-height:   44px !default;

// for form
$state-error-border-color: #781f22 !default;
$state-error-label-color: #545454 !default;

// facilities
$facilities-container-width: 980px !default;
$facilities-tab-link-color: $c_darkblue !default;

// contact
$contact-max-width: 980px !default;
$contact-lable-width: 205px !default;
