.list-inline {
  li {
    display: inline-block;
    margin: 0 1em 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &-center {
    margin: 0 auto;
    text-align: center;

    li {
      margin: 0 0.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
