$loader-size: 5em;

@include keyframes(loading) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.loader {
  font-size: 10px;
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;

  &, &::after {
    border-radius: 50%;
    height: $loader-size;
    width: $loader-size;
  }

  &::after {
    @include animation(loading 1.25s infinite linear);
    @include transform(translate3d(0, 0, 0));
    border: .725em solid rgba(0, 0, 0, .2);
    border-left-color: #fff;
    content: '';
    display: block;
  }
}

.loader-overlay {
  @include opacity(0);
  @include transition(opacity 0.2s linear 0s, visibility 0s linear 0.2s);
  background: rgba(#ccc, 0.75);
  border-radius: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 20;

  &::after {
    left: 50%;
    margin-left: 0 - $loader-size / 2;
    margin-top: 0 - $loader-size / 2;
    position: absolute;
    top: 50%;
  }
}

.loader-overlay-show {
  @include opacity(100);
  @include transition(opacity 0.2s linear 0s, visibility 0s linear 0s);
  visibility: visible;
}

.show-throbber {
  $throbber-image-sp: 120px / 2;
  $throbber-display-sp: $throbber-image-sp * 4;
  $throbber-image: 140px / 2;
  $throbber-display: $throbber-image * 4;

  background: {
    color: #c9cac9;
    image: url('../assets/images/common/throbber.gif');
    position: center center;
    repeat: no-repeat;
  }

  @media (max-width: $swich_sp) {
    min-height: $throbber-display-sp;
    min-width: $throbber-display-sp;
    background-size: $throbber-image-sp $throbber-image-sp;
  }

  @media (min-width: $swich_pc) {
    min-height: $throbber-display;
    min-width: $throbber-display;
    background-size: $throbber-image $throbber-image;
  }
}
