@include screen-narrow {
  body {
    &::after {
      @include transition(opacity 0.2s, width 0.2s);
      background: #000;
      bottom: 0;
      content: '';
      display: block;
      right: 10;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 0%;
      z-index: 200;
    }
  }

  header.global {
    z-index: 210;

    nav {
      @include transform(none);
      @include transition(width 0.2s);
      background: none transparent;
      height: 100vh;
      opacity: 1;
      overflow: hidden;
      right: 0;
      position: absolute;
      top: $menu-height;
      width: 0;

      > ul {
        width: 100vw;
      }
    }
  }

  .menu-opened {
    overflow: hidden;

    &::after {
      opacity: 0.75;
      width: 100%;
    }

    header.global {
      a.gbtn {
        span {
          &:nth-of-type(1) {
            @include transform(rotate(45deg));
            top: 45%;
          }

          &:last-child {
            @include transform(rotate(-45deg));
            bottom: 45%;
          }

          &:nth-of-type(2) {
            opacity: 0;
          }
        }
      }

      nav {
        width: 100%;
      }

      .campaigns {
        display: none;
        visibility: hidden;
      }
    }
  }
}
