/* mixin *******************************************/
@mixin absolute($top, $left) {
  left: $left;
  position: absolute;
  top: $top;
}

$bender_prefixes: -ms-, -o-, -moz-, -webkit-, '';
@mixin addPrefix ($prop, $prop_value) {
  @each $prefix in $bender_prefixes {
    #{$prefix}#{$prop}: #{$prop_value};
  }
}

@mixin opacity($opacity) {
  $num: $opacity * 100;
  filter: alpha(opacity=$num);
  -moz-opacity: $opacity;
  opacity: $opacity;
}

@mixin bgBlock($height, $width) {
  display: block;
  width: $width;
  height: $height;
  text-indent: -9999em;
}

@mixin float($way, $width) {
  width: $width;
  float: $way;
}

@mixin col($margin, $width) {
  margin: 0 $margin 0 0;
  width: $width;
  float: left;
}

@mixin round($side, $radius: 5px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin clearfix {
  _height: 1px;
  _overflow: visible;
  zoom: 1;

  &:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }
}

@mixin hoverOpacity {
  @include transition(all $hover-delay);
  &.disable, &:hover, &:active { opacity: $hover-opacity; }
}


@mixin writeRotateKeyframes () {
  @-webkit-keyframes rotate {
    from {
      -webkit-animation-timing-function: linear;
      -webkit-transform:rotate(360deg);
    }
    to {
      -webkit-animation-timing-function: linear;
      -webkit-transform:rotate(0deg);
    }
  }
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin easing($speed){
  transition: all $speed+s ease-in;
  -moz-transition: all $speed+s ease-in;
  -webkit-transition: all $speed+s ease-in;
  -ms-transition: all $speed+s ease-in;
}
@mixin easing-bounce($speed){
  transition: all $speed+s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all $speed+s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all $speed+s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all $speed+s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin scale($num){
    transform:scale($num);
    -moz-transform:scale($num);
    -webkit-transform:scale($num);
    -ms-transform:scale($num);
}
@mixin opacity($num){
  -ms-filter: "alpha(opacity=$num)"; /* IE8 */
  opacity: $num/100;
  //display: inline-block\9;
}
@mixin delay($num){
  transition-delay:$num+s;
  -moz-transition-delay:$num+s;
  -webkit-transition-delay:$num+s;
  -o-transition-delay:$num+s;
  -ms-transition-delay:$num+s;
}

@mixin screen-narrow {
  @include max-width($swich_sp) {
    @content;
  }
}

@mixin screen-wide {
  @include min-width($swich_pc) {
    @content;
  }
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin max-width($max-width) {
  @media(max-width: $max-width) {
    @content;
  }
}

@mixin min-width($min-width) {
  @media(min-width: $min-width) {
    @content;
  }
}

@mixin placeholder {
  &:placeholder-shown { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::placeholder { @content; }
}

@mixin sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@mixin make-flex-grid($grid-columns: 12, $i: 1) {
  @media (min-width: $swich_pc) {
    box-sizing: border-box;
    @include display(flex);

    @for $i from 2 through $grid-columns {
      .col-#{$i} {
        box-sizing: border-box;
        position: relative;
        width: percentage($i / $grid-columns);
      }
    }
  }
}
