.contact {
  .content {
    @media (min-width: $swich_pc) {
      max-width: 980px;
    }

    .in {
      padding: 0;
    }

    .page_header {
      padding: 0 $space-sm;
      margin-bottom: 10px;

      @media (min-width: $swich_pc) {
        padding: 0;
      }

      .page_title {
        font-size: 20px;
        line-height: $lheightm;
        letter-spacing: .075em;
      }

      .support-text {
        font-family: $default-font-family;
        font-size: $fsize14;
        line-height: $lheightm;

        @media (min-width: $swich_pc) {
          line-height: 30px;
        }

        strong {
          color: #791e1f;
        }
      }

      .tel-support-text {
        background: #fff;
        border: 4px solid #284890;
        margin: 30px 0;
        padding: 20px 30px;


        p {
          font-family: $default-font-family;
          font-size: 21px;
          text-align: center;
        }
        .notes_box {
          list-style: none;
          margin: 13px 0 0 52px;
          padding: 0;
          @media (max-width: $swich_pc) {
            margin: 13px 0 0 0;
          }
          li {
            color: $c_gray;
            font-family: $default-font-family;
            font-size: $fsize14;
            line-height: $lheightm;

            @media (min-width: $swich_pc) {
              line-height: 24px;
            }
          }
        }
      }
    }

    .contact_box {
      font-family: $default-font-family;
      margin-bottom: $space-lg;
      @media (min-width: $swich_pc) {
        margin-bottom: $space-max;
      }
      #{&}_title {
        background-color: $c_gray_light;
        font-size: $fsize14;
        line-height: 22px;
        letter-spacing: .075em;
        padding: $space-sm;

        @media (min-width: $swich_pc) {
          padding: $space-md $space-lg;
        }
      }

      &.phone {
        margin-top: 60px;
        .contact_box_inner {
          background-color: #f7f7f7;
        }
        .contact_box_title {
          text-align: center;
          background-color: transparent;
        }
      }

      #{&}_inner {
        background-color: #fff;
        padding: $space-md;

        @media (min-width: $swich_pc) {
          padding: $space $space-lg;
        }
      }

      #{&}_list {
        list-style: none;
        margin: 0 auto;
        padding: 0;

        &.inline {
          @media (min-width: $swich_pc) {
            @include align-items(center);
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
          }

          li {
            font-size: $fsize14;
            line-height: 20px;
            font-weight: 600;
            margin: 0 0 $space-sm;
            text-align: center;

            &:last-child {
              margin: 0;
            }

            @media (min-width: $swich_pc) {
              margin: 0 $space-lg 0 0;
              text-align: left;

              &:last-child {
                margin: 0;
              }
            }

            a {
              text-decoration: none;
            }

            i {
              color: $c_gray;
              display: inline-block;
              font-size: $fsize16;
              margin-left: $space-md;
              margin-right: 3px;
              vertical-align: middle;

              @media (min-width: $swich_pc) {
                margin-left: $space-lg;
              }
            }

            &.hide-sp {
              display: none;

              @media (min-width: $swich_pc) {
                display: block;
              }
            }

            &.hide-pc {
              display: block;

              a {
                background-color: $c_darkblue;
                border-radius: 3px;
                color: #fff;
                line-height: 20px;
                padding: 8px 12px;

                i {
                  color: #fff;
                }
              }

              @media (min-width: $swich_pc) {
                display: none;
              }
            }
          }
        }
      }
    }

    .form-group {
      margin-bottom: $space;
      @include clearfix();

      + .form-group {
        border-top: 1px solid $c_gray_light;
        padding-top: $space;
      }

      &.with-error {
        .form-content {
          input, textarea, select {
            border-color: #791e1f;

            &:focus {
              border-color: #791e1f;
            }
          }
        }
      }

      &.radio-group {
        > label {
          padding-top: 0;
        }
      }

      > label {
        display: block;
        font-size: $fsize14;
        font-weight: normal;
        padding: 0 0 $space-sm;
        margin-bottom: 0;

        @media (min-width: $swich_pc) {
          float: left;
          padding: $space-sm 0 0;
          width: $contact-lable-width;
        }

        span {
          display: inline-block;

          @media (min-width: $swich_pc) {
            float: right;
          }

          &.ico.ico_must {
            background-color: #8c3d3e;
            border-radius: 3px;
            font-size: $fsize10;
            font-weight: bold;
            padding: 5px 8px;
          }
        }

        &.select_grp {
          float: none;
          margin: 0;
          padding: 0;
          width: auto;
        }
      }

      > .form-content {
        width: 100%;

        @media (min-width: $swich_pc) {
          float: left;
          padding-left: $space;
          width: calc(100% - #{$contact-lable-width});
        }

        input, textarea, select {
          background-color: $c_gray_lighter;
          border: 1px solid $c_gray_lighter;
          border-radius: 3px;
          outline: 0;
          padding: 10px 12px;
          width: 100%;

          &:focus {
            background-color: #fff;
            border-color: #51a7e8;
          }

          @include placeholder {
            color: $c_gray;
          }
        }

        input, select {
          display: block;
          max-width: 340px;
        }

        textarea {
          width: 100%;
        }

        select.x-select {
          cursor: pointer;
          display: block;
          font-size: 16px;
          line-height: 18px;
          padding-right: 30px;
          position: relative;
          text-indent: 0;
          width: 100%;
          @include appearance(none);

          background: {
            position: top right;
            image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAACKCAMAAAAdSK0fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRF5ubmKEiQc4ay09ber7nNZXusVGykXXSoTWahRWCd2tzh4uLkLU2S3+Dj5OTl5eXmFulbFAAAAMNJREFUeNrs1EsSgyAUBVFQ8YOi+99tKBLwE0Z5j1H6DO+gqywBYwAAAAAAAAAAegYXqntwg7S82Wmt7Otkt0FatrV2LFtZO5Wtdc/26tIuab8Lsb3f5r3sv6fTd3+1S7n6FyRtnXI8Y7nd5fbR5XIQnr4w5vZxL49BfGfubc2yMf7SPste5a77ObdNLs9e6R0p7Vm7fGmrlx9t1bIx/dleeuV3u19alUu7QfnTblJO7Ubl2B5blQEAAAAAAAD8m5cAAwAQ0AS0qq7eXQAAAABJRU5ErkJggg==');
            repeat: no-repeat;
            size: 30px 40px;
          }
        }

        #contact-address {
          max-width: initial;
          width: 100%;
        }

        p {
          color: $c_gray;
          font-size: $fsize12;
          line-height: $lheightl;
          margin-top: $space-xs;

          &.mes {
            color: #791e1f;
          }
        }

        .ember-radio-button {
          display: block;
          font-size: $fsize14;
          font-weight: normal;
          line-height: 20px;
          margin-bottom: $space-sm;
          position: relative;
          @include align-items(center);
          @include display(flex);
          @include flex-wrap(wrap);

          &:after {
            background-color: $c_darkblue;
            border-radius: 50%;
            content: '';
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 4px;
            @include scale(0);
            @include size(12px);
            @include transition(transform .15s ease-in-out, opacity .15s ease-in-out);
          }

          input[type="radio"] {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: $space-sm;
            max-width: initial;
            padding: 0;
            @include appearance(none);
            @include size(20px);
          }

          &.checked {
            &:after {
              opacity: 1;
              @include scale(1);
            }
          }
        }
      }
    }
  }
}

.client {
  .to-top-text {
    margin-bottom: 20px;
    text-align: center;
    a {
      padding: 10px;
      color: #000;
      font-size: 12px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  h1 {
    line-height: 1.2;
  }
  figure.visual {
    margin: 40px 0 10px;
    background: url(/assets/images/client/main_img.png) center center no-repeat;
    background-position: 0 -130px;
    height: 260px;
    @media (max-width: $swich_sp) {
      background-position: 0 0;
      margin: 40px 0 30px;
      height: 200px;
      background-size: cover;
    }
  }

  .links {
    width: 100%;
    @media (max-width: $swich_sp) {
      margin-bottom: 10px;
      overflow: hidden;
    }
    a {
      padding: 3%;
      color: #3897f0;
      font-weight: 400;
      text-align: center;
      box-sizing: border-box;
    }
    span {
      padding: 30px;
      width: auto;
      float: right;
      font-weight: bold;
      @media (max-width: $swich_sp) {
        padding: 30px 0 10px 0;
      }
    }
  }
  .card {
    margin-bottom: 40px;
    .card-header {
      padding-left: 30px;
      text-align: left;
    }
    .card-body {
      .lst01 {
        li {
          display: inline-block;
        }
      }
    }
    .contact_box {
      margin-bottom: $space-lg;
      font-family: $default-font-family;

      @media (min-width: $swich_pc) {
        margin-bottom: $space-max;
      }
      #{&}_title {
        padding: $space-sm;
        background-color: $c_gray_light;
        font-size: $fsize14;
        line-height: 22px;
        letter-spacing: .075em;
        @media (min-width: $swich_pc) {
          padding: $space-md $space-lg;
        }
      }

      #{&}_inner {
        background-color: #fff;
        padding: $space-md;

        @media (min-width: $swich_pc) {
          padding: $space $space-lg;
        }
      }
      #{&}_list {
        list-style: none;
        margin: 0 auto;
        padding: 0;

        &.inline {
          @media (min-width: $swich_pc) {
            @include align-items(center);
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
          }

          li {
            font-size: $fsize14;
            line-height: 20px;
            font-weight: 600;
            margin: 0 0 $space-sm;
            text-align: center;

            &:last-child {
              margin: 0;
            }

            @media (min-width: $swich_pc) {
              margin: 0 $space-lg 0 0;
              text-align: left;

              &:last-child {
                margin: 0;
              }
            }

            a {
              text-decoration: none;
            }

            i {
              color: $c_gray;
              display: inline-block;
              font-size: $fsize16;
              margin-left: $space-md;
              margin-right: 3px;
              vertical-align: middle;

              @media (min-width: $swich_pc) {
                margin-left: $space-lg;
              }
            }

            &.hide-sp {
              display: none;

              @media (min-width: $swich_pc) {
                display: block;
              }
            }

            &.hide-pc {
              display: block;

              a {
                background-color: $c_darkblue;
                border-radius: 3px;
                color: #fff;
                line-height: 20px;
                padding: 8px 12px;

                i {
                  color: #fff;
                }
              }

              @media (min-width: $swich_pc) {
                display: none;
              }
            }
          }
        }
      }
    }

    .form-group {
      margin-bottom: $space;
      @include clearfix();

      + .form-group {
        border-top: 1px solid $c_gray_light;
        padding-top: $space;
      }

      &.form-group:first-child {
        border: none;
      }

      &.with-error {
        .form-content {
          input, textarea, select {
            border-color: #791e1f;

            &:focus {
              border-color: #791e1f;
            }
          }
        }
      }

      &.radio-group {
        > label {
          padding-top: 0;
        }
      }

      > label {
        display: block;
        font-size: $fsize14;
        font-weight: normal;
        padding: 0 0 $space-sm;
        margin-bottom: 0;

        @media (min-width: $swich_pc) {
          float: left;
          padding: $space-sm 0 0;
          width: $contact-lable-width;
        }

        span {
          display: inline-block;

          @media (min-width: $swich_pc) {
            float: right;
          }

          &.ico.ico_must {
            background-color: #8c3d3e;
            border-radius: 3px;
            font-size: $fsize10;
            font-weight: bold;
            padding: 5px 8px;
          }
        }

        &.select_grp {
          float: none;
          margin: 0;
          padding: 0;
          width: auto;
        }
      }

      > .form-content {
        width: 100%;

        @media (min-width: $swich_pc) {
          float: left;
          padding-left: $space;
          width: calc(100% - #{$contact-lable-width});
        }

        input, textarea, select {
          background-color: $c_gray_lighter;
          border: 1px solid $c_gray_lighter;
          border-radius: 3px;
          outline: 0;
          padding: 10px 12px;
          width: 100%;

          &:focus {
            background-color: #fff;
            border-color: #51a7e8;
          }

          @include placeholder {
            color: $c_gray;
          }
        }

        input, select {
          display: block;
          max-width: 340px;
        }

        textarea {
          width: 100%;
        }

        select.x-select {
          cursor: pointer;
          display: block;
          font-size: 16px;
          line-height: 18px;
          padding-right: 30px;
          position: relative;
          text-indent: 0;
          width: 100%;
          @include appearance(none);

          background: {
            position: top right;
            image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAACKCAMAAAAdSK0fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRF5ubmKEiQc4ay09ber7nNZXusVGykXXSoTWahRWCd2tzh4uLkLU2S3+Dj5OTl5eXmFulbFAAAAMNJREFUeNrs1EsSgyAUBVFQ8YOi+99tKBLwE0Z5j1H6DO+gqywBYwAAAAAAAAAAegYXqntwg7S82Wmt7Otkt0FatrV2LFtZO5Wtdc/26tIuab8Lsb3f5r3sv6fTd3+1S7n6FyRtnXI8Y7nd5fbR5XIQnr4w5vZxL49BfGfubc2yMf7SPste5a77ObdNLs9e6R0p7Vm7fGmrlx9t1bIx/dleeuV3u19alUu7QfnTblJO7Ubl2B5blQEAAAAAAAD8m5cAAwAQ0AS0qq7eXQAAAABJRU5ErkJggg==');
            repeat: no-repeat;
            size: 30px 40px;
          }
        }

        #contact-address {
          max-width: initial;
          width: 100%;
        }

        p {
          color: $c_gray;
          font-size: $fsize12;
          line-height: $lheightl;
          margin-top: $space-xs;

          &.mes {
            color: #791e1f;
          }
        }

        .ember-radio-button {
          display: block;
          font-size: $fsize14;
          font-weight: normal;
          line-height: 20px;
          margin-bottom: $space-sm;
          position: relative;
          @include align-items(center);
          @include display(flex);
          @include flex-wrap(wrap);

          &:after {
            background-color: $c_darkblue;
            border-radius: 50%;
            content: '';
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 4px;
            @include scale(0);
            @include size(12px);
            @include transition(transform .15s ease-in-out, opacity .15s ease-in-out);
          }

          input[type="radio"] {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: $space-sm;
            max-width: initial;
            padding: 0;
            @include appearance(none);
            @include size(20px);
          }

          &.checked {
            &:after {
              opacity: 1;
              @include scale(1);
            }
          }
        }
      }
    }
  }
  .client-btn {
    margin-bottom: 20px;
  }
  .em {
    font-weight: bold;
  }
  .catch {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
  }
  .lst01 {
    font-size: 18px;
    li {
      line-height: 1.7;
    }
  }
  .lst02 {
    dl {
      position: relative;
      padding: 35px 0 20px;
      border-bottom: 1px solid $bc_gray;
      dt, dd {
        line-height: 1.8;
        vertical-align: top;
      }
      dt {
        padding-bottom: 15px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        margin: -17px 0 0 -17px;
        bottom: -17px;
        left: 50%;
        width: 34px;
        height: 34px;
        border-radius: 17px;
        background: #afafaf url(/assets/images/common/arr_btm.svg) center center no-repeat;
        background-size: 20px auto;
      }
      &:last-child {
        border-bottom: none;
        &:after {
          content: none;
        }
      }
      @media (min-width: $swich_pc) {
        margin: 0 10px;
        dt, dd {
          display: inline-block;
        }
        dt {
          width: 220px;
        }
        dd {
          width: 660px;
        }
      }
    }
    @media (max-width: $swich_sp) {
      dl {
        padding: 30px 0;
        dt {
          font-size: 120%;
          font-weight: bold;
        }
      }
    }
  }
  .lst03 {
    padding-top: 10px;
    li {
      margin-bottom: 20px;
      line-height: 1.7;
      text-indent: -1.7em;
      padding-left: 1.7em;
      span.em {
        font-size: 120%;
      }
    }
  }
  .lst04 {
    padding-top: 10px;
    padding-left: 10px;
    li {
      line-height: 1.7;
      text-indent: -1em;
      padding-left: 1em;
      &.q {
        margin-bottom: 10px;
        font-size: 120%;
        font-weight: bold;
      }
      &.a {
        margin-left: 7px;
        margin-bottom: 30px;
      }
    }
    @media (max-width: $swich_sp) {
      padding-left: 0;
    }
  }

  .tbl {
    border: none;
    font-family: sans-serif;
    table {
      margin: 0 10px;
      border: none;
      tr {
        &:last-child {
          border: none;
        }
        th, td {
          padding: 10px;
          border: 1px solid #fff;
          line-height: 1.5;
        }
        th {
          background: $c_gray_light;
        }
      }
    }
    &.tbl01 {
      th { width: 33%; }
    }
    &.tbl02 {
      th { width: 30%; }
    }
    @media (max-width: $swich_sp) {
      table {
        margin: 0;
      }
    }
  }

  .btns {
    p {
      line-height: 1.5;
    }
  }
}

.news-list {
  h2 {
    padding: 100px 0 40px;
  }
  .lst_news {
    padding: 20px 20px 5px;
    background: #fff;
    ul {
      li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0px;
        }
        a {
          display: block;
          text-decoration: none;
          span {
            display: inline-block;
            vertical-align: top;
            letter-spacing: 0.05em;
            font-family: sans-serif;
            &.date {
              padding-top: 4px;
              width: 7em;
            }
            &.label {
              margin-right: 2em;
              width: 9em;
              background: #dadada;
              padding: 5px;
              border-radius: 4px;
              text-align: center;
              font-size: 12px;
            }
            &.text {
              @include calc(width, '100% - 19em');
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  @media (max-width: $swich_sp) {
    h2 {
      padding: 50px 0 30px;
    }
    .lst_news ul li {
      margin-bottom: 20px;
      a span {
        &.text {
          padding-top: 10px;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.static .content {
  .news-detail {
    margin-top: 60px;
    padding: 0 40px 60px;
    background: #fff;
    h1 {
      margin: 0 0 25px;
      padding-top: 60px;
      line-height: 1.3;
      letter-spacing: 0.1em;
      font-size: 24px;
    }
    figure, p {
      margin: 20px 0 0;
      line-height: 1.8;
      font-family: sans-serif;
    }
    p.date {
      margin: 0 0 24px;
      color: #666666;
      font-size: 14px;
      font-family: sans-serif;
    }
    h2 {
      margin-top: 60px;
      font-size: 20px;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }
    h3 {
      margin-top: 30px;
      letter-spacing: 0.1em;
      line-height: 1.3;
    }
    ul {
      margin: 20px 0 0;
      li {
        margin-bottom: 5px;
        line-height: 1.5;
        padding-left: 1.2em;
        text-indent: -1.2em;
        font-family: sans-serif;
      }
    }
    .txt {
      p {
        margin-top: 10px;
      }
    }
    ul.list-img-sns {
      @include clearfix();
      padding: 0 40px;
      li {
        margin: 0 0;
        padding: 0 10px 0px;
        text-indent: 0;
        float: left;
        width: 50%;
        min-height: 590px;
      }
    }
    @media (max-width: $swich_sp) {
      margin-top: 20px;
      padding: 0 20px 30px;
      h1 {
        margin-bottom: 15px;
        padding-top: 24px;
        font-size: 18px;
      }
      figure, p {
        margin: 20px 0 0;
      }
      figure {
        img {
          max-width: 100%;
          height: auto;
        }
      }
      p.date {
        margin: 0 0 -10px;
      }
      h2 {
        margin-top: 40px;
        font-size: 18px;
      }
      ul.list-img-sns {
        padding: 0 0;
        li {
          float: none;
          padding: 0 0 10px;
          width: 100%;
          min-height: auto;
          iframe {
            max-width: 100%;
            max-height: 570px;
          }
        }
      }
    }
  }
  .event-detail {
    max-width: 800px;
    margin: 0 auto;
    .event-header {
      .event-columns .event-columns-inner {
        text-align: center;
        .event-kind {
          color: #999;
          margin-bottom: 1em;
          font-family: sans-serif;
        }
        .event-name {
          margin: 0 0 20px;
          line-height: 1.3;
        }
      }
      .event-state {
        .event-icon {
          display: inline-block;
          margin: 0 10px 10px 0;
          padding: 5px;
          color: #fff;
          border-radius: 4px;
          line-height: 1;
          letter-spacing: 0.05em;
          font-size: 12px;
          font-family: sans-serif;
          font-weight: bold;
          &.icon-01 {
            background: #000;
          }
        }
      }
      @media (max-width: $swich_sp) {
        .event-columns {
          padding: 20px 15px 0;
          .event-name {
            font-size: 21px;
          }
        }
        
      }
    }
    .event-image {
      position: relative;
      .note {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 11px;
        font-family: sans-serif;
        color: #fff;
      }
    }
    .event-index {
      padding: 30px 50px;
      background: #fff;
      table {
        width: 100%;
        font-family: sans-serif;
        th,td {
          padding: 13px 10px;
          line-height: 1.5;
          vertical-align: top;
          text-align: left;
        }
        th {
          font-weight: bold;
          min-width: 8em;
        }
      }
      .tel {
        padding-top: 10px;
        font-weight: bold;
        font-size: 1.1em;
        line-height: 1.5;
        span {
          font-size: 1.3em;
        }
      }
    }
    .event-detail {
      margin-top: 40px;
      padding: 30px 50px;
      background: #fff;
      h2 {
        text-align: center;
        line-height: 1.7;
        font-size: 20px;
      }
      p, h3, figure {
        font-family: sans-serif;
        line-height: 1.5;
        letter-spacing: 0.05em;
      }
      figure {
        text-align: center;
        img {
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
    @media (max-width: $swich_sp) {
      .event-index,
      .event-detail {
        padding: 20px;
      }
      .event-detail {
        h2 { font-size: 18px; }
        h3 { font-size: 15px; }
      }
    }
  }
  .lp {
    padding: 0 40px;
    background: #fff;
    .lp-header {
      padding: 65px 0 38px;
      text-align: center;
      .lp-kind {
        margin: 0;
        font-size: 13px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 1;
        letter-spacing: 0.05em;
        color: #aaaaaa;
      }
      .lp-name {
        margin: 40px 0 0;
        span {
          display: block;
          font-size: 21px;
        }
        .jp {
          margin-bottom: 9px;
        }
        .en {
          font-size: 15px;
        }
      }
    }
    @media (max-width: $swich_sp) {
      margin-top: 30px;
      padding: 0 20px;
      .lp-header {
        padding: 30px 0;
        .lp-kind {
          font-size: 10px;
          letter-spacing: 1;
        }
        .lp-name {
          margin: 20px 0 0;
          span {
            line-height: 1.5;
            text-align: left;
            letter-spacing: 0.01em;
            &.jp { font-size: 18px; }
            &.en { font-size: 14px; }
          }
        }
      }
    }
  }
  .lp-iroha {
    p {
      line-height: 1.7;
      letter-spacing: 0.05em;
    }
    .lead-txt {
      margin-bottom: 100px;
      padding: 0 10px;
      font-family: sans-serif;
      @include clearfix();
      p {
        font-size: 12px;
      }
      .jp {
        float: left;
        width: 420px;
      }
      .en {
        float: right;
        width: 430px;
      }
    }
    .facilities {
      @include clearfix();
      .facility-box {
        margin: 0 auto 120px;
        width: 740px;
        h2 {
          margin-bottom: 33px;
          .jp {
            margin-bottom: 7px;
            font-size: 24px;
            display: block;
          }
          .en {
            font-size: 15px;
            letter-spacing: 0.05em;
          }
        }
        .facility-image {
          .image-wrapper {
            img {
              // height: 50px !important;
              // width: auto;
            }
          }
        }
        .facility-txt {
          font-family: sans-serif;
          font-size: 14px;
          p {
            margin-top: 15px;
          }
        }
        .facility-exp {
          margin-top: 40px;
          @include clearfix();
          .facility-exp-thumb {
            width: 240px;
            float: left;
            margin-right: 10px;
            font-family: sans-serif;
            &:last-child {
              margin-right: 0;
            }
            img {
              display: inline-block;
              width: 100%;
              height: auto;
              padding-bottom: 10px;
            }
          }
        }
        .reserve-btn {
          margin-top: 70px;
          text-align: center;
          a.btn {
            min-width: 300px;
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      .lead-txt {
        margin-bottom: 40px;
        padding: 0;
        .jp, .en {
          float: none;
          width: 100%;
          margin-bottom: 20px;
          font-size: 13px;
        }
      }
      .facilities {
        .facility-box {
          width: 100%;
          margin-bottom: 80px;
          h2 {
            margin-bottom: 15px;
            font-weight: normal;
            .jp { font-size: 20px; }
            .en { font-size: 14px; }
          }
          .facility-image img {
            width: 100%;
            height: auto;
          }
          .facility-exp {
            margin-top: 20px;
            text-align: center;
            .facility-exp-thumb {
              display: inline-block;
              vertical-align: top;
              margin: 0 3px;
              width: 28%;
              float: none;
              line-height: 1.3;
              font-size: 11px;
            }
          }
          .reserve-btn {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .facility-concierge {
    background: #fff;
  }
}
