*,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* address,
* ul,
* ol,
* li,
* form,
* dl,
* dt,
* dd,
* div,
* table,
* tr,
* th,
* td {
  margin: 0;
  line-height: 1;
  color: $c_gray_dark;
}

* img,
* figure,
* iframe,
* object {
  border: none;
  vertical-align: top;
  margin: 0;
}
* a {
  display: inline-block;
}
