/* select */
.select_grp {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  font-size: 16px;

  select {
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    position: relative;
    text-indent: 8px;
    min-width: 120px;
    width: 100%;
    z-index: 1;

    @include screen-narrow {
      @include appearance(none);
      padding: 0 16px;

      background: {
        color: #c9c9c9;
        image: url('../assets/images/common/select-bg.png');
        position: top right;
        repeat: no-repeat;
        size: 500px 48px;
      }
    }
  }

  &.inline {
    margin: 0 0;
    width: auto;
    display: inline-block;
    padding-right: 10px;
  }
  @media (max-width: $swich_sp) {
    &.inline {
      padding-right: 20px;
    }
  }
}
