.slick-dots {
  $size: 18px;
  bottom: 0 - $size - 8px;

  li {
    height: $size;
    margin: 0;
    width: $size;

    &.slick-active button:before {
      opacity: 0.5;
    }

    button {
      height: $size;
      padding: 5px;
      width: $size;

      &:before {
        font-size: 8px;
        height: $size;
        line-height: $size;
        opacity: 0.2;
        text-align: center;
        width: $size;
      }
    }
  }
}

.slick-slider {
  margin-bottom: 0;
}
