.static {
  @media (min-width: $swich_pc) {
    .content, .in {
      max-width: 980px;
    }
    .hide-pc { display: none; }
    .hide-sp { display: block; }
  }
  @media (max-width: $swich_sp) {
    .hide-pc { display: block; }
    .hide-sp { display: none; }
  }
  .content {
    padding-bottom: 150px;
    @media (max-width: $swich_sp) {
      padding-bottom: 75px;
    }
    h1 {
      margin-top: 80px;
      font-size: 26px;
      letter-spacing: 0.06em;
      @media (max-width: $swich_sp) {
        margin-top: 50px;
      }
    }
    h2.title {
      letter-spacing: 0.06em;
      font-size: 20px;
      margin: 70px 0 0;
    }
    .box {
      p, ul, ol {
        margin: 35px 0 0;
        font-family: sans-serif;
        li ul, li ol {
          margin: 15px 0 0;
        }
        li {
          margin-bottom: 12px;
          em {
            font-weight: bold;
            font-style: initial;
          }
        }
      }
      p, li {
        line-height: $lheightl;
      }
      ol li {
        padding-left: 1.4em;
        text-indent: -1.4em;
      }
      ul li {
        padding-left: 1.1em;
        text-indent: -1.1em;
      }
    }
  }
  .about_company {
    h2 {
      margin: 80px auto 30px;
      text-align: center;
      font-size: 24px;
      line-height: 7.76px;
      letter-spacing: 0.06em;
      &.member_title {
        text-align: left;
      }
    }
    p {
      margin: 20px 0 0;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 26.76px;
      word-break: break-all;
      &.center {
        width: 660px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .flex-grid {
      margin-top: 80px;
      overflow: hidden;
      .col-4 {
        position: relative;
        width: calc((100% - 70px) / 3);
        min-height: 550px;
        box-sizing: border-box;
        background: #fff;
        float: left;
        .head {
          height: 181px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .sp {
            display: none;
          }
          @media (max-width: $swich_sp) {
            .sp {
              display: block;
            }
            .pc {
              display: none;
            }
          }
        }
        .desc {
          padding: 5px 15px 40px 25px;
          h2 {
            margin: 40px 0 36px 0;
            font-size: 20px;
            line-height: 22.76px;
            span {
              font-size: 13px;
            }
          }
          ul {
            li {
              position: relative;
              font-family: sans-serif;
              font-size: 14px;
              line-height: 22.76px;
              word-break: break-all;
              &:before {
                content: "・";
                position: absolute;
                top: 0;
                left: -15px;
              }
            }
          }
          a {
            display: block;
            margin-top: 20px;
            font-size: 14px;
            line-height: 22.76px;
            text-align: center;
          }
        }
        &:nth-child(2) {
          margin: auto 35px;
        }
      }
    }
    .tbl_company {
      margin-top: 48px;
      border-top: none;
      border-bottom: none;
      font: {
        weight: 500;
        family: sans-serif;
      }
      dl {
        margin-bottom: 4px;
        background: #fff;
        dt {
          padding: 26px 22px;
          line-height: 1;
          border-right: 1px solid $c_gray_lighter;
        }
        dd {
          padding: 12px 30px;
          vertical-align: middle;
          line-height: $lheightm;
        }
      }
      @media (max-width: $swich_sp) {
        dl {
          dt {
            padding: 10px 22px;
            border-right: none;
            font-weight: bold;
            border-bottom: 1px solid $c_gray_lighter;
          }
          dd {
            margin: 0;
            padding: 16px 22px;
          }
        }
      }
    }
    .member {
      display: flex;
      margin-top: 8px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .profile {
        width: 190px;
        overflow: hidden;
        float: left;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .description {
        display: table;
        padding: 15px 20px 15px 20px;
        width: calc(100% - 190px);
        min-height: 195px;
        box-sizing: border-box;
        float: left;
        background: #fff;
        div {
          display: table-cell;
          vertical-align: middle;
          p.status {
            margin-top: 0;
            font-size: 12px;
          }
          p.name {
            margin-top: 0;
            font-size: 16px;
          }
          p.text {
            font-family: sans-serif;
            font-size: 14px;
            line-height: 23px;
            word-break: break-all;
          }
          span.blog {
            display: inline-block;
            font-family: sans-serif;
            font-size: 14px;
            line-height: 23px;
            float: right;
            text-align: right;
          }
        }
      }
    }
    @media (max-width: $swich_sp) {
      width: 100%;
      h2 {
        margin-top: 50px;
        font-size: 23px;
      }
      p {
        &.center {
          padding: 0 5px;
          width: 100%;
        }
      }
      .flex-grid {
        margin-top: 50px;
        .col-4 {
          position: relative;
          margin: 30px 0 0;
          width: 100%;
          min-height: 460px;
          float: none;
          .desc {
            padding: 5px 15px 45px 25px;
          }
          &:nth-child(2) {
            margin: 30px 0 0;
          }
        }
      }
      .member {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .profile {
          width: 100%;
          height: 250px;
          overflow: hidden;
          float: none;
          img {
            width: 100%;
            min-height: 100%;
            height: auto;
          }
        }
        .description {
          display: table;
          padding: 15px 20px 25px 20px;
          width: 100%;
          box-sizing: border-box;
          float: none;
          div {
            display: table-cell;
            vertical-align: middle;
            p.status {
              margin-top: 0;
              font-size: 12px;
            }
            p.name {
              margin-top: 0;
              font-size: 16px;
            }
            p.text {
              margin-top: 15px;
              font-size: 14px;
              word-break: break-all;
            }
            span.blog {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
