.tag-list {
  position: relative;

  a {
    background: $c_gray_dark;
    color: $c_white;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;

    &::before {
      content: '#';
    }
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  ul {
    display: block;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 20px 0;
    padding: 0;
  }
}
