// variables set in `styles/_lib.scss`
.user, .cancelled {
  &.reservation {
    .content {
      h3.title {
        margin-bottom: 0;
      }
    }
  }

  .content {
    padding-bottom: $space-max;

    .page_header {
      .page_title {
        margin: $space-xlg 0 $space;
      }

      p {
        line-height: 1.45;

        a {
          display: inline-block;
          margin-top: $space-sm;
        }
      }
    }

    h3.title {
      background: #dcdcdc;
      color: #424242;
      letter-spacing: .05em;
      line-height: $lheightm;
      margin: $space-lg 0;
      padding: 12px 0;
      text-align: center;

      font: { // How this property used
        size: 16px;
        weight: 700;
        family: sans-serif;
      }
    }

    h4.title {
      color: #424242;
      letter-spacing: .05em;
      line-height: $lheightm;
      margin: $space-lg 0;
      text-align: center;

      font: {
        size: 16px;
        weight: 700;
        family: serif;
      }
    }

    .lead {
      margin: 48px 0;
      font-size: 14px;
      line-height: 21px;
      font-family: sans-serif;
    }

    p.mes {
      color: $c_hihada;
      margin-top: 10px;
    }

    .columns { // #320
      input,
      textarea {
        outline: none;
      }

      label {
        color: #333;
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: $space-md;
        vertical-align: top;
      }
    }

    .columns_6,
    .columns_12 {
      margin-bottom: 36px;
      @include clearfix;

      input {
        width: 100%;
      }

      @media (min-width: $swich_pc) {
        padding: 0;
        @include span-columns(12);

        &.columns_nofloat {
          float: none;
        }
      }
    }

    .columns_6 {
      @media (min-width: $swich_pc) {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    .columns_12 {
      @media (min-width: $swich_pc) {
        @include span-columns(12);
      }
    }

    select {
      height: 48px;
    }
  }

  .account_settings_list {
    padding-left: 44px;
    li {
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      font-family: sans-serif;
      list-style-image: url(/assets/images/common/li_arrow.png);
      a {
        text-decoration: none;
      }
    }
  }

  .status_area { // reservation cancel
    margin: $space-max auto;
    text-align: center;

    .btn-cancel {
      background-color: #2b2b2b;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 40px;
      outline: 0;
      padding: 0 $space;
      position: relative;
      text-align: center;
      transition: all .4s;
      @include appearance(none);

      &:hover,
      &:focus {
        opacity: .6;
      }
    }
  }

  .reservation_contact_location {
    font-family: sans-serif;
    font-size: 16px;
    .note_on_checkin_time {
      padding: 20px 0 60px 0;
    }
  }

  .cancel_policy_and_rates {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;

    dt {
      margin-bottom: 10px;
    }

    dd {
      ul {
        li {
          color: #2b2b2b;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}

.user { // issue#422
  .guests_form {
    margin-top: $space-max;
  }
}

.cancel { // issue#422
  .box {
    margin-top: $space-lg;
  }
}
