.checkout {

  .content {
    margin: 20px auto;

    h1 {
      line-height: $lheightm;
      letter-spacing: 0.06em;
      margin-bottom: 24px;

      font: {
        size: 26px;
        weight: 300;
      }
    }

    h3.title {
      @include clearfix;
      line-height: $lheightm;
      letter-spacing: 0.06em;
      margin-bottom: 24px;
      background: #dcdcdc;
      color: #333333;
      text-align: left;
      padding: 12px 20px;
      margin: 36px 0;

      font: {
        size: 16px;
        weight: 700;
        family: sans-serif;
      }
    }

    .guidance_text {
      font-family: sans-serif;
      margin-bottom: 18px;
      line-height: 22px;
    }

    .guidance_link_text {
      font-family: sans-serif;
    }

  }

}

.checkout-meal {
  label {
    color: #000;
  }
}

.reservation-bar {
  @include clearfix;
  background: #ddd;
  width: 100%;
  margin: 20px auto 50px;
  @media (max-width: $swich_sp) {
    margin: 20px auto 10px;
  }

  .step {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
    @media (max-width: $swich_sp) {
      font-size: 13px;
      padding: 12px 0;
    }
  }

  &.checkout-start {
    display: none;
  }

  // Current
  &.checkout-guests .step-1,
  &.checkout-payment .step-2,
  &.checkout-confirm .step-3,
  &.checkout-thank-you .step-finished {
    background: #bbb;
  }
}
