.confirm {

  .info_confirmation_box {
    @include clearfix;
    background: transparent;
    padding: 20px;
    font-family: sans-serif;
  }

  .members_box {
    @include clearfix;
    @include span-columns(4);
    @media (max-width: $swich_sp) {
      @include span-columns(6);
    }
  }

  .arrival_time_box {
    @include clearfix;
    @include span-columns(4);
    @media (max-width: $swich_sp) {
      @include span-columns(6);
      @include omega;
    }
  }

  .credit_card_box {
    @include clearfix;
    @include span-columns(4);
    @include omega;
    @media (max-width: $swich_sp) {
      @include span-columns(12);
    }
  }

  .remarks_box {
    @include clearfix;
    @include span-columns(12);
    @include omega;
  }

  .final_confirmation {
    text-align: center;
    margin: 50px 0 0 0;
    p {
      font-size: 16px;
      line-height: 28px;
      font-family: sans-serif;
    }
  }

  .dl-horizontal {
    @media (max-width: $swich_sp) {
      margin-left: 0;
    }
    dt {
      @media (max-width: $swich_sp) {
        display: block;
        width: 100%;
        float: left;
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        margin: 0 0 0 0;
      }
    }
    dd {
      @media (max-width: $swich_sp) {
        display: block;
        width: 100%;
        float: left;
        padding-left: 0;
      }
    }
  }

}
