.user,
.checkout {

  label {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    @media (max-width: $swich_sp) {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 4px;
    }
  }

  .members_box {
    @include clearfix;
    @include span-columns(6);
    margin-bottom: 38px;
    @media (max-width: $swich_sp) {
      @include span-columns(7);
      margin-bottom: 18px;
    }
    .form_gender {
      width: 60px;
      @media (max-width: $swich_sp) {
        width: 50px;
      }
    }
  }

  .arrival_time_box {
    @include clearfix;
    @include span-columns(6);
    @include omega;
    margin-bottom: 38px;

    select {
      height: 47px;
      width: 100px;
    }

    @media (max-width: $swich_sp) {
      width: auto;

      margin: {
        bottom: 18px;
        right: 0;
      }
    }
  }

  .members_box {
    @include clearfix;
    @include span-columns(6);
    margin-bottom: 38px;

    @include screen-narrow {
      width: auto;

      margin: {
        bottom: 18px;
        right: 1em;
      }
    }

    select {
      display: inline-block;
      height: 47px;
      padding-left: 0.25em;
      width: 3.5em;
    }

    .members_segment {
      display: inline-block;

      &_label {
        display: inline-block;

        font: {
          family: serif;
          weight: normal;
        }
      }
    }

    .select_grp {
      width: auto;
    }
  }

  .remarks_box {
    @include clearfix;
    @include span-columns(12);
    margin-bottom: 36px;
    @media (max-width: $swich_sp) {
      margin-bottom: 18px;
    }
    textarea {
      width: 100%;
    }

  }

  .guests_form {
    font-family: 'Roboto', sans-serif;

    .existing_data {
      padding: 12px 0;
      font-size: 16px;
    }

    .fullname_box {
      @include clearfix;
      @include span-columns(4);
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      .input_name {
        width: 100%;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
    }

    .name_box {
      @include clearfix;
      @include span-columns(2);
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      .input_name {
        width: 100%;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
    }

    .email_box {
      @include clearfix;
      @include span-columns(4);
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      .input_email {
        width: 100%;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
    }

    .phoneNumber_box {
      @include clearfix;
      @include span-columns(4);
      @include omega;
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      .input_phoneNumber {
        width: 100%;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
    }

    .postcode_box {
      @include clearfix;
      @include span-columns(3);
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(6);
      }
    }

    .prefecture_box {
      @include clearfix;
      @include span-columns(3);
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      select {
        height: 47px;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(6);
        @include omega;
      }
    }

    .address_box {
      @include clearfix;
      @include span-columns(6);
      @include omega;
      margin-bottom: 36px;
      @media (max-width: $swich_sp) {
        margin-bottom: 18px;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
      .input_address {
        width: 100%;
      }
    }

    .birthday_box {
      @include clearfix;
      @include span-columns(3);
      float: none;
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
      .daterangepicker-input {
        width: 100%;
      }
    }

    .note_on_registration {
      margin-top: 30px;
      line-height: 22px;
    }

    .password_box {
      @include clearfix;
      @include span-columns(6);
      @include omega(2);
      margin-bottom: 36px;
      input {
        width: 100%;
      }
      @media (max-width: $swich_sp) {
        @include span-columns(12);
      }
    }

  }
  .guests_form_confirm {
    font-family: sans-serif;
    label {
      margin-right: 10px;
    }
  }


}
