.checkout {

  .content {

    .credit_cards_entry_form {
      position: relative;
      border: solid 4px #fff;
      padding: 30px;
      margin-bottom: 20px;
      font-family: sans-serif;

      .cardNo_box {
        @include clearfix;
        @include span-columns(4);
        input {
          width: 100%;
        }
        @media (max-width: $swich_sp) {
          @include span-columns(12);
          margin-bottom: 18px;
        }
      }

      .expire_box {
        @include clearfix;
        @include span-columns(4);
        @include omega;
        .select_grp {
          padding: 0;
          select {
            height: 47px;
            float: left;
          }
          .select_month {
            width: 40%;
          }
          .select_year {
            width: 50%;
            margin: 0 5%;
          }
        }
        @media (max-width: $swich_sp) {
          @include span-columns(12);
          margin-bottom: 18px;
        }
      }

      .holderName_box {
        @include clearfix;
        @include span-columns(4);
        @include omega;
        input {
          width: 100%;
        }
        @media (max-width: $swich_sp) {
          @include span-columns(12);
        }
      }

      .btns {
        @include clearfix;
        @include span-columns(12);
        margin: 20px 0 0 0;
      }

      dl.dl-horizontal {
        float: left;
        margin: 0;

        dt {
          margin: 0 0 15px 0;
          font-size: 16px;
          line-height: 20px;
          color: #545454;
          width: 194px;
          @media (max-width: $swich_sp) {
            margin-bottom: 6px;
            display: block;
            width: 100%;
            float: left;
            font-size: 14px;
            font-weight: 700;
          }
          &.last {
            @media (max-width: $swich_sp) {
              margin-bottom: 6px;
            }
          }
        }
        dd {
          float: none;
          padding-left: 194px;
          font-size: 16px;
          line-height: 20px;
          color: #545454;
          @media (max-width: $swich_sp) {
            float: left;
            padding-left: 0;
            margin-bottom: 12px;
          }
          &.price {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            span.taxes-included {
              font-size: 10px;
              font-weight: 300;
            }
          }
        }
        .last {
          margin: 0;
        }
      }

      .btn-action {
        float: right;
        // position: relative;
        // right: 20px;
        @media (max-width: $swich_sp) {
          float: none;
          margin-top: 10px;
        }
      }

      .change_card {
        margin-left: 10px;
        @media (max-width: $swich_sp) {
          margin-left: 0;
        }
      }

    }

    .payment_notes {
      font-size: 12px;
      line-height: 18px;
      font-family: sans-serif;
    }
  }

}
