.checkout {

  .info_box {
    @include display(flex);
    background: #fff;
    padding: 10px 20px;
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

    @include screen-narrow {
      padding: 10px;
      width: 100%;

      input {
        $height: 45px;
        line-height: $height;
        height: $height;
      }

      label {
        @include sr-only;
      }
    }

    .people_box {
      @include order(10);
      float: left;
      margin-right: 120px;

      @include screen-narrow {
        @include order(30);
        @include flex-shrink(1);
        float: none;
        margin-right: 0;
        width: 20%;
      }

      .people_suffix,
      .people_title {
        @include screen-narrow {
          @include sr-only;
        }
      }

      .people_title {
        margin-right: 30px;
      }

      .input_people {
        width: 60px;
        background-color: #f3f3f3;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.1em;

        @include screen-narrow {
          border: {
            bottom-left-radius: 0;
            top-left-radius: 0;
          }

          width: 100%;
          font-size: 14px;
        }
      }
    }
    .range_box {
      @include order(20);

      @include screen-narrow {
        @include flex-grow(1);
      }

      .range_title {
        margin-right: 30px;

        @include screen-narrow {
          @include sr-only;
        }
      }
      .input_checkin_checkout {
        width: 450px;
        display: inline-block;
        @media (max-width: $swich_sp) {
          width: 100%;
        }
      }
      .input_range {
        display: none;
      }
      .daterangepicker-input, input[type=date] {
        background-color: #f3f3f3;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.1em;

        @include screen-narrow {
          font-size: 14px;
          text-align: center;
        }
      }

      input[type=date] {
        @include screen-narrow {
          $border: solid 1px #fff;
          $radius: 10px;
          padding: 0;

          &:first-child {
            border-radius: $radius 0 0 $radius;
            border-right: $border;
          }

          &:last-child {
            border-radius: 0;

            border: {
              left: $border;
              right: solid 2px #fff;
            }
          }
        }
      }
    }
  }


  .room_selection_box {
    @include clearfix;
    @include span-columns(6);
    width: 49.8%; margin-right: 0.4%;
    background: #fff;
    min-height: 280px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    @media (max-width: $swich_sp) {
      @include span-columns(12);
    }
    .room_title {
      display: block;
      padding: 16px 20px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
      border-bottom: solid 1px #f1f1f1;
    }
    .rooms_box {
      padding: 20px;
      .checkout-room {
        @include clearfix;
        &:hover,
        &.is-selected:hover {
          background: #f3f3f3;
        }
        &.is-selected {
          background: #f6f6f6;
        }
        input[type=radio] {
          display: none;
        }
        label {
          padding: 10px 0;
          margin-bottom: 0;
          display: inline-block;
          width: 100%;
        }
        .room_image {
          max-width: 132px;
          float: left;
          margin-right: 30px;
          margin-bottom: 0px;
          padding-left: 10px;
          @media (max-width: $swich_sp) {
            max-width: 100%;
            padding-left: 0;
          }
        }
        .room_name {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          margin-bottom: 10px;
          display: inline-block;
        }
        .price_info {
          font-size: 14px;
          line-height: 18px;
          margin-left: 162px;
          margin-bottom: 8px;
          @media (max-width: $swich_sp) {
            display: inline-block;
            margin: 10px;
          }
        }
      }
    }
  }

  .meal_selection_box {
    @include clearfix;
    @include span-columns(6);
    width: 49.8%;
    @include omega;
    background: #fff;
    min-height: 280px;
    margin-bottom: 0;
    @media (max-width: $swich_sp) {
      @include span-columns(12);
      margin-top: 10px;
    }
    .meal_title {
      display: block;
      padding: 16px 20px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
      font-family: 'Roboto', sans-serif;
      border-bottom: solid 1px #f1f1f1;
    }
    .meals_box {
      padding: 20px;

      .meal_date {
        display: inline-block;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 10px;
      }
    }
      .meal_image {
        float: left;
        @media (max-width: $swich_sp) {
          max-width: 100%;
        }
      }
    .checkout-meal-day {
      margin-bottom: 20px;
    }
    .checkout-meal {
      $border-radius: 10px;
      position: relative;
      margin-bottom: 10px;
      border: solid 1px #dcdcdc;
      border-radius: 4px;

      &.expanded .header .meal-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .meal-item {
        position: relative;
        display: block;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-radius: 4px;
        background: #f3f3f3;
        min-height: 51px;
        transform-style: preserve-3d;
        font-size: 14px;
        font-family: sans-serif;

        &:hover {
          background: #dcdcdc;
        }

        .meal_image {
          max-width: 77px;
          margin-right: 10px;
        }

        input[type="radio"] {
          visibility: hidden;
          display: none;
        }

        .meal-item-line {
          position: absolute;
          top: 50%;
          left: 87px;
          transform: translateY(-50%);
          display: block;
          font-family: 'Roboto', sans-serif;
          .iconfont {
            margin-right: 3px;
          }
        }
      }

      .details {
        right: 0;
        left: 0;

        .meal-item {
          border-radius: 0;
          border-right: solid 1px #dcdcdc;
          border-left: solid 1px #dcdcdc;
          border-bottom: solid 1px #dcdcdc;
          &:hover {
            background: #dcdcdc;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &:nth-child(2n+1) {
            background: white;
            &:hover {
              background: #dcdcdc;
            }
          }
        }
      }

      &.expanded {
        .details {
          position: absolute;
          z-index: 10;
        }
      }
    }
  }

  .room_price_box {
    @include clearfix;
    @include span-columns(6);
    width: 49.8%; margin-right: 0.4%;
    background: #dcdcdc;
    padding: 30px 27px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    @media (max-width: $swich_sp) {
      @include span-columns(12);
    }
    .room_price_title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
    }
    .room_price {
      float: right;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.1em;
      .sum_label {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  .meal_price_box {
    @include clearfix;
    @include span-columns(6);
    width: 49.8%;
    @include omega;
    background: #dcdcdc;
    padding: 30px 27px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    @media (max-width: $swich_sp) {
      @include span-columns(12);
    }
    .meal_price_title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
    }
    .meal_price {
      float: right;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.1em;
      .sum_label {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  .total_price_box {
    clear: both;
    background: #dcdcdc;
    padding: 30px 27px;
    font-family: 'Roboto', sans-serif;
    min-height: 140px;
    @media (max-width: $swich_sp) {
      border: solid 4px #222222;
      padding: 16px;
      text-align: center;
    }
    .total_price_title {
      display: inline-block;
      float: left;
      margin-top: 34px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06em;
      @media (max-width: $swich_sp) {
        display: block;
        float: none;
        margin-top: 0;
      }
    }
    .total_price {
      float: right;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.1em;
      @media (max-width: $swich_sp) {
        display: none;
      }
      .sum_label {
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
      }
    }
    .total_price_taxed {
      display: inline-block;
      margin-top: 26px;
      float: right;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.04em;
      color: #791e1f;
      @media (max-width: $swich_sp) {
        display: block;
        float: none;
        text-align: center;
        margin-top: 8px;
      }
      .sum_label {
        font-size: 14px;
        font-weight: 700;
        margin-right: 0;
        color: #791e1f;
      }
      .taxed_label {
        font-size: 20px;
        font-weight: 300;
        margin-right: 0;
        color: #791e1f;
      }
    }
    .total_price_sp {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.1em;
      display: inline-block;
      margin-top: 11px;
      @media (min-width: $swich_pc) {
        display: none;
      }
      .sum_label {
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }


}
