.checkout {

  .host_message_box {
    @include clearfix;
    position: relative;
    background: #fff;
    padding: 20px;
    margin-bottom: 38px;
    @media (max-width: $swich_sp) {
      padding-bottom: 70px;
      margin-bottom: 10px;
    }

    .host_image {
      float: left;
      margin-right: 20px;
      @media (max-width: $swich_sp) {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .host_message {
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      margin-top: 15px;
    }

  }

}
