// experience => exp
body {
  &.experience.ichimikai {
    background: {
      image: url('../assets/images/experience/ichimikai/bg_pattern.png');
      repeat: repeat;
    }
  }
}


.exp {
  .d-tb {
    display: table;
    @include size(100%, 100%);

    .d-tbc {
      display: table-cell;

      &.va-m {
        vertical-align: middle;
      }

      &.va-t {
        vertical-align: top;
      }
    }
  }

  .flex-grid {
    @include make-flex-grid();

    @media (min-width: $swich_pc) {
      @include align-items(stretch);
      @include flex-direction(row);
      @include flex-wrap(wrap);

      [class^="col-"],
      [class*=" col-"] {
        margin-bottom: 20px;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .link-txt {
    color: #e1473a;
    text-decoration: none;

    i {
      color: inherit;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;

      &:before {
        display: block;
      }
    }
  }

  &-visual {
    background: {
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
    height: 350px;
    z-index: 1;
    width: 100%;

    @media (min-width: $swich_pc) {
      height: 600px;
    }

    &.is-report {
      height: 200px;

      @media (min-width: $swich_pc) {
        height: 250px;
      }
    }

    .d-tbc {
      text-align: center;
    }

    .headline {
      display: inline-block;
      padding-top: 58px;

      h1 {
        border-bottom: 1px solid rgba(#fff, .12);
        color: #fff;
        font: {
          size: 24px;
          weight: 500;
        }
        letter-spacing: .5em;
        margin: 0 auto 10px;
        padding: 0 60px 10px;

        @media (min-width: $swich_pc) {
          font-size: 34px;
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
      }

      h2 {
        color: #e1473a;
        font: {
          size: 14px;
          weight: 500;
        }
        letter-spacing: .05em;
        margin: 0 auto;

        @media (min-width: $swich_pc) {
          font-size: 16px;
        }
      }
    }
  }

  &-intro {
    padding: 40px 0;

    @media (min-width: $swich_pc) {
      padding: 60px 0;
    }

    &-in {
      position: relative;

      h1 {
        color: #191919;
        font: {
          size: 21px;
          weight: 600;
        }
        letter-spacing: .2em;
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: 26px;
          margin-bottom: 40px;
        }
      }

      p {
        color: #464646;
        font-size: 14px;
        line-height: 1.85;

        @media (min-width: $swich_pc) {
        }
      }
    }
  }

  &-index {
    @media (min-width: $swich_pc) {
      padding: 0 0 60px;
    }

    .flex-grid {
      @media (min-width: $swich_pc) {
        margin: 0 -20px;

        [class^="col-"],
        [class*=" col-"] {
          padding: 0 20px;
        }
      }
    }

    &-col {
      background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
      }
      position: relative;

      @media (max-width: $swich_sp) {
        margin-bottom: 20px;
        padding-top: 100%;
      }

      @media (min-width: $swich_pc) {
        min-height: 348px;
      }

      a {
        display: block;
        text-decoration: none;
      }

      .d-tbc {
        text-align: center;
      }

      .date {
        border: {
          color: #e1473a transparent transparent transparent;
          style: solid;
          width: 100px 100px 0 0;
        }
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        @include size(100px);

        span {
          color: #fff;
          display: block;
          font: {
            size: 10px;
            weight: 500;
          }
          left: -20px;
          letter-spacing: .025em;
          line-height: 1.25;
          position: absolute;
          top: -80px;
          width: 100px;
          @include transform(rotate(-45deg));
        }
      }

      .headline {
        display: inline-block;
        position: relative;

        @media (max-width: $swich_sp) {
        }

        @media (min-width: $swich_pc) {
        }

        p {
          border-bottom: 1px solid rgba(#fff, .12);
          color: #fff;
          font-size: 14px;
          letter-spacing: .15em;
          margin-bottom: 15px;
          padding-bottom: 15px;

          @media (min-width: $swich_pc) {
            margin-bottom: 20px;
            padding-bottom: 20px;
          }
        }

        h1 {
          color: #fff;
          font: {
            size: 18px;
            weight: 500;
          }
          letter-spacing: .25em;
          text-align: center;

          @media (min-width: $swich_pc) {
            font-size: 21px;
          }
        }

        .help {
          color: rgba(#fff, .7);
          margin-top: 15px;
          text-transform: uppercase;

          @media (min-width: $swich_pc) {
            font-size: 14px;
            letter-spacing: .25em;
            margin-top: 20px;
          }
        }
      }
    }

    &-item {
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      @include size(100%);
    }
  }

  &-report {
    padding: 40px 0;

    @media (min-width: $swich_pc) {
      padding: 60px 0;
    }

    small {
      color: #464646;
      display: block;
      font-size: 11px;
      text-align: right;

      @media (max-width: $swich_sp) {
        font-size: 10px;
      }

      @media (min-width: $swich_pc) {
        font-size: 11px;
      }
    }

    &-in {
      @include outer-container(840px);
      margin: 0 auto;
      padding: 0;
    }

    &-story {
      background-color: #fff;
      position: relative;

      @media (max-width: $swich_sp) {
        border: {
          bottom: 1px solid #757575;
          top: 1px solid #757575;
        }
        margin: 0 auto 40px;
        padding: 3px 0;
      }

      @media (min-width: $swich_pc) {
        border: 1px solid #757575;
        margin: 0 auto 60px;
        padding: 5px;
      }

      &-in {
        @media (max-width: $swich_sp) {
          border: {
            bottom: 1px solid #bbb;
            top: 1px solid #bbb;
          }
          padding: 30px 15px;
        }

        @media (min-width: $swich_pc) {
          border: 1px solid #bbb;
          padding: 55px 50px;
        }
      }

      h1 {
        color: #191919;
        font: {
          size: 18px;
          weight: 600;
        }
        letter-spacing: .05em;
        margin-bottom: 20px;
        padding-left: 15px;
        position: relative;

        @media (min-width: $swich_pc) {
          font-size: 26px;
          margin-bottom: 40px;
        }

        span {
          color: #e1473a;
          display: block;
          font: {
            size: 12px;
            weight: 500;
          }
          margin-bottom: 10px;

          @media (min-width: $swich_pc) {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }

        &:after {
          background-color: #e1473a;
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          top: -55px;
          width: 1px;

          @media (min-width: $swich_pc) {
            top: -95px;
            width: 2px;
          }
        }
      }

      &-content {
        &-image {
          float: left;

          @media (max-width: $swich_sp) {
            margin: {
              bottom: 15px;
              right: 15px;
            }
            width: 100px;
          }

          @media (min-width: $swich_pc) {
            margin: {
              bottom: 30px;
              right: 40px;
            }
            width: 200px;
          }

          img {
            margin-bottom: 10px;
          }
        }

        &-txt {
          p {
            color: #464646;
            font: {
              size: 14px;
              weight: 500;
            }
            letter-spacing: .085em;
            line-height: 1.85;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0;
            }

            @media (min-width: $swich_pc) {
            }
          }
        }
      }
    }

    &-content {
      margin: 0 auto 60px;
      padding: 0 0 60px;
      position: relative;

      @media (max-width: $swich_sp) {
        border-bottom: 1px solid rgba(#000, .075);
        margin: 0 auto 40px;
        padding: 0 15px 40px;

        &.last {
          border-bottom: none;
          margin: 0;
          padding: 0 15px;
        }
      }

      @media (min-width: $swich_pc) {
        border-bottom: 1px solid rgba(#000, .12);
        margin: 0 auto 60px;
        padding: 0 0 60px;

        &.last {
          border-bottom: none;
          margin: 0;
          padding: 0;
        }
      }

      h1 {
        span {
          color: #e1473a;
          display: block;
          font: {
            size: 12px;
            weight: 500;
          }
          margin-bottom: 10px;

          @media (min-width: $swich_pc) {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }

      .title {
        color: #191919;
        font-weight: 500;
        letter-spacing: .05em;
        line-height: 1.35;
        margin-bottom: 40px;
        position: relative;

        @media (max-width: $swich_sp) {
          padding-left: 15px;
          margin-bottom: 20px;
          font-size: 18px;
        }

        @media (min-width: $swich_pc) {
          font-size: 30px;
          margin-bottom: 40px;
          padding-left: 30px;
        }

        &:after {
          background-color: #e1473a;
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          top: 0;
          width: 4px;

          @media (min-width: $swich_pc) {
            width: 8px;
          }
        }
      }

      .heading {
        color: #191919;
        font: {
          size: 18px;
          weight: 500;
        }
        line-height: 1.4;
        position: relative;

        @media (max-width: $swich_sp) {
          margin-bottom: 20px;

          br {
            display: none;
          }
        }

        @media (min-width: $swich_pc) {
          font-size: 26px;
          letter-spacing: .05em;
          margin-bottom: 30px;
        }
      }

      p {
        color: #464646;
        font: {
          size: 14px;
          weight: 500;
        }
        line-height: 1.85;

        @media (max-width: $swich_sp) {
          margin-bottom: 20px;
        }

        @media (min-width: $swich_pc) {
          margin-bottom: 30px;
        }
      }

      ul {
        list-style: disc;
        margin: 0 auto 30px;
        padding: 0 0 0 20px;

        li {
          color: #464646;
          font: {
            size: 14px;
            weight: 500;
          }
          line-height: 1.85;
        }
      }

      &-txt {
        p, ul li {
          letter-spacing: .085em;

          @media (min-width: $swich_pc) {
            font-size: 16px;
          }
        }
      }

      &-image {
        &.mb {
          margin-bottom: 40px;
        }
      }
    }

    &-grid {
      @media (max-width: $swich_sp) {
        box-sizing: border-box;
        margin: 0 -5px;
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);

        [class^="col-"],
        [class*=" col-"] {
          padding: 0 5px;
          width: percentage(1/2);
        }
      }

      @media (min-width: $swich_pc) {
        margin: 0 -15px;

        [class^="col-"],
        [class*=" col-"] {
          padding: 0 15px;
        }
      }

      &-image {
        margin-bottom: 30px;

        small {
          margin-top: 10px;
        }
      }
    }

    &-prof {
      background-color: #fff;

      @media (max-width: $swich_sp) {
        margin-bottom: 30px;
        padding: 20px 15px;
      }

      @media (min-width: $swich_pc) {
        margin-bottom: 40px;
        padding: 40px 50px;
      }

      &-in {
        @include clearfix();

        @media (min-width: $swich_pc) {
          padding-left: 150px;
        }
      }

      &-image {
        border-radius: 50%;
        float: left;
        overflow: hidden;

        @media (max-width: $swich_sp) {
          margin-left: 0;
          @include size(54px);
        }

        @media (min-width: $swich_pc) {
          float: left;
          margin-left: -150px;
          @include size(150px);
        }
      }

      &-details {
        @media (min-width: $swich_pc) {
          padding-left: 30px;
        }

        h2 {
          border-bottom: 1px solid rgba(#000, .12);
          color: #191919;
          font-weight: 500;
          letter-spacing: .05em;
          margin-bottom: 20px;
          padding-bottom: 20px;
          position: relative;

          span {
            font: {
              size: 11px;
              weight: 500;
            }

            &.tl {
              display: block;
              letter-spacing: .075em;
              margin-bottom: 10px;
            }

            &.nm {
              margin-left: 3px;
            }

            &.en {
              color: #e1473a;
              margin-left: 5px;

              @media (min-width: $swich_pc) {
                margin-left: 20px;
              }
            }
          }

          @media (max-width: $swich_sp) {
            font-size: 14px;
            padding-left: 54px + 20px;
            padding-top: 12px;
          }

          @media (min-width: $swich_pc) {
            font-size: 20px;
            margin-bottom: 20px;
            padding-bottom: 20px;
          }
        }

        p {
          color: #3c3c3c;
          font: {
            family: $default-font-family;
            size: 11px;
            weight: 500;
          }
          line-height: 1.65;
          margin: 0;
        }
      }
    }

    &-guests {
      background-color: #fff;

      &-in {
        @include clearfix();

        img {
          margin-bottom: 30px;

          @media (min-width: $swich_pc) {
            margin-bottom: 50px;
          }
        }
      }

      &-details {
        @media (max-width: $swich_sp) {
          padding: 0 15px 20px;
        }

        @media (min-width: $swich_pc) {
          padding: 0 50px 50px;
        }

        h2 {
          span {
            font: {
              size: 11px;
              weight: 500;
            }

            &.tl {
              display: block;
              letter-spacing: .075em;
              margin-bottom: 10px;
            }

            &.nm {
              margin-left: 3px;
            }

            &.en {
              color: #e1473a;
              margin-left: 20px;
            }
          }

          border-bottom: 1px solid rgba(#000, .12);
          color: #191919;
          font: {
            size: 18px;
            weight: 500;
          }
          letter-spacing: .05em;
          margin-bottom: 20px;
          padding-bottom: 20px;

          @media (min-width: $swich_pc) {
            font-size: 20px;
          }
        }

        p {
          color: #3c3c3c;
          font: {
            family: $default-font-family;
            size: 12px;
            weight: 500;
          }
          line-height: 1.85;
          margin-bottom: 15px;
        }
      }
    }

    &-service {
      @media (max-width: $swich_sp) {
        margin: 60px auto 40px;
        padding: 0 15px;

        &.wine {
          border-bottom: 1px solid rgba(#000, .12);
          padding: 0 15px 40px;
        }
      }

      @media (min-width: $swich_pc) {
        margin: 80px auto 60px;

        &.wine {
          border-bottom: 1px solid rgba(#000, .12);
          padding: 0 0 60px;
        }
      }

      .heading {
        color: #191919;
        font: {
          size: 21px;
          weight: 500;
        }
        margin-bottom: 20px;
        padding-left: 40px;
        position: relative;

        img {
          bottom: 0;
          left: 0;
          position: absolute;
          @include size(48px);

          @media (min-width: $swich_pc) {
            @include size(70px);
          }
        }

        @media (min-width: $swich_pc) {
          padding-left: 60px;
          font-size: 30px;
        }
      }

      &-in {
        @include clearfix();

        @media (min-width: $swich_pc) {
          padding-left: 380px;
        }
      }

      &-image {
        @media (max-width: $swich_sp) {
          margin-bottom: 15px;
        }

        @media (min-width: $swich_pc) {
          float: left;
          margin-left: -380px;
        }
      }

      &-txt {
        @media (min-width: $swich_pc) {
          padding-left: 40px;
        }

        p {
          color: #3c3c3c;
          font: {
            size: 14px;
            weight: 500;
          }
          line-height: 1.85;
          margin-bottom: 15px;
        }
      }
    }

    &-thanks {
      @include clearfix();

      p {
        letter-spacing: .0125em;
      }

      &-for {
        float: right;
        @include clearfix();

        .name {
          font: {
            size: 16px;
            weight: 500;
          }
          margin-bottom: 20px;
          text-align: right;

          @media (min-width: $swich_pc) {
            font-size: 20px;
          }

          span {
            display: block;
            font-size: 11px;
            margin-bottom: 10px;
          }
        }

        .image {
          float: right;
          width: 120px;

          img {
            height: auto;
            max-width: 100%;
          }
        }
      }
    }

    &-events {
      border-top: 1px solid rgba(#000, .12);
      margin: 40px auto 0;
      padding: 40px 0 0;

      @media (min-width: $swich_pc) {
        margin: 60px auto 0;
        padding: 60px 0 0;
      }

      .event {
        margin-bottom: 30px;

        @media (min-width: $swich_pc) {
          margin-bottom: 50px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      h3 {
        color: #191919;
        font: {
          size: 14px;
          weight: 500;
        }
        letter-spacing: .05em;
        margin-bottom: 15px;
        position: relative;

        @media (min-width: $swich_pc) {
          font-size: 16px;
        }
      }

      p {
        font-size: 14px;

        @media (min-width: $swich_pc) {
          font-size: 14px;
        }
      }
    }
  }
}
