// ambassador -> amb
.amb {
  margin-top: $amb-header-height;

  .in {
    @media (min-width: $swich_pc) {
      max-width: 980px;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  span.br {
    &:before {
      @media (max-width: $swich_sp) {
        content: '\A';
        white-space: pre;
      }
    }
  }

  .flex-grid {
    @media (min-width: $swich_pc) {
      @include make-flex-grid();
      @include flex-direction(row);
      @include justify-content(center);
    }
  }

  .d-tb {
    display: table;
    @include size(100%, 100%);

    .d-tbc {
      display: table-cell;

      &.va-m {
        vertical-align: middle;
      }

      &.va-t {
        vertical-align: top;
      }
    }
  }

  &-action {
    margin: 48px auto;
    padding: 0 16px;
    text-align: center;

    @media (min-width: $swich_pc) {
      margin: 54px auto;
    }

    p {
      font-family: $default-font-family;
      font-size: 16px;
      margin: 0 auto 16px;
    }

    .btn-entry {
      border-radius: 6px;
      box-shadow: 0 0 4px rgba(0,0,0, .24), 0 2px 4px rgba(0,0,0, .16);
      display: block;
      font-size: 14px;
      margin: 0 auto;
      max-width: 582px;
      padding: 16px;
      @include linear-gradient(#c60101, darken(#c60101, 10%));

      i {
        display: inline-block;
        font-weight: bold;
        margin-left: 8px;

        &:before {
          display: block;
        }
      }

      @media (min-width: $swich_pc) {
        font-size: 20px;
        padding: 36px;
        width: 582px;

        i {
          font-size: 20px;
          vertical-align: top;
        }
      }
    }
  }

  &-grid {
    @media (min-width: $swich_pc) {
      margin: 0 0 24px;
    }

    [class^="col-"],
    [class*=" col-"] {
      @media (min-width: $swich_pc) {
        padding: 0;
        position: relative;
      }
    }

    &.is-ac {
      @media (min-width: $swich_pc) {
        @include align-items(center);
      }
    }
  }

  &-header {
    text-align: center;

    .label {
      background-color: #b78b34;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      font-family: $default-font-family;
      font-size: 12px;
      padding: 8px;
      vertical-align: top;

      @media (max-width: $swich_sp) {
        margin-bottom: 4px;
      }

      @media (min-width: $swich_pc) {
        margin-right: 10px;
      }
    }

    h1 {
      display: inline-block;
      font-weight: 500;
      vertical-align: top;

      @media (max-width: $swich_sp) {
        font-size: 26px;
        line-height: $lheightm;
        margin-bottom: 32px;
        text-decoration: underline;
      }

      @media (min-width: $swich_pc) {
        font-size: 30px;
        margin-bottom: 85px;
        padding-bottom: 10px;
      }
    }

    h2 {
      @media (max-width: $swich_sp) {
        margin-bottom: 24px;
        text-decoration: underline;

        .heading {
          display: block;
          font-size: 24px;
          line-height: $lheightm;
        }
      }

      @media (min-width: $swich_pc) {
        border-bottom: 1px solid $c_gray;
        display: inline-block;
        font-size: 28px;
        margin-bottom: 48px;
        padding-bottom: 10px;
        vertical-align: top;
      }
    }

    .insert_img {
      display: block;
      text-indent: -9999em;

      &.title1 {
        @media (max-width: $swich_sp) {
          background: url('../assets/images/ambassador/title1_sp.png') center top no-repeat;
          background-size: contain;
          @include size(auto, 100px);
        }

        @media (min-width: $swich_pc) {
          background: url('../assets/images/ambassador/title1_pc.png') center top no-repeat;
          background-size: contain;
          border-bottom: none;
          margin-left: auto;
          margin-right: auto;
          @include size(620px, 40px);
        }
      }

      &.title2 {
        @media (max-width: $swich_sp) {
          background: url('../assets/images/ambassador/title2_sp.png') center top no-repeat;
          background-size: contain;
          @include size(auto, 185px);
        }

        @media (min-width: $swich_pc) {
          background: url('../assets/images/ambassador/title2_pc.png') center top no-repeat;
          background-size: contain;
          border-bottom: none;
          margin-left: auto;
          margin-right: auto;
          @include size(696px, 42px);
        }
      }
    }
  }

  &-visual {
    background-image: url('../assets/images/ambassador/bg_main.jpg');
    // 画面サイズでposition調整必要
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 456px;
    z-index: 1;
    width: 100%;

    .in {
      position: relative;
      @include size(100%, 100%);

      @media (min-width: $swich_pc) {
        padding-top: 40px;
      }

      .d-tb {
        .d-tbc {
          @media (max-width: $swich_sp) {
            vertical-align: middle;
          }
        }
      }

      .headline {
        text-align: center;
      }

      .copy,
      .logo,
      .catch {
        color: #fff;
        font-weight: 700;
      }

      .logo {
        background: url('../assets/images/top/logo_pc_new.png') center top no-repeat;
        background-size: contain;
        text-indent: -9999em;

        @media (max-width: $swich_sp) {
          margin: 0 auto 24px;
          @include size(58px, 74px);
        }

        @media (min-width: $swich_pc) {
          margin: 0 auto 32px;
          @include size(61px, 78px);
        }
      }

      .copy {
        text-shadow: 0px 0px 16px rgba(#000, .8);

        @media (max-width: $swich_sp) {
          font-size: 24px;
          letter-spacing: .01em;
          margin: 0 auto 16px;
        }

        @media (min-width: $swich_pc) {
          font-size: 32px;
          letter-spacing: .025em;
          margin: 45px auto 36px;
        }
      }

      .catch {
        font-size: 42px;
        text-indent: -9999em;
        margin: 0 auto;

        span {
          color: #fff;
          font-size: 2em;
          font-style: italic;
        }

        @media (max-width: $swich_sp) {
          background: url('../assets/images/ambassador/catch_sp.png') center top no-repeat;
          background-size: contain;
          @include size(auto, 164px);
        }

        @media (min-width: $swich_pc) {
          background: url('../assets/images/ambassador/catch_pc.png') center top no-repeat;
          background-size: contain;
          font-size: 42px;
          @include size(auto, 87px);
        }
      }
    }
  }

  &-guide {
    box-shadow: 0 0 8px rgba(#000, .24), 0 8px 12px rgba(#000, .16);
    margin: 0 auto 48px;
    position: relative;
    z-index: 1;
    @include radial-gradient(rgba(#000, 0), rgba(#000, .16), $fallback: #001d05);

    @media (min-width: $swich_pc) {
      margin: 0 auto 96px;
    }

    &:before,
    &:after {
      background-color: rgba(#fff, .32);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }

    &:before {
      top: 3px;
    }

    &:after{
      bottom: 3px;
    }

    .in {
      padding: 48px 0;
      position: relative;

      @media (min-width: $swich_pc) {
        padding: 32px 0;
      }
    }

    .headline {
      text-align: center;

      p {
        color: #fff;
        font-family: $default-font-family;
        font-size: 18px;
        font-weight: 500;
        line-height: $lheightl;

        @media (max-width: $swich_sp) {
          font-size: 16px;
          padding: 0 16px;
        }

        &.help-txt {
          color: rgba(#fff, .7);
          display: block;
          font-size: 14px;
          line-height: $lheightm;
          margin: 16px auto 20px;
        }
      }
    }

    .guideline {
      padding: 0;
      text-align: center;

      @media (min-width: $swich_pc) {
        padding: 32px 0 40px;
      }

      h1,
      p {
        color: #fff;
        margin: 0 auto;
      }

      h1 {
        border-bottom: 1px solid rgba(#fff, .87);
        display: inline-block;
        letter-spacing: .025em;
        margin-bottom: 16px;
        padding: 0 0 8px;

        @media (max-width: $swich_sp) {
          font-size: 18px;
        }

        @media (min-width: $swich_pc) {
          font-size: 21px;
          letter-spacing: .1em;
          margin-bottom: 32px;
        }
      }

      p {
        font-weight: 500;
        line-height: $lheightm;

        @media (max-width: $swich_sp) {
          font-size: 21px;
        }

        @media (min-width: $swich_pc) {
          font-size: 27px;
          letter-spacing: .15em;
        }
      }
    }

    br {
      &.hide-pc {
        @media (min-width: $swich_pc) {
          display: none;
        }
      }
    }

    .entry {
      font-size: 0;
      margin: 0 auto;
      text-align: center;

      @media (max-width: $swich_sp) {
        padding: 0 16px;
      }

      @media (min-width: $swich_pc) {
        .head,
        .item {
          display: inline-block;
          vertical-align: top;
        }
      }

      .head {
        background-color: rgba(#fff, .6);
        font: {
          family: $default-font-family;
          size: 14px;
          weight: bold;
        }
        line-height: 60px;
        padding: 0 16px;

        @media (max-width: $swich_sp) {
          font-size: 12px;
          line-height: 1;
          padding: 10px;
        }
      }

      .item {
        background-color: #fff;
        font: {
          family: $default-font-family;
          size: 16px;
          weight: 500;
        }
        padding: 12px 16px;

        span {
          display: block;
          margin-bottom: 4px;
        }

        @media (max-width: $swich_sp) {
          font-size: 12px;
          padding: 10px;
        }
      }
    }

    .amb-action {
      margin-bottom: 0;
    }
  }

  &-cb {
    margin: 0 auto 48px;
    position: relative;

    .in {
      position: relative;

      .arrow {
        font-family: $default-font-family;
        font-size: 16px;
        line-height: $lheightm;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        @media (max-width: $swich_sp) {
          padding: 16px 0 24px;
        }

        @media (min-width: $swich_pc) {
          margin: (-54px) auto 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 50%;
        }

        &:after {
          content: '';
          display: block;
          left: 50%;
          @include size(24px);
          @include transform(rotate(45deg));

          @media (max-width: $swich_sp) {
            border-bottom: 1px solid #787878;
            border-right: 1px solid #787878;
            margin-left: -12px;
            position: absolute;
          }

          @media (min-width: $swich_pc) {
            border-top: 1px solid #787878;
            border-right: 1px solid #787878;
            margin-left: -21px;
            margin-top: 16px;
            position: relative;
          }
        }
      }
    }

    &-grid {
      margin: 0 -10px 24px;

      @media (min-width: $swich_pc) {
        margin: 0 -12px 48px;
      }

      $ar: 72px;
      [class^="col-"],
      [class*=" col-"] {
        padding: 0 10px;
        position: relative;

        @media (min-width: $swich_pc) {
          padding: 0 12px;
        }
      }

      .col-feat {
        width: 100%;

        @media (min-width: $swich_pc) {
          width: calc(50% - #{$ar/2});
        }
      }

      .col-arr {
        width: 100%;

        @media (min-width: $swich_pc) {
          width: $ar;
        }
      }
    }

    &-catch {
      background: url('../assets/images/ambassador/cb/catch_sp.png') center top no-repeat;
      background-size: contain;
      font-size: 42px;
      text-indent: -9999em;
      margin: 0 auto;
      @include size(auto, 150px);

      span {
        color: #a60101;
        font-size: 2em;
        font-style: italic;
      }

      @media (mix-width: 480px) {
        @include size(auto, 240px);
      }

      @media (min-width: $swich_pc) {
        background: url('../assets/images/ambassador/cb/catch_pc.png') center top no-repeat;
        background-size: contain;
        @include size(auto, 120px);
      }
    }

    &-content {
      margin: 0 auto 24px;
      text-align: center;

      @media (min-width: $swich_pc) {
        margin-bottom: 48px;
      }

      > p {
        font-family: $default-font-family;
        font-size: 16px;
        font-weight: 500;
        line-height: $lheightl;
        margin: 0 auto 24px;

        @media (min-width: $swich_pc) {
          font-size: 18px;
        }
      }

      .well {
        background-color: #fff;
        padding: 16px;
        text-align: left;

        @media (min-width: $swich_pc) {
          padding: 24px 32px;
        }

        p {
          font-family: $default-font-family;
          font-size: 16px;
          line-height: $lheightm;

          &.def {
            line-height: $lheightl;
            margin-bottom: 8px;

            > span {
              font-weight: bold;
            }
          }

          &.ex {
            @media (min-width: $swich_pc) {
              font-size: 18px;
            }

            > span,
            > strong {
              color: #a60101;
            }

            > strong {
              font-weight: bold;
            }

            > br {
              @media (min-width: $swich_pc) {
                display: none;
              }
            }
          }
        }
      }
    }

    &-feature {
      background-color: #fff;
      padding: 32px 24px;
      position: relative;

      @media (min-width: $swich_pc) {
        padding: 48px 54px;
      }

      &:before {
        background-color: #787878;
        bottom: 15px;
        box-shadow: 0 16px 16px #787878;
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        width: 120px;
        z-index: -1;
        @include transform(rotate(3deg));
      }

      .rb {
        background: url('../assets/images/ambassador/catch_pc.png') left top no-repeat;
        background-size: contain;
        left: 0;
        position: absolute;
        top: 0;
        @include size(72px);

        @media (min-width: $swich_pc) {
          @include size(96px);
        }

        &.rb-1 {
          background-image: url('../assets/images/ambassador/cb/rb1.png');
        }

        &.rb-2 {
          background-image: url('../assets/images/ambassador/cb/rb2.png');
        }
      }

      .desc {
        font-family: $default-font-family;
        font-size: 16px;
        line-height: $lheightm;
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: 18px;
        }
      }

      .in_img {
        position: relative;
      }
    }
  }

  &-manifesto {
    width: 100%;

    @media (min-width: $swich_pc) {
    }

    &-visual {
      background-image: url('../assets/images/ambassador/bg_manifesto.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 470px;

      @media (max-width: $swich_sp) {
        background-position: center center;
      }

      @media (min-width: $swich_pc) {
        background-position: center bottom;
      }

      .headline {
        text-align: center;
      }

      h1,
      p {
        color: #fff;
        text-shadow: 0px 0px 16px rgba(#000, .7);
      }

      h1 {
        font-weight: 500;
        letter-spacing: .15em;
        line-height: $lheightm;
        margin: 0 auto 24px;

        @media (max-width: $swich_sp) {
          font-size: 24px;
        }

        @media (min-width: $swich_pc) {
          font-size: 30px;
        }
      }

      p {
        font-family: $default-font-family;
       line-height: $lheightl;
        margin: 0 auto;

        @media (max-width: $swich_sp) {
          font-size: 16px;
        }

        @media (min-width: $swich_pc) {
          font-size: 16px;
          letter-spacing: .025em;
        }
      }

      br {
        &.hide-pc {
          @media (min-width: $swich_pc) {
            display: none;
          }
        }
      }
    }
  }

  &-profile {
    background-color: #fff;
    margin-bottom: 16px;

    @media (max-width: $swich_sp) {
      padding: 16px;
    }

    &:last-child {
      margin-bottom: 60px;

      @media (min-width: $swich_pc) {
        margin-bottom: 120px;
      }
    }

    .amb-sec-intro {
      @media (min-width: $swich_pc) {
        padding: 16px 16px 16px 24px;
      }
    }

    &-img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      img {
        visibility: hidden;
      }

      @media (max-width: $swich_sp) {
        float: left;
        margin-right: 16px;
        @include size(112px);
      }

      @media (min-width: $swich_pc) {
        @include size(100%);
      }
    }
  }

  &-spec {
    margin-bottom: 60px;

    @media (min-width: $swich_pc) {
      margin-bottom: 120px;
    }

    &.amb-grid {
      @media (max-width: $swich_sp) {
        @include display(flex);
        @include flex-direction(column-reverse);
        @include flex-wrap(wrap);
        @include justify-content(center);

        .amb-sec-img {
          margin-bottom: 24px;
        }
      }
    }

    .amb-sec-list {
      @media (min-width: $swich_pc) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    .amb-sec-img {
      @media (min-width: $swich_pc) {
        padding-left: 16px;
      }
    }
  }

  &-sec {
    .in {
      @media (min-width: $swich_pc) {
        max-width: 900px;
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0 0 0 14px;

      li {
        font-family: $default-font-family;
        font-size: 14px;
        line-height: $lheightm;
        margin: 0 auto 8px;
        position: relative;

        @media (min-width: $swich_pc) {
          font-size: 16px;
          margin-bottom: 8px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '●';
          color: #b78b34;
          display: block;
          left: -14px;
          position: absolute;
          top: 0;
        }
      }
    }

    &-img {
      position: relative;
    }

    &-intro {
      font-family: $default-font-family;

      > p {
        line-height: $lheightm;
        margin-bottom: 20px;
      }

      .profile {
        p {
          font-weight: 500;
          line-height: $lheightm;
          margin-bottom: 8px;

          @media (max-width: $swich_sp) {
            font-size: 13px;
          }

          @media (min-width: $swich_pc) {
            font-size: 14px;
          }

          > span {
            margin-right: 5px;

            @media (min-width: $swich_pc) {
              margin-right: 10px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .sns {
          color: $c_gray;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $c_gray;
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-entry {
    margin-bottom: 48px;

    .in {
      background-color: #fff;

      @media (max-width: $swich_sp) {
        padding: 0;
      }

      @media (min-width: $swich_pc) {
        max-width: 900px;
      }

      .label {
        border-radius: 3px;
        display: inline-block;
        font-family: $default-font-family;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 6px 8px;
        vertical-align: top;

        &.step {
          background-color: #284890;
          color: #fff;
        }
      }
    }

    &-header {
      margin: 0;
      padding: 0;
      text-align: center;

      h1 {
        background-color: #284890;
        color: #fff;
        font-family: $default-font-family;

        @media (max-width: $swich_sp) {
          font-size: 16px;
          padding: 16px 0;
        }

        @media (min-width: $swich_pc) {
          font-size: 21px;
          padding: 16px 16px;
        }
      }
    }

    &-content {
      padding: 24px 16px;

      @media (min-width: $swich_pc) {
        padding: 54px 90px;
      }

      .amb-grid {
        border-bottom: 1px solid #ddd;
        margin-bottom: 54px;
        padding-bottom: 54px;
        position: relative;

        &:before,
        &:after {
          border-style: solid;
          content: '';
          display: block;
          left: 50%;
          position: absolute;
          z-index: 1;
          @include size(0);
        }

        &:before {
          border-color: #ddd transparent transparent transparent;
          border-width: 18px 24px 0 24px;
          bottom: -18px;
          margin-left: -24px;
        }

        &:after {
          border-color: #fff transparent transparent transparent;
          border-width: 16px 22px 0 22px;
          bottom: -16px;
          margin-left: -22px;
        }
      }

      .result {
        font-family: $default-font-family;
        font-size: 21px;
        font-weight: bold;
        line-height: $lheightm;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: 24px;
        }
      }
    }

    &-img {
      position: relative;

      img {
        margin: 0 auto;
      }
    }

    &-info {
      font-family: $default-font-family;

      @media (max-width: $swich_sp) {
        text-align: center;
      }

      .headline {
        p {
          font-size: 16px;
          line-height: $lheightm;
          margin: 0 auto 24px;

          @media (min-width: $swich_pc) {
            margin-bottom: 12px;
          }

          &.help-txt {
            color: $c_gray;
            font-size: 14px;

            @media (max-width: $swich_sp) {
              text-align: left;
            }

            a {
              color: #284890;
              cursor: pointer;
              font-weight: 500;
              text-decoration: underline;
            }
          }

          > span {
            color: #284890;
            font-weight: bold;
          }
        }

        a {
          cursor: pointer;
          display: inline-block;
          text-decoration: none;

          &.email {
            color: #284890;
            font-size: 1.2em;
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-help {
    padding: 24px 16px;

    .embed-item {
      margin-bottom: 20px;
    }

    @media (max-width: $swich_sp) {
      .amb-grid {
        .col-6 {
          margin-bottom: 48px;
        }
      }
    }

    @media (min-width: $swich_pc) {
      padding: 54px 48px;
    }

    .amb-grid {
      @media (min-width: $swich_pc) {
        margin: 0 -16px 48px;
      }

      .col-6 {
        @media (min-width: $swich_pc) {
          padding: 0 16px;
        }
      }
    }

    .headline {
      h2 {
        color: #284890;
        font-family: $default-font-family;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center;
      }

      img {
        margin-bottom: 16px;
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0 0 0 12px;

      &.is-square {
        li {
          &:before {
            content: '■';
          }
        }
      }

      li {
        font-family: $default-font-family;
        font-size: 14px;
        line-height: $lheightm;
        margin: 0 auto 8px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '●';
          color: #284890;
          display: block;
          left: -12px;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  &-box {
    margin-bottom: 48px;

    @media (min-width: $swich_pc) {
      margin-bottom: 48px;
    }

    .in {
      background-color: #fff;

      @media (max-width: $swich_sp) {
        padding: 0;
      }

      @media (min-width: $swich_pc) {
        max-width: 900px;
      }
    }

    &-header {
      position: relative;

      h2 {
        background-color: #dcdcdc;
        color: $c_gray_dark;
        font-family: $default-font-family;
        font-size: 16px;
        font-weight: bold;
        padding: 16px 16px;
        text-align: center;
      }
    }

    &-content {
      position: relative;

      @media (max-width: $swich_sp) {
        padding: 16px;
      }

      @media (min-width: $swich_pc) {
        padding: 32px;
      }
    }

    &-contact {
      font-family: $default-font-family;
      margin-bottom: 16px;

      > p {
        font-family: $default-font-family;
        font-size: 14px;
        font-weight: 500;
        line-height: $lheightm;
        margin-bottom: 16px;
        text-align: center;

        @media (min-width: $swich_pc) {
          font-size: 16px;

          br {
            display: none;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          color: #284890;
          display: inline-block;
          font-size: 16px;

          @media (min-width: $swich_pc) {
            font-size: 21px;
          }
        }
      }

      ul {
        margin-bottom: 16px;
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);

        @media (max-width: $swich_sp) {
          @include flex-direction(column);
        }

        @media (min-width: $swich_pc) {
          @include align-items(flex-end);
        }

        li {
          @media (max-width: $swich_sp) {
            font-size: 14px;
            line-height: $lheightm;
            text-align: center;
          }

          @media (min-width: $swich_pc) {
            font-size: 16px;
            margin-right: 24px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .call {
        font-size: 24px;

        i {
          font-size: 20px;
        }

        &.hide-sp {
          @media (max-width: $swich_sp) {
            display: none;
          }

          @media (min-width: $swich_pc) {
            margin-left: 16px;
          }
        }
      }

      .btn-primary {
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0,0,0, .24), 0 2px 4px rgba(0,0,0, .16);
        color: #fff;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        margin: 12px 0;
        padding: 12px 24px;
        text-decoration: none;

        i {
          color: #fff;
          display: inline-block;
          font-size: 20px;
        }

        &.hide-pc {
          @media (max-width: $swich_sp) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 320px;
            width: 100%;
          }

          @media (min-width: $swich_pc) {
            display: none;
          }
        }
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0 0 0 12px;

      li {
        font-family: $default-font-family;
        font-size: 14px;
        line-height: $lheightm;
        margin: 0 auto 8px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '●';
          color: #284890;
          display: block;
          left: -12px;
          position: absolute;
          top: 0;
        }

        .help-txt {
          color: $c_gray;
          display: inline-block;
          font-size: 14px;
          line-height: $lheightm;
        }

        a {
          color: #284890;
          cursor: pointer;
          font-weight: 500;
          text-decoration: underline;

          &.ml {
            margin-left: 24px;
          }
        }
      }
    }

    &-well {
      border: 4px solid $c_gray_light;
      margin: 32px auto 0;
      padding: 16px;

      @media (min-width: $swich_pc) {
        padding: 24px;
      }

      h3 {
        font-family: $default-font-family;
        font-size: 14px;
        line-height: $lheightm;
        margin-bottom: 16px;
      }
    }
  }

  &-form {

    @media (max-width: $swich_sp) {
      padding: 0 16px;
    }

    .mc-field-group {
      margin: 24px auto 16px;
      text-align: center;

      input {
        &.email {
          border: none;
          box-shadow: inset 0 1px 4px rgba(#000, .26);
          display: block;
          font-family: $default-font-family;
          font-size: 16px;
          margin: 0 auto;
          max-width: 350px;
          max-width: 470px;
          padding: 14px 16px;
          text-align: center;
          width: 100%;

          @media (max-width: $swich_sp) {
            display: block;
            width: 100%;
          }

          @media (min-width: $swich_pc) {
            display: inline-block;
            padding: 16px 24px;
          }
        }
      }

      label[for='mce-EMAIL'] {
        display: none;
      }
    }

    .clear {
      text-align: center;
    }

    .btn-entry {
      border-radius: 4px;
      box-shadow: 0 0 4px rgba(0,0,0, .24), 0 2px 4px rgba(0,0,0, .16);
      display: block;
      font-size: 14px;
      margin: 0 auto;
      max-width: 470px;
      padding: 16px;
      width: 100%;
      @include linear-gradient(#c60101, darken(#c60101, 10%));

      @media (min-width: $swich_pc) {
        font-size: 18px;
        padding: 30px 24px;
      }
    }
  }
}
