.facility-room-calendar {
  $caret-width: 30px;
  $color-bg: #f3f3f3;
  $color-bg-selected: #e6e6e6;
  $color-primary: #284890;
  $image-width: 140px;
  $item-border-radius: 4px;
  $item-height: 101px;
  $item-padding: 29px;
  $line-height: 1.5;

  $description-max-height: $line-height * 2em;

  .facility-tab-content[class] {
    border: {
      bottom: solid 4px $color-primary;
      top: solid 4px $color-primary;
    }

    padding: {
      bottom: 31px;
      top: 89px;
    }

    section {
      margin-bottom: 47px;

      h2 {
        font-size: 20px;
        margin: 0 0 25px 0;
        text-align: left;
      }
    }
  }

  .flex-calendar {
    margin-bottom: 14px;
  }

  &-details {
    @include align-items(stretch);
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(flex-start);

    .btn-tertiary {
      @include flex-shrink(0);
      $height: 46px;
      font-size: 16px;
      height: $height;
      line-height: $height;
      width: 212px;

      padding: {
        bottom: 0;
        top: 0;
      }

      @include screen-narrow {
        @include order(10);
      }
    }
  }

  &-grand-total {
    font: {
      size: 16px;
      weight: bold;
    }

    &, strong {
      color: #791e1f;
    }
  }

  &-no-price {
    .facility-room-calendar-price-summary {
      visibility: hidden;
    }
  }

  &-note {
    color: #333;

    font: {
      family: sans-serif;
      size: 12px;
    }
  }

  &-price-summary {
    margin: 12px 0 6px;
    text-align: right;
    width: 100%;

    font: {
      family: sans-serif;
      size: 12px;
    }

    p {
      line-height: 1.5;
      margin: 0 0 4px;
    }

    strong {
      margin: 0 14px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-rooms {
    position: relative;

    a {
      display: block;
      text-decoration: none;

      &:focus, &:hover {
        opacity: 1;

        .facility-room-calendar-rooms-item {
          background: $color-bg-selected;
        }
      }
    }

    &-caret {
      @include align-items(center);
      @include display(flex);
      @include flex-flow(column nowrap);
      @include justify-content(center);
      @include size($caret-width, 100%);
      background: $color-bg-selected;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;

      border: {
        bottom-right-radius: $item-border-radius;
        top-right-radius: $item-border-radius;
      }

      &-symbol {
        @include transition(transform 0.1s linear);
        @include transform(rotate(0deg));
        color: $color-primary;
        display: block;
        will-change: transform;

        font: {
          size: 16px;
          weight: bold;
        }
      }
    }

    &-carousel {
      display: none;

      @include screen-narrow {
        display: block;
      }
    }

    &-current {
      position: relative;

      .facility-room-calendar-rooms-image {
        border: {
          bottom-left-radius: $item-border-radius;
          top-left-radius: $item-border-radius;
        }
      }

      .facility-room-calendar-rooms-item {
        margin-right: $caret-width;

        border: {
          bottom-left-radius: $item-border-radius;
          top-left-radius: $item-border-radius;
        }
      }
    }

    &-expanded {
      .facility-room-calendar-rooms-current {
        z-index: 10;

        .facility-room-calendar-rooms-caret {
          border-bottom-right-radius: 0;

          &-symbol {
            @include transform(rotate(180deg));
          }
        }

        .facility-room-calendar-rooms-image,
        .facility-room-calendar-rooms-item {
          border-bottom-left-radius: 0;
        }
      }

      .facility-room-calendar-rooms-list {
        @include transform(translateY(0));
        opacity: 1;
        visibility: visible;
        z-index: 5;
      }
    }

    &-image {
      float: left;
      height: $item-height;
      margin-left: 0 - $item-padding - $image-width;
      overflow: hidden;
      width: $image-width;

      background: {
        size: cover;
        repeat: no-repeat;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &-item {
      @include clearfix;
      background: $color-bg;
      font-family: sans-serif;
      min-height: $item-height;
      padding: 0 $item-padding 0 ($item-padding + $image-width);

      figcaption {
        padding: 17px 0;
      }

      // NOTE Resetting CSS styles using '*' & '* div' is a poor practice.
      // This causes overrides like the line-height in the following
      // to be needed much more often than necessary.
      h1, &-description {
        line-height: $line-height;
      }

      h1 {
        font: {
          size: 14px;
          weight: 600;
        }

        margin: {
          bottom: 8px;
          top: 0;
        }
      }

      &.facility-room-calendar-rooms-active {
        background: $color-bg-selected;
      }

      &-description {
        font-size: 12px;
        max-height: $description-max-height;
        overflow: hidden;
      }
    }

    &-list {
      @include absolute(100%, 0);
      @include transform(translateY(-1em));
      @include transition(opacity 0.1s linear, transform 0.1s linear);
      opacity: 0;
      visibility: hidden;
      width: 100%;
      will-change: opacity, transform;

      li {
        border-top: solid 1px #fff;

        // sassエラーにつきコメントアウト
        // &:last-child() {
        //   .facility-room-calendar-rooms-image {
        //     border: {
        //       bottom-left-radius: $item-border-radius;
        //     }
        //   }

        //   .facility-room-calendar-rooms-item {
        //     border: {
        //       bottom-left-radius: $item-border-radius;
        //       bottom-right-radius: $item-border-radius;
        //     }
        //   }
        // }
      }
    }

    @include screen-narrow {
      display: none;
    }
  }

  .stay-dates-guests-form {
    @include flex-grow(1);
    margin-right: 10px;
    width: 50%;

    @include screen-narrow {
      margin-right: 0;
      width: 100%;
    }
  }

  @include screen-narrow {
    .facility-tab-content[class] {
      section {
        h2 {
          text-align: center;
        }
      }

      padding: {
        bottom: 40px;
        top: 40px;
      }
    }

    .facility-room-calendar-note {
      display: none;
    }

    .facility-room-calendar-wide {
      display: none !important;
    }

    .facility-room-calendar-details {
      @include align-items(center);
      @include flex-flow(column nowrap);
    }
  }
}
