.facility-room-calendar-rooms-carousel {
  $anim-speed: 0.2s;
  $bg-color: #f3f3f3;
  $bg-color-dark: darken($bg-color, 10%);
  $bg-color-darker: darken($bg-color, 20%);
  $border-radius: 4px;
  $color-primary: #284890;

  @include transition(height $anim-speed ease-out);

  background-color: #f3f3f3;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  will-change: height;

  .carousel {
    &-next {
      right: 0;

      border: {
        bottom-right-radius: $border-radius;
        top-right-radius: $border-radius;
      }
    }

    &-pager {
      @include align-items(center);
      @include display(flex);
      @include flex-flow(row nowrap);
      @include justify-content(center);
      @include transition(background-color $anim-speed linear, opacity $anim-speed linear);

      background: rgba($bg-color, 0) none;
      border: none;
      cursor: pointer;
      height: 100%;
      padding: 0 9px;
      position: absolute;
      top: 0;
      will-change: background-color, opacity;
      z-index: 5;

      &:active {
        background: $bg-color-darker;
      }

      &:focus, &:hover {
        background: $bg-color-dark;
        outline: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.25;
      }

      .fa {
        color: $color-primary;
        font-size: 26px;
      }
    }

    &-prev {
      left: 0;

      border: {
        bottom-left-radius: $border-radius;
        top-left-radius: $border-radius;
      }
    }

    &-viewport {
      @include transition(transform $anim-speed ease-out);

      display: table;
      margin-bottom: 0 !important;
      position: relative;
      table-layout: fixed;
      will-change: transform;
      z-index: 2;

      li {
        display: table-cell;
        width: 100%;
      }

      ul {
        display: table-row;
      }
    }
  }

  &-slide {
    font-family: sans-serif;
    padding: 20px 50px;

    h1 {
      line-height: 1.5;
      margin-bottom: 7px;
      text-align: center;

      font: {
        size: 1em;
        weight: normal;
      }
    }

    .btn {
      box-sizing: border-box;
      display: block;
      font-weight: normal;
      margin: 0 auto;
      min-width: 142px;
      width: 142px;
    }

    .slide {
      &-description {
        line-height: 1.5;
        margin-bottom: 14px;
        max-height: 84px;
        overflow: hidden;
      }

      &-image {
        max-height: 300px;
        overflow: hidden;

        img {
          display: block;
          margin: 0 auto 12px;
          width: 182px;
        }
      }
    }
  }
}
